<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="row" id="table-striped">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">{{ contentHeader.headerTitle }}</h4>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmitSearch()">
              <div class="row">
                <div class="col-md-2">
                  <div class="form-group">
                    <label>Từ ngày</label>
                    <input
                      type="date"
                      name="from_date"
                      [(ngModel)]="searchForm.from_date"
                      class="form-control"                 
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label>Tới ngày</label>
                    <input
                      type="date"
                      name="to_date"
                      [(ngModel)]="searchForm.to_date"
                      class="form-control"                      
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label>Loại phiếu</label>
                    <select
                      class="form-control"
                      name="type"
                      [(ngModel)]="searchForm.type"
                    >
                      <option value="">-- Chọn loại --</option>
                      <option value="{{batchType.INPUT}}">Nhập kho</option>
                      <option value="{{batchType.OUTPUT}}">Xuất kho</option>                      
                      <option value="{{batchType.RETRIEVE}}">Thu hồi</option>                      
                    </select>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <label>Mã</label>
                    <input type="text" class="form-control" name="id" [(ngModel)]="searchForm.id"  >
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <label>Tên kho</label>
                    <ng-select  [(ngModel)]="searchForm.channel_id"
                    name="channel_id"
                     >
                     <ng-option [value]="0"></ng-option>
                      <ng-option *ngFor="let p of listChannel" [value]="p.id">{{
                        p.name
                        }}</ng-option>
                    </ng-select>
                    <!-- <input type="text" class="form-control" name="channel_name" [(ngModel)]="searchForm.channel_name"  > -->
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <label>Trạng thái</label>
                    <select
                      class="form-control"
                      name="status"
                      [(ngModel)]="searchForm.status"
                    >
                      <option value="">-- Chọn trạng thái --</option>
                      <option *ngFor="let item of batchStatusShow | keyvalue" [value]="item.value" [id]="item.key">
                        <span [innerHTML]="item.value | showStatusBatch"></span>
                      </option>                      
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for=""></label>
                    <button type="submit" class="btn btn-block btn-info">
                      Lọc kết quả <span [data-feather]="'search'"></span>
                    </button>
                  </div>
                </div>
                <div class="col-md-2" *ngIf="checkAction('staff/list/excel')">
                  <div class="form-group">
                    <label for=""></label>
                    <button type="button" (click)="onExportExcel()" class="btn btn-block btn-info">
                      Xuất excel <span [data-feather]="'download'"></span>
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <div class="mt-3 mb-3 overflow-hidden">
              <div class="pull-left">
                Tổng: <b>{{ totalItems }}</b>
              </div>
              <div class="pull-right">
                <button
                  *ngIf="checkAction('batch/kinh-doanh')"
                  type="button"
                  (click)="modalOpen(modalCreate)"
                  class="btn btn-success mr-2"
                >
                
                  Nhập kho <span [data-feather]="'upload'"></span>
                </button>

                <a routerLink="/inventory/new-batch-export"
                *ngIf="checkAction('batch/export/create')
                && checkHasPermissionAction(listAdminSellActionCurrent, listAction.CREATE_EXPORT)
                "
                class="btn btn-info mr-2">Xuất kho <span [data-feather]="'download'"></span></a>

                <a routerLink="/inventory/batch/retrieve"
                *ngIf="checkAction('batch/retrieve-channel') 
                && checkHasPermissionAction(listAdminSellActionCurrent, listAction.CREATE_RETRIEVE)
                "
                class="btn btn-info mr-2">Thu hồi về kho cha<span [data-feather]="'rotate-ccw'"></span></a>
              </div>
            </div>
            <div class="table-responsive" *blockUI="'section-block'">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Loại</th>
                    <th>Mã</th>
                    <th>Tiêu đề</th>
                    <th>Số lượng</th>
                    <th>Số lượng đã đẩy</th>                    
                    <th>Trạng thái</th>
                    <th>Thời gian</th>
                    <th>Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of list">
                    <td>
                      {{ item.type | typeBatchForm }}
                    </td>
                    <td>
                      {{ item?.id }}
                    </td>       
                    <td>
                      {{ item?.title }}
                    </td>             
                    <td>
                      {{ item?.quantility }}
                    </td>
                    <td>{{ item?.imported_quantility }}</td>                    
                    <td>
                      <div [innerHTML]="item?.status | showStatusBatch"></div>
                    </td>
                    <td>
                      {{ item?.created_at | date : "dd/MM/yyyy H:mm":'GMT' }}
                    </td>
                    <td class="d-inline-flex">
                      <!-- <a
                        class="ml-1"
                        (click)="modalOpen(modalCreate, item)"
                        title="Chỉnh sửa"
                      >
                        <i
                          data-feather="edit-3"
                          class="text-primary cursor-pointer"
                        ></i>
                      </a> -->
                      <ng-container *ngIf="item.type == batchType.INPUT" >
                      <a
                        class="ml-0"
                        (click)="onViewDetail(modalDetail, item)"
                        title="Xem chi tiết"
                      >
                        <i
                          data-feather="eye"
                          class="text-primary cursor-pointer"
                        ></i>
                      </a>
                      <!-- <a
                      *ngIf="currentUser.id == item.created_by"
                        class="ml-1"
                        (click)="modalOpen(modalUploadData, item)"
                        title="Tải dữ liệu lên"
                      >
                        <i
                          data-feather="upload"
                          class="text-primary cursor-pointer"
                        ></i>
                      </a> -->

                      <a
                        class="ml-1"
                        [routerLink]="['/inventory/list-batch-products']"
                        [queryParams]="{ batch_id: item.id }"
                        title="Xem danh sách"
                      >
                        <i
                          data-feather="list"
                          class="text-primary cursor-pointer"
                        ></i>
                      </a>
                    </ng-container>
                    <ng-container *ngIf="item.type == batchType.OUTPUT || item.type == batchType.RETRIEVE" >
                      <a
                      class="ml-0"  routerLink="/inventory/batch-export/{{item.id}}">
                      <i
                        data-feather="eye"
                        class="text-primary cursor-pointer"
                      ></i>
                    </a>
                    </ng-container>
                    </td>
                  </tr>
                </tbody>
              </table>

              <ngb-pagination
                class="d-flex justify-content-end pr-3 pt-2"
                [collectionSize]="totalItems"
                [(page)]="searchForm.page"
                [pageSize]="searchForm.page_size"
                [boundaryLinks]="true"
                (pageChange)="loadPage($event)"
              >
                <ng-template ngbPaginationPages let-page let-pages="pages">
                  <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
                    <div class="mb-3 d-flex flex-nowrap px-2">
                      <label
                        id="paginationInputLabel"
                        for="paginationInput"
                        class="col-form-label me-2 ms-1"
                        >Trang</label
                      >
                      <input
                        #i
                        type="text"
                        inputmode="numeric"
                        pattern="[0-9]*"
                        class="form-control custom-pages-input"
                        id="paginationInput"
                        [value]="searchForm.page"
                        (keyup.enter)="loadPage(i.value)"
                        (blur)="loadPage(i.value)"
                        (input)="formatInput($any($event).target)"
                        aria-labelledby="paginationInputLabel paginationDescription"
                        style="width: 2.5rem"
                      />
                      <span
                        id="paginationDescription"
                        class="col-form-label text-nowrap px-2"
                      >
                        của {{ pages.length }}</span
                      >
                    </div>
                  </li>
                </ng-template>
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #modalUploadData let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">
      Tải lên dữ liệu lên - Mã phiếu: {{ selectedItem.id }}
    </h5>
    <button
      type="button"
      class="close"
      (click)="modalClose()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <div class="form-group">
      <i class="fa fa-upload" aria-hidden="true"></i>
      <input type="file" (change)="onFileChangeExcel($event)" />
      <label>Tải lên file excel</label>

      <a href="/assets/upload-product.xlsx" class="ml-2">File mẫu tại đây</a>
    </div>    
  </div>
  <div class="modal-footer">
    <button
      (click)="onSubmitUpload()"
      type="submit"
      class="btn btn-primary"
      rippleEffect
    >
      <span
        class="spinner-border spinner-border-sm"
        role="ekyc_status"
        aria-hidden="true"
        *ngIf="submittedUpload"
      ></span>
      Submit
    </button>
  </div>
</ng-template>

<ng-template #modalCreate let-modal>
  <div class="modal-header">
    <h5 class="modal-title text-info" id="myModalLabel160">Nhập kho</h5>
    <button
      type="button"
      class="close"
      (click)="modalClose()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" *blockUI="'item-block'">
    <ng-container *ngIf="listProductInputDup.length < 1">
    <div class="form-group">
      <label for="">Tiêu đề</label>
      <input type="text" class="form-control" [(ngModel)]="dataLo.title" />
    </div>

    <div class="form-group">
      <label>Mã hàng</label>
      <input
        class="form-control"
        type="text"
        [(ngModel)]="dataLo.product_code"
      />
    </div>

    <div class="form-group">
      <label>Tên hàng</label>
      <input
        class="form-control"
        type="text"
        
        [(ngModel)]="dataLo.product_name"
      />
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Dải từ</label>
          <input
            class="form-control"
            type="text"        
            [(ngModel)]="dataLo.key_from"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Dải đến</label>
          <input
            class="form-control"
            type="text"        
            [(ngModel)]="dataLo.key_to"
          />
        </div>
      </div>
    </div>
   
    <div class="form-group">
      <label>Đơn vị tính</label>
      <input
        class="form-control"
        type="text"        
        [(ngModel)]="dataLo.unit"
      />
    </div>

    <div class="form-group">
      <label>Nhập số lượng</label>
      <input
        class="form-control"
        type="text"        
        [(ngModel)]="dataLo.quantility"
      />
    </div>

    <div class="form-group">
      <label for="">Ghi chú</label>
      <input type="text" class="form-control" [(ngModel)]="dataLo.note" />
    </div>
    <div class="form-group">
      <i class="fa fa-upload" aria-hidden="true"></i>
      <input
        type="file"
        (change)="onFileChangeAttach($event)"
        accept="image/png, image/gif, image/jpeg, image/jpg, application/pdf"
      />
      <label>Tải lên Văn bản phê duyệt của Lãnh đạo</label>

    </div>

    <div class="form-group">
      <i class="fa fa-upload" aria-hidden="true"></i>
      <input
        type="file"
        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, .csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
        (change)="onFileChangeExcel($event)"        
      />
      <label>Tải lên file excel danh sách</label>
      <a href="/assets/upload-product.xlsx" class="ml-2">File mẫu tại đây</a>
    </div>
  </ng-container>

    <!-- Truong hop co du lieu trung -->
    <ng-container *ngIf="listProductInputDup.length > 0">
      <div class="row">
        <div class="col-12">
          <p class="text-warning"><i data-feather="alert-triangle" class="cursor-pointer"></i>Sản phẩm trong danh sách bạn đang tải lên đã tồn tại,
            vui lòng kiểm tra lại
            <a csvLink [data]="listDupToExport" class="btn btn-outline-warning float-right btn-sm"
              rippleEffect><i data-feather="download" class="cursor-pointer"></i></a>
          </p>
        </div>
        
      </div>
      <div class="row">
        <div class="col-12">
          <ngx-datatable [rows]="listProductInputDup" rowHeight="auto" class="bootstrap core-bootstrap"
            [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true"
            [limit]="basicSelectedOption">
            <ngx-datatable-column name="Name" prop="name">
              <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                <div class="align-items-center"> 
                  <div class="cell-line-height">
                    <p class="font-medium-1 font-weight-bold line-height-1 mb-25">
                      {{ name }}
                    </p>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>                        
            <ngx-datatable-column name="Nhà mạng" prop="brand"></ngx-datatable-column>

          </ngx-datatable>
        </div>
      </div>
    
      <div class="text-center">
        <button (click)="modalClose()" type="submit" class="btn btn-danger mr-1" rippleEffect>
          Hủy
        </button>
      
        <button (click)="onSubmitUploadLo()" type="submit" class="btn btn-primary" rippleEffect>
          <span class="spinner-border spinner-border-sm" role="ekyc_status" aria-hidden="true" *ngIf="submittedUpload"></span>
          Tiếp tục
        </button>
      </div>
    </ng-container>
    
    
  </div>
  <div class="modal-footer">
    <ng-container *ngIf="listProductInputDup.length < 1">
      <button (click)="onSubmitUploadLo()" type="submit" class="btn btn-primary" rippleEffect>
        <span class="spinner-border spinner-border-sm" role="ekyc_status" aria-hidden="true" *ngIf="submittedUpload"></span>
        Submit
      </button>
    </ng-container>
  </div>
</ng-template>

<ng-template #modalDetail let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Chi tiết</h5>
    <button
      type="button"
      class="close"
      (click)="modalClose()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" *blockUI="'item-block-detail'">
    <div class="row mb-2">
      <div class="col-6"><span>Tiêu đề phiếu: </span> <b>{{ batchdDetail?.title }}</b></div>      
      <div class="col-6"><span>Note: </span> <b>{{ batchdDetail?.note }}</b></div>
      <div class="col-6"><span>Mã hàng: </span> <b>{{ batchdDetail?.product_code }}</b></div>
      <div class="col-6"><span>Tên hàng: </span> <b>{{ batchdDetail?.product_name }}</b></div>
      <div class="col-6"><span>Đơn vị tính: </span> <b>{{ batchdDetail?.unit }}</b></div>
      <div class="col-6"><span>Số lượng: </span> <b>{{ batchdDetail?.quantility }}</b></div>
      <div class="col-6"><span>Dải từ: </span> <b>{{ batchdDetail?.key_from }}</b></div>
      <div class="col-6"><span>Dải đến: </span> <b>{{ batchdDetail?.key_to }}</b></div>

    </div>

    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="">Bổ sung thêm chứng từ</label>
          <input type="file" multiple (change)="onUploadAttachments($event)">
      </div>
      </div>
      
    </div>

    <div class="row" style="height: 550px;
    overflow-y: auto;">
      <div class="col-12">File đính kèm</div>

      <div class="col-12" *ngFor="let item of itemBatch.file">
        <img
        *ngIf="item.ext.includes('png') || item.ext.includes('jpg') || item.ext.includes('jpeg')"
          src="data:image/png;base64,{{ item.base64 }}"
          alt=""
          class="img-fluid"
        />

        <div *ngIf="item.ext.includes('pdf') && item.base64">
          <pdf-viewer [src]="'data:application/pdf;base64,'+item.base64"
              [render-text]="true"
              [original-size]="false"
              [external-link-target]="'blank'"
              style="height: 500px"
            ></pdf-viewer>
        </div>

      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="text-center" *ngIf="listAdminSellAction">
      
      <button
        *ngIf="batchdDetail?.status == batchStatus.INIT
        && checkAction('batch/ke-toan/update-status')
        && checkSellAdminAction(listAction.APPROVE_IMPORT_LEVEL11)        
        && checkHasPermissionAction(listAdminSellAction, listAction.APPROVE_IMPORT_LEVEL11)
        "
        (click)="onUpdateStatus(batchdDetail, batchStatus.APPROVED_BY_ACCOUNTANT)"
        class="btn btn-info btn-sm mb-2"
      >
        <i data-feather="check" class="text-white cursor-pointer"></i> Duyệt
      </button>

      <button
        *ngIf="batchdDetail?.status == batchStatus.INIT
        && checkAction('batch/ke-toan/update-status')
        && checkSellAdminAction(listAction.APPROVE_IMPORT_LEVEL11)        
        && checkHasPermissionAction(listAdminSellAction, listAction.APPROVE_IMPORT_LEVEL11)
        "
        (click)="onUpdateStatus(batchdDetail, batchStatus.CANCEL_BY_ACCOUNTANT)"
        class="btn btn-danger btn-sm mb-2"
      >
        <i data-feather="x-circle" class="text-white cursor-pointer"></i> Từ chối
      </button>

      <!-- <button
        *ngIf="itemBatch.status == batchStatus.INIT"
        (click)="onUpdateStatus(batchdDetail, -1)"
        class="ml-2 btn btn-warning btn-sm mb-2"
      >
        <i data-feather="alert-triangle" class="text-white cursor-pointer"></i>
        Từ chối duyệt
      </button> -->

      <button
        *ngIf="
        (itemBatch.status == batchStatus.APPROVED_BY_ACCOUNTANT
        || (itemBatch.status == batchStatus.INIT && checkSellAdminAction(listAction.APPROVE_IMPORT_LEVEL11, true)))                                            
        && checkHasPermissionAction(listAdminSellAction, listAction.APPROVE_IMPORT_LAST)
        && checkAction('batch/van-phong/update-status')
        "
        (click)="onUpdateStatus(batchdDetail, batchStatus.APPROVED)"
        class="ml-2 btn btn-info btn-sm mb-2"
      >
      <i data-feather="check" class="text-white cursor-pointer"></i> Duyệt
      </button>

      <button
        *ngIf="(itemBatch.status == batchStatus.APPROVED_BY_ACCOUNTANT
        || (itemBatch.status == batchStatus.INIT && checkSellAdminAction(listAction.APPROVE_IMPORT_LEVEL11, true)))                                            
        && checkHasPermissionAction(listAdminSellAction, listAction.APPROVE_IMPORT_LAST)
        && checkAction('batch/van-phong/update-status')
        "
        (click)="onUpdateStatus(batchdDetail, batchStatus.CANCEL_BY_OFFICE)"
        class="ml-2 btn btn-danger btn-sm mb-2"
      >
      <i data-feather="x-circle" class="text-white cursor-pointer"></i> Từ chối
      </button>

      <!-- <button
        *ngIf="itemBatch.status == batchStatus.APPROVED
        && checkAction('batch/update-status-complete')
        "
        (click)="onUpdateStatus(batchdDetail, batchStatus.COMPLETED)"
        class="ml-2 btn btn-info btn-sm mb-2"
      >
      <i data-feather="check" class="text-white cursor-pointer"></i> Hoàn thành
      </button> -->
    </div>
  </div>
</ng-template>
