.nav-vertical .nav.nav-tabs.nav-left .tab-content .tab-pane {
    overflow: hidden !important;
}
#user-profile .tab-pane {
    overflow: hidden !important;
}
#user-profile {
    .tab-pane  {
        overflow: hidden !important;
    }
}
 