<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <div class="row" id="table-striped">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{ contentHeader.headerTitle }}</h4>
                    </div>

                    <div class="card-body">
                        <form class="form form-vertical">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="first-name-vertical">Mã đon giao vật tư</label>
                                        <input type="text" id="first-name-vertical" class="form-control" name="code"
                                            placeholder="Mã đơn giao vật tư" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="email-id-vertical">Mã ruộng</label>
                                        <input type="text" id="email-id-vertical" class="form-control" name="field_code"
                                            placeholder="Mã ruộng" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="contact-info-vertical">SĐT Nông dân</label>
                                        <input type="text" id="contact-info-vertical" class="form-control"
                                            name="user_phone" placeholder="Mobile" />
                                    </div>
                                </div>
                            </div>
                            <!--agencty-->
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="contact-info-vertical">Mã ĐL cấp 1</label>
                                        <input type="text" id="contact-info-vertical" class="form-control"
                                            name="agency_code_c1" placeholder="Mã" />
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="contact-info-vertical">Tên ĐL cấp 1</label>
                                        <input type="text" id="contact-info-vertical" class="form-control"
                                            name="agency_name_c1" placeholder="Tên" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="contact-info-vertical">SĐT ĐL cấp 1</label>
                                        <input type="text" id="contact-info-vertical" class="form-control"
                                            name="agency_mobile_c1" placeholder="SDT" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="contact-info-vertical">Địa chỉ ĐL cấp 1</label>
                                        <input type="text" id="contact-info-vertical" class="form-control"
                                            name="agency_address_c1" placeholder="Địa chỉ" />
                                    </div>
                                </div>
                            </div>




                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="contact-info-vertical">Mã ĐL cấp 2</label>
                                        <input type="text" id="contact-info-vertical" class="form-control"
                                            name="agency_code_c2" placeholder="Mã" />
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="contact-info-vertical">Tên ĐL cấp 2</label>
                                        <input type="text" id="contact-info-vertical" class="form-control"
                                            name="agency_name_c2" placeholder="Tên" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="contact-info-vertical">SĐT ĐL cấp 2</label>
                                        <input type="text" id="contact-info-vertical" class="form-control"
                                            name="agency_mobile_c2" placeholder="SDT" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="contact-info-vertical">Địa chỉ ĐL cấp 2</label>
                                        <input type="text" id="contact-info-vertical" class="form-control"
                                            name="agency_address_c2" placeholder="Địa chỉ" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="contact-info-vertical">Tổng tiền</label>
                                        <input type="number" id="contact-info-vertical" class="form-control"
                                            name="amount" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="contact-info-vertical">Phí</label>
                                        <input type="number" id="contact-info-vertical" class="form-control" value=0
                                            name="fee" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="contact-info-vertical">Thời gian giao dự kiến</label>
                                        <input type="text" id="contact-info-vertical" class="form-control"
                                            name="fedeliver_ate" placeholder="" />
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Mô tả</span>
                                        </div>
                                        <textarea class="form-control" aria-label="desc" name="desc"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="submit" rippleEffect class="btn btn-primary mr-1">Submit</button>
                                    <button type="reset" rippleEffect class="btn btn-outline-secondary">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>