<div class="content-wrapper container-xxl p-0" *blockUI="'section-block'">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <div class="row">
            
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center">Tìm kiếm</h3>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="">Chọn kho số</label>
                              <ng-select [disabled]="disableSelectParent" [(ngModel)]="searchForm.channel_id"
                                (search)="onSearchParentChannel($event)" (change)="onChangeParentChannel()">
                                <ng-option *ngFor="let p of listChannel" [value]="p.id.toString()">{{
                                  p.name
                                  }}</ng-option>
                              </ng-select>
                            </div>
                          </div>    

                          <div class="col-md-4">
                            <div class="form-group">
                              <label></label>
                              <div>
                                Tất cả
                              <input type="checkbox"                             
                              [(ngModel)]="retrieveForm.retrieve_all">
                              </div>
                              
                            </div>
                          </div> 
                          
                          <div class="col-md-4" *ngIf="!retrieveForm.retrieve_all
                          ">
                            <div class="form-group">
                              <label for="">Số lượng tối đa lấy ra</label>
                              <input type="text" class="form-control" [(ngModel)]="searchFormProduct.take">
                            </div>
                          </div> 

                          <ng-container  >
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Loại sản phẩm</label>
                                    <select name="" id="" class="form-control"
                                    [(ngModel)]="searchForm.category_id"
                                    (change)="onChangeCategory($event)"
                                    >
                                        <option value="">Chọn loại sản phẩm</option>
                                        <option value="2">SIM</option>
                                        <option value="3">Số</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Thuộc tính</label>
                                    <ng-select                                    
                                    [(ngModel)]="selectedAttributes"
                                    >
                                      <ng-option *ngFor="let p of listAttribute" [value]="p.id">{{
                                        p.name
                                        }}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Nhà mạng</label>
                                    <select name="" id="" class="form-control"
                                    [(ngModel)]="searchForm.brand"
                                    >
                                        <option value="">-- Chọn nhà mạng --</option>
                                        <option value="VNP">Vinaphone</option>
                                        <option value="VMS">Mobifone</option>
                                        <option value="VNM">Vietnammobile</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Dải từ</label>
                                    <input type="text"                                     
                                    [specialCharacters]="['*']"                                                         
                                    mask="9999999999"
                                    [dropSpecialCharacters]="false"
                                    class="form-control" placeholder="099697****"
                                    [(ngModel)]="searchForm.key_from"
                                    >
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Dải đến</label>
                                    <input type="text" 
                                    [specialCharacters]="['*']"                                    
                                    mask="9999999999"
                                    [dropSpecialCharacters]="false"
                                    class="form-control" [(ngModel)]="searchForm.key_to" placeholder="099698****">
                                </div>
                            </div>                            
                          </ng-container>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="">Trạng thái</label>
                              <select
                              class="form-control"
                              name="status"
                              [(ngModel)]="searchForm.status"
                            >
                              <option value="">-- Chọn trạng thái --</option>
                              <option
                                *ngFor="let item of listStatus | keyvalue"
                                [value]="item.value"
                                [id]="item.key"
                              >
                                <span
                                  [innerHTML]="item.value | showStatusProduct"
                                ></span>
                              </option>
                            </select>
                            </div>
                        </div> 
                            <div class="col-md-4" *ngIf="!retrieveForm.retrieve_all">
                              <div class="form-group">
                                <label></label>
                                <button type="button" (click)="searchProductStore()" class="btn d-block btn-info mb-1" rippleEffect><span [data-feather]="'search'"
                                  [class]="'mr-25'"></span>Lọc</button>
                              </div>
                            </div>

                            <div class="col-md-6" >
                              <div class="input-group">
                                <!-- <label for="basicInputFile">Tìm trong file excel</label> -->
                                <div class="custom-file">
                                  <input #fileExcel type="file" class="custom-file-input" id="customFile" (change)="onSelectFileExcel($event)"
                                  (click)="this.value=null" />
                                  <label class="custom-file-label" for="customFile">Tìm bằng file excel</label>
                                  
                                </div>
                                <a *ngIf="!currentExcelFileSearch" href="/assets/search-product.xlsx" class="ml-2">File mẫu tại đây</a>
                                <button *ngIf="currentExcelFileSearch" (click)="onRemoveFileExcel()" type="button" rippleeffect="" class="ml-1 btn btn-outline-primary waves-effect">Bỏ chọn file</button>
                              </div>
                              <small *ngIf="currentExcelFileSearch">{{ currentExcelFileSearch?.name }}</small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 text-center">

                                   <button type="button" 
                                 (click)="modalOpen(modalUpdateAttributeBatch)" class="btn btn-success mb-1 mr-5" rippleEffect><span
                                   ></span>Cập nhật sản phẩm bằng file</button>
                                  
                                   <ng-container *ngIf="currentChannel">
                                  <button type="button" [disabled]="selectedItems.length < 1 && !retrieveForm.retrieve_all"
                                    (click)="onUpdateStatusProduct(productStatus.STATUS_AVAILABLE)" class="btn btn-warning mb-1 mr-2" rippleEffect><span
                                      [data-feather]="'unlock'"></span>Mở bán số</button>
                                  
                                  <button type="button" [disabled]="selectedItems.length < 1 && !retrieveForm.retrieve_all"
                                    (click)="onUpdateStatusProduct(productStatus.LOCKED_BY_ADMIN)" class="btn btn-warning mb-1 mr-2" rippleEffect><span
                                      [data-feather]="'lock'"></span>Khóa số</button>
                                  </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" *ngIf="!retrieveForm.retrieve_all">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                <div>
                    <h4 class="text-center">Kết quả tìm kiếm</h4>
                </div>
                
                <div class="row">                    
                    <div class="col-md-6 col-12">
                      <ng-container>
                        <div class="d-flex justify-content-between align-items-center m-1">
                          <label class="d-flex align-items-center">Xem
                            <select class="form-control mx-25" [(ngModel)]="basicSelectedOption">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option>
                            </select>
                            dòng</label>
                        </div>
                      </ng-container>
                    </div>
                    <div class="col-md-6 col-12 d-flex justify-content-md-end">
                      <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                        <label class="d-flex align-items-center"
                          >Tìm<input
                            type="text"
                            placeholder="Nhập từ khóa ..."
                            class="form-control ml-25"
                            (keyup)="filterList($event)"
                        /></label>
                      </div>
                    </div>
                  </div>
                  <ngx-datatable
                    [rows]="tempList"
                    rowHeight="auto"
                    class="bootstrap core-bootstrap"
                    [limit]="10"
                    [columnMode]="'force'"
                    [headerHeight]="40"
                    [footerHeight]="50"
                    [scrollbarH]="true"
                    [selectionType]="'checkbox'"
                    [limit]="basicSelectedOption"
                    (select)="onSelect($event)"
                    [messages]="{emptyMessage: 'Không tìm thấy'}"
                  >
                    <ngx-datatable-column
                      [width]="50"
                      [sortable]="false"
                      [canAutoResize]="false"
                      [draggable]="false"
                      [resizeable]="false"
                    >
                      <ng-template
                        ngx-datatable-header-template
                        let-value="value"
                        let-allRowsSelected="allRowsSelected"
                        let-selectFn="selectFn"
                      >
                        <div class="custom-control custom-checkbox">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            [checked]="allRowsSelected"
                            (change)="selectFn(!allRowsSelected)"
                            id="headerChkbxRef"
                          />
                          <label class="custom-control-label" for="headerChkbxRef"></label>
                        </div>
                      </ng-template>
                      <ng-template
                        ngx-datatable-cell-template
                        let-rowIndex="rowIndex"
                        let-value="value"
                        let-isSelected="isSelected"
                        let-onCheckboxChangeFn="onCheckboxChangeFn"
                      >
                        <div class="custom-control custom-checkbox">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            [checked]="isSelected"
                            (change)="onCheckboxChangeFn($event)"
                            id="rowChkbxRef{{ rowIndex }}"
                          />
                          <label class="custom-control-label" for="rowChkbxRef{{ rowIndex }}"></label>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Tên" prop="name" >
                      <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                        <div class="align-items-center">                          
                          <div class="cell-line-height">
                            <p class="font-medium-1 font-weight-bold line-height-1 mb-25">
                              {{ name }}
                            </p>                           
                          </div>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Trạng thái" prop="status">
                      <ng-template  let-value="value" ngx-datatable-cell-template>
                        <p [innerHTML]="value | showStatusProduct"></p>                        
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Nhà mạng" prop="brand"></ngx-datatable-column>                  
                    <!-- <ngx-datatable-column name="Actions"  [sortable]="false">
                      <ng-template ngx-datatable-cell-template>
                        <div class="d-flex align-items-center">
                                  
                          <i data-feather="edit" class="text-primary cursor-pointer"></i>
                        </div>
                      </ng-template>
                    </ngx-datatable-column> -->
                  </ngx-datatable>

                </div>
                </div>
            </div>

            <div class="col-md-1">
                <div class="form-group text-center mt-5">
                    <label></label>
                    <button (click)="onAddItems()" type="button" class="btn btn-sm btn-info mb-1" rippleEffect><span [data-feather]="'chevrons-right'"
                            [class]="'mr-25'"></span>Thêm</button>                    
                </div>
            
            </div>

            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                <div>
                    <h4 class="text-center">Đã chọn</h4>
                </div>
                
                <div class="row">                    
                    <div class="col-md-6 col-12">
                      <div class="d-flex justify-content-between align-items-center m-1">
                        <label class="d-flex align-items-center"
                          >Xem
                          <select class="form-control mx-25" [(ngModel)]="basicSelectedOption">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                          </select>
                          dòng</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 col-12 d-flex justify-content-md-end">
                      <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                        <label class="d-flex align-items-center"
                          >Tìm<input
                            type="search"
                            placeholder="Nhập từ khóa..."
                            class="form-control ml-25"
                            (keyup)="filterListSeleted($event)"
                        /></label>
                      </div>
                    </div>
                  </div>
                  <ngx-datatable                           
                    [rows]="tempSelectedItems"
                    rowHeight="auto"
                    class="bootstrap core-bootstrap"
                    [limit]="10"
                    [columnMode]="'force'"
                    [headerHeight]="40"
                    [footerHeight]="50"
                    [scrollbarH]="true"
                    [selectionType]="'checkbox'"
                    [limit]="basicSelectedOption" 
                    (select)="onSelectToRemove($event)"
                    [messages]="{emptyMessage: 'Không tìm thấy'}"
                  >
                    <ngx-datatable-column
                      [width]="50"
                      [sortable]="false"
                      [canAutoResize]="false"
                      [draggable]="false"
                      [resizeable]="false"
                    >
                      <ng-template
                        ngx-datatable-header-template
                        let-value="value"
                        let-allRowsSelected="allRowsSelected"
                        let-selectFn="selectFn"
                      >
                        <div class="custom-control custom-checkbox">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            [checked]="allRowsSelected"
                            (change)="selectFn(!allRowsSelected)"
                            id="headerChkbxRef"
                          />
                          <label class="custom-control-label" for="headerChkbxRef"></label>
                        </div>
                      </ng-template>
                      <ng-template
                        ngx-datatable-cell-template
                        let-rowIndex="rowIndex"
                        let-value="value"
                        let-isSelected="isSelected"
                        let-onCheckboxChangeFn="onCheckboxChangeFn"
                      >
                        <div class="custom-control custom-checkbox">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            [checked]="isSelected"
                            (change)="onCheckboxChangeFn($event)"
                            id="rowChkbxRef{{ rowIndex }}"
                          />
                          <label class="custom-control-label" for="rowChkbxRef{{ rowIndex }}"></label>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Tên" prop="name" [resizeable]="false" >
                      <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                        <div class="align-items-center">                          
                          <div class="cell-line-height">
                            <p class="font-medium-1 font-weight-bold line-height-1 mb-25">
                              {{ name }}
                            </p>                           
                          </div>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Nhà mạng" prop="brand"></ngx-datatable-column>
                    <ngx-datatable-column name="Thao tác"  [sortable]="false" prop="name">
                      <ng-template ngx-datatable-cell-template let-value="value">
                        <div class="d-flex align-items-center">
                            <a (click)="onRemove(value)"><i data-feather="trash"  class="text-primary cursor-pointer"></i></a>
                          
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>

                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalUpdatePriceBatch let-modal>
  <div class="modal-header">
    <h5 class="modal-title text-info" id="myModalLabel160">Cập nhật giá sản phẩm</h5>
    <button
      type="button"
      class="close"
      (click)="modalClose()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" *blockUI="'item-block'">   
    <div class="form-group">
      <i class="fa fa-upload" aria-hidden="true"></i>
      <input type="file" (change)="onFileChangeExcel($event)" />
      <label>Tải lên file excel</label>

      <a href="/assets/update-price.xlsx" class="ml-2">File mẫu tại đây</a>
    </div> 
  </div>

  <div class="modal-footer">
    <button
      (click)="onSubmitUpdatePriceBatch()"
      [disabled]="submitted"
      type="submit"
      class="btn btn-primary"
      rippleEffect
    >
      <span
        class="spinner-border spinner-border-sm"
        role="ekyc_status"
        aria-hidden="true"
        *ngIf="submitted"
      ></span>
      Submit
    </button>
  </div>
</ng-template>

<ng-template #modalUpdatePrice let-modal>
    <div class="modal-header">
      <h5 class="modal-title text-info" id="myModalLabel160">Cập nhật giá sản phẩm</h5>
      <button
        type="button"
        class="close"
        (click)="modalClose()"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" tabindex="0" *blockUI="'item-block'">       
        <div class="row mb-1">
            <div class="col-md-4">
                <div class="form-check form-check-inline change_type"><input type="radio" name="price_action" 
                    [(ngModel)]="dataUpdatePrice.change_type"
                    (change)="onChangeType()"
                    value="{{ listPriceAction.FIX }}"  class="form-check-input"><label 
                    
                    class="form-check-label">Thay đổi giá bán</label></div>
            </div>
            <div class="col-md-8">
                <div class="form-check-inline">
                    <input type="text" *ngIf="dataUpdatePrice.change_type == listPriceAction.FIX" 
                    [(ngModel)]="dataUpdatePrice.change_value"
                    
                    mask="separator"
                    thousandSeparator=","
                    placeholder="Nhập số tiền/sản phẩm" class="form-control">
                </div>
            </div>
            
           
        </div>

        <div class="row mb-1">
            <div class="col-md-4">
                <div class="form-check form-check-inline change_type"><input type="radio" name="price_action" 
                    [(ngModel)]="dataUpdatePrice.change_type"
                    (change)="onChangeType()"
                    value="{{ listPriceAction.PERCENT }}"  class="form-check-input"><label 
                    
                    class="form-check-label">Cộng thêm % giá bán</label></div>
            </div>
            <div class="col-md-8">
                <div class="form-check-inline">
                    <input *ngIf="dataUpdatePrice.change_type == listPriceAction.PERCENT" 
                    [(ngModel)]="dataUpdatePrice.change_value"
                    
                    [allowNegativeNumbers]="true"
                    type="text" placeholder="Nhập số %/sản phẩm"  class="form-control">
                </div>
            </div>
            
        </div>

        <div class="row mb-1">
            <div class="col-md-4">
                <div class="form-check form-check-inline change_type"><input type="radio" name="price_action" 
                    [(ngModel)]="dataUpdatePrice.change_type"
                    (change)="onChangeType()"
                    value="{{ listPriceAction.ADD }}" class="form-check-input"><label 
                    
                    class="form-check-label">Cộng tiền giá bán</label></div>
            </div>
            <div class="col-md-8">
                <div class="form-check-inline">
                    <input *ngIf="dataUpdatePrice.change_type == listPriceAction.ADD" 
                    [(ngModel)]="dataUpdatePrice.change_value"
                   
                    mask="separator"
                    thousandSeparator=","
                    [allowNegativeNumbers]="true"
                    type="text" placeholder="Nhập số tiền/sản phẩm" class="form-control">
                </div>
            </div>
            
        </div>
        <div class="text-center">
            <b>Lưu ý: Hành động sẽ được áp dụng cho toàn bộ danh sách đã chọn</b>
        </div>
    </div>
    <div class="modal-footer text-center">
        <button (click)="onSubmitData()" type="button" class="btn btn-warning mb-1" rippleEffect><span
            [class]="'mr-25'"></span>Hoàn thành</button>
    </div>
</ng-template>


<ng-template #modalUpdateAttributeBatch let-modal>
  <div class="modal-header">
    <h5 class="modal-title text-info" id="myModalLabel160">Cập nhật sản phẩm</h5>
    <button
      type="button"
      class="close"
      (click)="modalClose()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" *blockUI="'item-block'">   
    <div class="form-group" *ngIf="listProductFail.length < 1">
      <i class="fa fa-upload" aria-hidden="true"></i>
      <input type="file" (change)="onFileChangeExcel($event)" />
      <label>Tải lên file excel</label>

      <a href="/assets/update_attributes.xlsx" class="ml-2">File mẫu tại đây</a>
    </div> 

    <ng-container *ngIf="listProductFail.length > 0">
      <div class="row">
        <div class="col-12">
          <p class="text-warning"><i data-feather="alert-triangle" class="cursor-pointer"></i>{{ listProductFail.length
            }} sản phẩm không cập nhật được. Lý do: <b>{{ reasonFail }}</b>

            <a csvLink [data]="listProductFail" class="btn btn-outline-warning float-right btn-sm" rippleEffect><i
                data-feather="download" class="cursor-pointer"></i></a>
          </p>
        </div>

      </div>
      <div class="row">
        <div class="col-12">
          <ngx-datatable [rows]="listProductFail" [rowHeight]="58" class="bootstrap core-bootstrap"
            [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true"
            [limit]="basicSelectedOption">
            <ngx-datatable-column name="Name" prop="name"></ngx-datatable-column>            
          </ngx-datatable>
        </div>
      </div>

    </ng-container>

  </div>

  <div class="modal-footer">
    <button
    *ngIf="listProductFail.length < 1"
      (click)="onSubmitUpdateAttributeBatch()"
      [disabled]="submitted"
      type="submit"
      class="btn btn-primary"
      rippleEffect
    >
      <span
        class="spinner-border spinner-border-sm"
        role="ekyc_status"
        aria-hidden="true"
        *ngIf="submitted"
      ></span>
      Submit
    </button>
  </div>
</ng-template>