<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <div class="row" id="table-striped">
            <div class="col-12">
                <div class="card">
                    
                    <div class="card-body">
                        
                        <div class="row" >
                            <div  class="col-6">
                              <h4>{{ contentHeader.headerTitle }}</h4>
                              <div class="col border-primary rounded bg-light">
                                <p class="mt-1"><b>Số thuê bao : </b> 09933 </p>
                                <div>
                                    <b>Số thuê bao : </b> 
                                    
                                                               
                                   
                                </div>
                                
                                <p><b>Số thuê bao : </b> 09933 </p>
                                <p><b>Số thuê bao : </b> 09933 </p>
                                <p><b>Số thuê bao : </b> 09933 </p>
                                <p><b>Số thuê bao : </b> 09933 </p>
                                <p><b>Số thuê bao : </b> 09933 </p>
                                <p><b>Số thuê bao : </b> 09933 </p>

                              </div>
                            </div>

                            <div class="col-6" >
                              <h4>Lịch sử thanh toán</h4>
                              <p>Some text..</p>
                            </div>
                          </div>
                
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>