<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="row" id="table-striped">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">{{ contentHeader.headerTitle }}</h4>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmitSearch()">
              <div class="row mb-2">
                <div class="col-md-3">
                  <div class="form-group">
                    <select
                      class="form-control"
                      name="status"
                      [(ngModel)]="searchForm.status"
                    >
                      <option value="">Chọn trạng thái chương trình</option>

                      <option value="1">Bật</option>
                      <option value="0">Tắt</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <input
                      type="text"
                      placeholder="Khoảng thời gian"
                      autocomplete="off"
                      [ngModelOptions]="{ standalone: true }"
                      ngxDaterangepickerMd
                      [(ngModel)]="dateRange"
                      [ranges]="ranges"
                      [locale]="{ applyLabel: 'Chọn', format: 'DD/MM/YYYY' }"
                      [showCustomRangeLabel]="true"
                      [alwaysShowCalendars]="true"
                      name="date_range"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <button type="submit" class="btn btn-block btn-info">
                      <span [data-feather]="'search'"></span> Lọc kết quả
                    </button>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="">
                    <button
                      type="button"
                      class="btn btn-success"
                      (click)="modalOpen(modalCreate)"
                    >
                      <span [data-feather]="'plus'"></span>Thêm chương trình
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Tên chương trình</th>
                    <th>Dịch vụ</th>
                    <th>Khoảng thời gian</th>
                    <th>Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of list">
                    <td>{{ item?.name }}</td>
                    <td>{{ item?.service_code }}</td>
                    <td>
                      {{ item?.start_date | date : "dd/MM/yyyy" }} -
                      {{ item?.end_date | date : "dd/MM/yyyy" }}
                    </td>
                    <td>
                      <a (click)="modalOpen(modalTransWh, item)">
                        <i
                          data-feather="eye"
                          class="text-primary cursor-pointer"
                        ></i>
                      </a>
                      <a
                        class="ml-2"
                        (click)="onSubmitLock(item.id, 0)"
                        *ngIf="item.status"
                      >
                        <i
                          data-feather="unlock"
                          class="text-primary cursor-pointer"
                        ></i>
                      </a>
                      <a
                        class="ml-2"
                        (click)="onSubmitLock(item.id, 1)"
                        *ngIf="!item.status"
                      >
                        <i
                          data-feather="lock"
                          class="text-primary cursor-pointer"
                        ></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>

              <ngb-pagination
                class="d-flex justify-content-end pr-3 pt-2"
                [collectionSize]="totalItems"
                [(page)]="searchForm.page"
                [pageSize]="searchForm.page_size"
                [boundaryLinks]="true"
                (pageChange)="loadPage($event)"
              >
                <ng-template ngbPaginationPages let-page let-pages="pages">
                  <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
                    <div class="mb-3 d-flex flex-nowrap px-2">
                      <label
                        id="paginationInputLabel"
                        for="paginationInput"
                        class="col-form-label me-2 ms-1"
                        >Trang</label
                      >
                      <input
                        #i
                        type="text"
                        inputmode="numeric"
                        pattern="[0-9]*"
                        class="form-control custom-pages-input"
                        id="paginationInput"
                        [value]="searchForm.page"
                        (keyup.enter)="loadPage(i.value)"
                        (blur)="loadPage(i.value)"
                        (input)="formatInput($any($event).target)"
                        aria-labelledby="paginationInputLabel paginationDescription"
                        style="width: 4.5rem"
                      />
                      <span
                        id="paginationDescription"
                        class="col-form-label text-nowrap px-2"
                      >
                        của {{ pages.length }}</span
                      >
                    </div>
                  </li>
                </ng-template>
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalCreate let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">{{ titleModal }}</h5>
    <button
      type="button"
      class="close"
      (click)="modalClose()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" tabindex="0" *blockUI="'item-block'">
    <form [formGroup]="form">
      <div class="form-group">
        <label>Tên chương trình (*)</label>
        <input
          class="form-control"
          type="text"
          name="name"
          formControlName="name"
        />
      </div>

      <div class="form-group">
        <label for="">Chọn dịch vụ</label>
        <!-- <input type="text" class="form-control" (input)="onSearch($event)" placeholder="Tìm kiếm" /> -->
        <div class="demo-inline-spaci ng">
          <div
            class="custom-control custom-checkbox"
            *ngFor="let item of listServices"
          >
            <input
              [checked]="arrayServiceIds.includes(item.id)"
              type="checkbox"
              [value]="item.id"
              class="custom-control-input"
              id="{{ item.id }}"
              type="checkbox"
              name="choose"
              class="custom-control-input"
              (change)="onChangeCheckBox($event, item)"
            />
            <label for="{{ item.code }}" class="custom-control-label">{{
              item.code
            }}</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Khoảng thời gian (*)</label>
        <input
          class="form-control"
          ngxDaterangepickerMd
          [(ngModel)]="dateRange"
          [ngModelOptions]="{ standalone: true }"
          [ranges]="ranges"
          [locale]="{ applyLabel: 'Chọn', format: 'DD/MM/YYYY' }"
          [showCustomRangeLabel]="true"
          [alwaysShowCalendars]="true"
          name="daterange"
        />
      </div>

      <div class="form-group">
        <label>Ảnh giấy quyết định phê duyệt (*)</label>
        <input
          class="form-control"
          (change)="onSelectFileFront($event)"
          accept="image/png, image/gif, image/jpeg, image/jpg"
          type="file"
        />
      </div>

      <div class="form-group">
        <form [formGroup]="form">
          <button (click)="addCreds()" class="btn btn-facebook" rippleEffect>
            <span [data-feather]="'plus'"></span>
          </button>
          <div class="row mt-1">
            <div class="col-4"><label>Số tiền Từ</label></div>
            <div class="col-4"><label>Đến</label></div>
            <div class="col-3"><label>Chiết khấu (%)</label></div>
            <div class="col-1"><label></label></div>

          </div>
          <div
            formArrayName="items"
            *ngFor="let creds of form.controls.items.controls; let i = index"
          >
            <ng-container [formGroupName]="i">
              <div class="row">
                <div class="col-4">
                  <input
                    placeholder="Từ"
                    mask="separator"
                    thousandSeparator=","
                    [attr.disabled]="disableInput[i] ? '' : null"
                    formControlName="start_money"
                    class="form-control mt-1"
                  />
                </div>

                <div class="col-4">
                  <input
                    placeholder="Đến"
                    mask="separator"
                    thousandSeparator=","
                    (blur)="onInputEndAmount($event, i)"
                    formControlName="end_money"
                    class="form-control mt-1"
                  />
                </div>

                <div class="col-3">
                  <input
                    mask="separator.2"
                    placeholder="Chiết khấu (%)"
                    formControlName="value"
                    class="form-control mt-1"
                  />
                </div>

                <div class="col-1">
                  <button
                    (click)="removeCreds(i)"
                    class="btn btn-facebook mt-1 center form-control"
                    rippleEffect
                  >
                    <span [data-feather]="'minus'"></span>
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
        </form>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <a (click)="onCreate()">
      <button type="submit" class="btn btn-primary" rippleEffect>Tạo</button>
    </a>
  </div>

</ng-template>

<ng-template #modalTransWh let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Chi tiết chương trình</h5>
    <button
      type="button"
      class="close"
      (click)="modalClose()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Khoảng tiền</th>
            <th>Chiết khấu</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listDiscount">
            <td>
              {{ item?.start_money | formatPrice }} -
              {{ item?.end_money | formatPrice }}
            </td>
            <td>
              {{ item?.value }} <span *ngIf="item?.unit == 'RATIO'">%</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button
      (click)="modalClose()"
      type="submit"
      class="btn btn-primary"
      rippleEffect
    >
      Đóng
    </button>
  </div>
</ng-template>
