<div class="content-wrapper container-xxl p-0" *blockUI="'section-block'">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <div class="row">
            
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center">Tìm kiếm</h3>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="">{{ titleFromChannel }}</label>
                              <ng-select [disabled]="disableSelectParent" [(ngModel)]="searchForm.channel_id"
                                (search)="onSearchParentChannel($event)" (change)="onChangeParentChannel()">
                                <ng-option *ngFor="let p of listChannel" [value]="p.id">{{
                                  p.name
                                  }}</ng-option>
                              </ng-select>
                            </div>
                          </div>    

                          <div class="col-md-4" *ngIf="typeCurrentBatch && typeCurrentBatch == listBatchType.RETRIEVE">
                            <div class="form-group">
                              <label></label>
                              <div>
                                Thu hồi tất cả
                              <input type="checkbox"                             
                              [(ngModel)]="retrieveForm.retrieve_all">
                              </div>
                              
                            </div>
                          </div> 
                          
                          <div class="col-md-4" *ngIf="typeCurrentBatch && typeCurrentBatch == listBatchType.RETRIEVE
                          && !retrieveForm.retrieve_all
                          ">
                            <div class="form-group">
                              <label for="">Số lượng tối đa lấy ra</label>
                              <input type="text" class="form-control" [(ngModel)]="searchFormProduct.take">
                            </div>
                          </div> 

                          <ng-container *ngIf="typeCurrentBatch && typeCurrentBatch != listBatchType.RETRIEVE" >
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Loại sản phẩm</label>
                                    <select name="" id="" class="form-control"
                                    [(ngModel)]="searchForm.category_id"
                                    (change)="onChangeCategory($event)"
                                    >
                                        <option value="">Chọn loại sản phẩm</option>
                                        <option value="2">SIM</option>
                                        <option value="3">Số</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Thuộc tính</label>
                                    <ng-select                                    
                                    [(ngModel)]="selectedAttributes"
                                    >
                                      <ng-option *ngFor="let p of listAttribute" [value]="p.id">{{
                                        p.name
                                        }}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Nhà mạng</label>
                                    <select name="" id="" class="form-control"
                                    [(ngModel)]="searchForm.brand"
                                    >
                                        <option value="">-- Chọn nhà mạng --</option>
                                        <option value="VNP">Vinaphone</option>
                                        <option value="VMS">Mobifone</option>
                                        <option value="VNM">Vietnammobile</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Dải từ</label>
                                    <input type="text"                                     
                                    [specialCharacters]="['*']"                                                         
                                    mask="9999999999"
                                    [dropSpecialCharacters]="false"
                                    class="form-control" placeholder="099697****"
                                    [(ngModel)]="searchForm.key_from"
                                    >
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Dải đến</label>
                                    <input type="text" 
                                    [specialCharacters]="['*']"                                    
                                    mask="9999999999"
                                    [dropSpecialCharacters]="false"
                                    class="form-control" [(ngModel)]="searchForm.key_to" placeholder="099698****">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Số lượng</label>
                                    <input type="number" class="form-control" [(ngModel)]="searchForm.take" >
                                </div>
                            </div>
                          </ng-container>
                            <div class="col-md-4" *ngIf="typeCurrentBatch != listBatchType.RETRIEVE || !retrieveForm.retrieve_all">
                              <div class="form-group">
                                <label></label>
                                <button type="button" (click)="searchProductStore()" class="btn btn-block btn-info mb-1" rippleEffect><span [data-feather]="'search'"
                                  [class]="'mr-25'"></span>Lọc</button>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">  
                      <ng-container *ngIf="typeCurrentBatch && typeCurrentBatch != listBatchType.RETRIEVE" >
                        <p>Người tạo: <b>{{ currentUser.full_name }}</b></p>
                        <p>Mã xuất đơn hàng: <b>Tự sinh</b></p>
                      </ng-container>
                        <p>Số lượng: <b>{{ selectedItems.length | number }}</b></p>
                        <!-- <p class="ml-3">Số điện thoại: <b></b></p>
                        <p class="ml-3">SIM trắng: <b></b></p> -->
                        <div class="row  mb-1" *ngIf="typeCurrentBatch && typeCurrentBatch != listBatchType.RETRIEVE">
                          <div class="col-4">Kho xuất đến: </div>
                          <div class="col-8">
                          <ng-select     
                          [(ngModel)]="createBatchExportForm.to_channel_id"                        
                            >
                              <ng-option *ngFor="let p of listInputChannel" [value]="p.id">{{
                                p.name
                              }}</ng-option>
                            </ng-select>
                            <!-- <small *ngIf="submitted && !createBatchExport.to_channel_id" class="invalid-feedback">
                              Vui lòng chọn trường này
                            </small> -->
                            <!-- <select class="form-control">
                                <option></option>
                            </select> -->
                          </div>
                          </div>
                          <div class="row mb-1" *ngIf="typeCurrentBatch && typeCurrentBatch == listBatchType.RETRIEVE">
                            <div class="col-4">
                              File chứng từ
                            </div>
                            <div class="col-8">
                              <input type="file" class="form-control" (change)="onSelectFileFront($event)">
                            </div>
                          </div>
                        <div class="row mb-1">
                          <div class="col-4">
                            Ghi chú
                          </div>
                          <div class="col-8">
                            <textarea class="form-control"></textarea>
                          </div>                                                        
                        </div>  
                        <div class="form-group text-center">
                            <button (click)="onSubmitCreate()" type="button" class="btn btn-success mb-1" rippleEffect><span [data-feather]="'save'"
                                [class]="'mr-25'"></span>Tạo yêu cầu</button>
                        </div>          
                    </div>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="typeCurrentBatch != listBatchType.RETRIEVE || !retrieveForm.retrieve_all">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                <div>
                    <h4 class="text-center">Kết quả tìm kiếm</h4>
                </div>
                
                <div class="row">                    
                    <div class="col-md-6 col-12">
                      <ng-container>
                        <div class="d-flex justify-content-between align-items-center m-1">
                          <label class="d-flex align-items-center">Xem
                            <select class="form-control mx-25" [(ngModel)]="basicSelectedOption">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option>
                            </select>
                            dòng</label>
                        </div>
                      </ng-container>
                    </div>
                    <div class="col-md-6 col-12 d-flex justify-content-md-end">
                      <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                        <label class="d-flex align-items-center"
                          >Tìm<input
                            type="text"
                            placeholder="Nhập từ khóa ..."
                            class="form-control ml-25"
                            (keyup)="filterList($event)"
                        /></label>
                      </div>
                    </div>
                  </div>
                  <ngx-datatable
                    [rows]="tempList"
                    rowHeight="auto"
                    class="bootstrap core-bootstrap"
                    [limit]="10"
                    [columnMode]="'force'"
                    [headerHeight]="40"
                    [footerHeight]="50"
                    [scrollbarH]="true"
                    [selectionType]="'checkbox'"
                    [limit]="basicSelectedOption"
                    (select)="onSelect($event)"
                    [messages]="{emptyMessage: 'Không tìm thấy'}"
                  >
                    <ngx-datatable-column
                      [width]="50"
                      [sortable]="false"
                      [canAutoResize]="false"
                      [draggable]="false"
                      [resizeable]="false"
                    >
                      <ng-template
                        ngx-datatable-header-template
                        let-value="value"
                        let-allRowsSelected="allRowsSelected"
                        let-selectFn="selectFn"
                      >
                        <div class="custom-control custom-checkbox">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            [checked]="allRowsSelected"
                            (change)="selectFn(!allRowsSelected)"
                            id="headerChkbxRef"
                          />
                          <label class="custom-control-label" for="headerChkbxRef"></label>
                        </div>
                      </ng-template>
                      <ng-template
                        ngx-datatable-cell-template
                        let-rowIndex="rowIndex"
                        let-value="value"
                        let-isSelected="isSelected"
                        let-onCheckboxChangeFn="onCheckboxChangeFn"
                      >
                        <div class="custom-control custom-checkbox">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            [checked]="isSelected"
                            (change)="onCheckboxChangeFn($event)"
                            id="rowChkbxRef{{ rowIndex }}"
                          />
                          <label class="custom-control-label" for="rowChkbxRef{{ rowIndex }}"></label>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Tên" prop="name" >
                      <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                        <div class="align-items-center">                          
                          <div class="cell-line-height">
                            <p class="font-medium-1 font-weight-bold line-height-1 mb-25">
                              {{ name }}
                            </p>                           
                          </div>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Giá" prop="price">
                      <ng-template  let-value="value" ngx-datatable-cell-template>
                        {{ value | number  }}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Hạng số" prop="level" ></ngx-datatable-column>  
                    <ngx-datatable-column name="Nhà mạng" prop="brand"></ngx-datatable-column>                  
                    <!-- <ngx-datatable-column name="Actions"  [sortable]="false">
                      <ng-template ngx-datatable-cell-template>
                        <div class="d-flex align-items-center">
                                  
                          <i data-feather="edit" class="text-primary cursor-pointer"></i>
                        </div>
                      </ng-template>
                    </ngx-datatable-column> -->
                  </ngx-datatable>

                </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group text-center mt-5">
                    <label></label>
                    <button (click)="onAddItems()" type="button" class="btn btn-info mb-1" rippleEffect><span [data-feather]="'chevrons-right'"
                            [class]="'mr-25'"></span>Thêm</button>                    
                </div>
            
            </div>

            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                <div>
                    <h4 class="text-center">Đã chọn</h4>
                </div>
                
                <div class="row">                    
                    <div class="col-md-6 col-12">
                      <div class="d-flex justify-content-between align-items-center m-1">
                        <label class="d-flex align-items-center"
                          >Xem
                          <select class="form-control mx-25" [(ngModel)]="basicSelectedOption">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                          </select>
                          dòng</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 col-12 d-flex justify-content-md-end">
                      <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                        <label class="d-flex align-items-center"
                          >Tìm<input
                            type="search"
                            placeholder="Nhập từ khóa..."
                            class="form-control ml-25"
                            (keyup)="filterListSeleted($event)"
                        /></label>
                      </div>
                    </div>
                  </div>
                  <ngx-datatable                           
                    [rows]="tempSelectedItems"
                    rowHeight="auto"
                    class="bootstrap core-bootstrap"
                    [limit]="10"
                    [columnMode]="'force'"
                    [headerHeight]="40"
                    [footerHeight]="50"
                    [scrollbarH]="true"
                    [selectionType]="'checkbox'"
                    [limit]="basicSelectedOption" 
                    (select)="onSelectToRemove($event)"
                    [messages]="{emptyMessage: 'Không tìm thấy'}"
                  >
                    <ngx-datatable-column
                      [width]="50"
                      [sortable]="false"
                      [canAutoResize]="false"
                      [draggable]="false"
                      [resizeable]="false"
                    >
                      <ng-template
                        ngx-datatable-header-template
                        let-value="value"
                        let-allRowsSelected="allRowsSelected"
                        let-selectFn="selectFn"
                      >
                        <div class="custom-control custom-checkbox">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            [checked]="allRowsSelected"
                            (change)="selectFn(!allRowsSelected)"
                            id="headerChkbxRef"
                          />
                          <label class="custom-control-label" for="headerChkbxRef"></label>
                        </div>
                      </ng-template>
                      <ng-template
                        ngx-datatable-cell-template
                        let-rowIndex="rowIndex"
                        let-value="value"
                        let-isSelected="isSelected"
                        let-onCheckboxChangeFn="onCheckboxChangeFn"
                      >
                        <div class="custom-control custom-checkbox">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            [checked]="isSelected"
                            (change)="onCheckboxChangeFn($event)"
                            id="rowChkbxRef{{ rowIndex }}"
                          />
                          <label class="custom-control-label" for="rowChkbxRef{{ rowIndex }}"></label>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Tên" prop="name" [resizeable]="false" >
                      <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                        <div class="align-items-center">                          
                          <div class="cell-line-height">
                            <p class="font-medium-1 font-weight-bold line-height-1 mb-25">
                              {{ name }}
                            </p>                           
                          </div>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Giá" prop="price">
                      <ng-template  let-value="value" ngx-datatable-cell-template>
                        {{ value | number  }}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Hạng số" prop="level" ></ngx-datatable-column>
                    <ngx-datatable-column name="Nhà mạng" prop="brand"></ngx-datatable-column>
                    <ngx-datatable-column name="Thao tác"  [sortable]="false" prop="name">
                      <ng-template ngx-datatable-cell-template let-value="value">
                        <div class="d-flex align-items-center">
                            <a (click)="onRemove(value)"><i data-feather="trash"  class="text-primary cursor-pointer"></i></a>
                          
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>

                </div>
                </div>
            </div>
        </div>
    </div>
</div>