<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="row" id="table-striped">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Tra cứu thông tin thuê bao</h4>
          </div>

          <div class="card-body">
            <form (ngSubmit)="onSubmitSearch()">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      name="keysearch"
                      [(ngModel)]="searchSim.id_no"
                      class="form-control"
                      placeholder="Nhập số CCCD"
                    />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      name="keysearch"
                      [(ngModel)]="searchSim.name"
                      class="form-control"
                      placeholder="Nhập tên"
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <button type="submit" class="btn btn-block btn-info">
                      Lọc kết quả <span [data-feather]="'search'"></span>
                    </button>
                  </div>
                </div>

              </div>
              <div *ngIf="showMessage">
                <h6 style="text-align: center">
                  Vui lòng nhập CCCD\Tên thuê bao!
                </h6>
              </div>
            </form>

            <div class="table-responsive" *ngIf="item">
              <div class="pull-left mb-2" *ngIf="!showMessage">
                Tổng: <b>{{ totalItems }}</b>
              </div>
              <table
                class="table table-striped text-nowrap"
                *ngIf="!showMessage">
                <thead>
                  <tr>
                    <th>Số thuê bao</th>
                    <th>Nhà mạng</th>
                    <th>Họ tên</th>
                    <th>Gói cước</th>
                    <th>Trạng thái</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let item of item">
                    <td>{{ item?.msisdn }}</td>
                    <td>{{ item?.mno }}</td>
                    <td>{{ item?.people.name }}</td>
                    <td>
                      <!-- <div [innerHTML]="item?.status | showStatusSim"></div> -->
                    </td>

                    <td>
                      <div [innerHTML]=" item?.state | showStatusSim"></div>
                    </td>
                  </tr>
                </tbody>
              </table>

              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalTransWh let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Chi tiết thông tin Sim/Số</h5>
    <button
      type="button"
      class="close"
      (click)="modalClose()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <div>
      <!-- <h4>Thông tin Sim/Số</h4> -->
      <div class="column">
        <div class="col-md-6">MÃ LÔ: {{ item?.batch_id }}</div>
        <div class="col-md-6">TÊN LÔ: {{ item?.batch?.title }}</div>
        <div class="col-md-6">
          KHO: {{ item?.sell_channels[0]?.channel.name }}
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      (click)="modalClose()"
      type="submit"
      class="btn btn-primary"
      rippleEffect
    >
      Đóng
    </button>
  </div>
</ng-template>
