<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <div class="row">
            <div class="col-5">
                <div class="card">
                    <div class="card-body">
                        <p>Người tạo: {{ adminCreator?.username }} <span *ngIf="adminCreator?.full_name != null && adminCreator?.full_name != ''">({{ adminCreator?.full_name }})</span></p>
                    <p>Loại phiếu: {{ data?.batch?.type | typeBatchForm }}</p>
                    <p>{{ htmlHeadingText?.fromChannel }}: {{ fromChannel?.name }}</p>
                    <p *ngIf="data?.batch?.type != batchType.RETRIEVE">{{ htmlHeadingText?.toChannel }}: {{ toChannel?.name }}</p>
                    <p>Số lượng: {{ data?.batch?.quantility }}</p>
                    <p>Ngày tạo: {{ data?.batch?.created_at | date: 'dd/MM/yyyy H:mm':'GMT' }}</p>
                    <p>Trạng thái: <span [innerHTML]="data?.batch?.status | showStatusBatch"></span></p>
                    <p *ngIf="data?.batch?.note != ''" >Note: {{ data?.batch?.note }}</p>                    
                    <p *ngIf="fileExt"><img *ngIf="fileExt.length < 6" width="30px" src="/assets/images/icons/file/{{fileExt}}.png" /><a (click)="onViewAttachments()" ><u>Xem file đính kèm</u></a></p>

                    <ng-container *ngFor="let item of listFileAttachments | keyvalue">
                        <ng-container *ngFor="let itemC of item.value">
                            <p><img *ngIf="getFileExt(itemC).length < 6" width="30px" src="/assets/images/icons/file/{{getFileExt(itemC)}}.png" /><a (click)="onViewAttachments(itemC)" ><u>Xem file đính kèm</u></a></p>
                        </ng-container>
                    </ng-container>
                </div>
                </div>
            </div>
            <div class="col-7">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h4 class="text-center">Danh sách sản phẩm</h4>
                        </div>
            
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="d-flex justify-content-between align-items-center m-1">
                                    <label class="d-flex align-items-center">Show
                                        <select class="form-control mx-25" [(ngModel)]="basicSelectedOption">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                        entries</label>
                                </div>
                            </div>
                            <div class="col-md-6 col-12 d-flex justify-content-md-end">
                                <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                                    <label class="d-flex align-items-center">Search<input type="search" placeholder="Search"
                                            class="form-control ml-25" (keyup)="filterList($event)" /></label>
                                </div>
                            </div>
                        </div>
                        <ngx-datatable [rows]="listProducts" rowHeight="auto" class="bootstrap core-bootstrap" [limit]="10"
                            [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true"
                            [limit]="basicSelectedOption">
                            <ngx-datatable-column name="Name" prop="name">
                                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                                    <div class="align-items-center">
                                        <div class="cell-line-height">
                                            <p class="font-medium-1 font-weight-bold line-height-1 mb-25">
                                                {{ name }}
                                            </p>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Giá vốn" prop="price">
                                <ng-template  let-value="value" ngx-datatable-cell-template>
                                    {{ value | number  }}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Giá bán" prop="export_price">
                                <ng-template  let-value="value" ngx-datatable-cell-template>
                                    {{ value | number  }}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Hạng số" prop="level"></ngx-datatable-column>
                            <ngx-datatable-column name="Nhà mạng" prop="brand"></ngx-datatable-column>
                        </ngx-datatable>
            
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row">
            <ng-container *ngIf="data?.batch?.type == batchType.OUTPUT">
                <!-- VP/KT duyệt -->
                <div class="col-12 text-center" *ngIf="data?.batch?.channel_level < 2">
                    <button *ngIf="data?.batch?.status == batchStatus.INIT
                                            && checkAction('batch/export/ke-toan/approve')
                                            " (click)="onViewModalApprove(modalApprove)" class="btn btn-info  mb-2 mr-2">
                        <i data-feather="check" class="text-white cursor-pointer"></i> Duyệt
                    </button>
            
                    <button *ngIf="data?.batch?.status == batchStatus.INIT && checkAction('batch/export/ke-toan/reject')
                                            " (click)="onApprove(data?.batch, batchStatus.CANCEL_BY_ACCOUNTANT, 'ketoan')"
                        class="btn btn-danger  mb-2 mr-2">
                        <i data-feather="cancel" class="text-white cursor-pointer"></i> Từ chối
                    </button>
            
                    <button *ngIf="data?.batch?.status == batchStatus.APPROVED_BY_ACCOUNTANT
                                            && checkAction('batch/export/van-phong/approve')
                                            " (click)="onViewModalApprove(modalApprove)" class="btn btn-info  mb-2 mr-2">
                        <i data-feather="check" class="text-white cursor-pointer"></i> Duyệt
                    </button>
            
                    <button *ngIf="data?.batch?.status == batchStatus.APPROVED_BY_ACCOUNTANT && checkAction('batch/export/van-phong/reject')
                                    " (click)="onApprove(data?.batch, batchStatus.CANCEL_BY_OFFICE, 'vanphong')"
                        class="btn btn-danger  mb-2 mr-2">
                        <i data-feather="cancel" class="text-white cursor-pointer"></i> Từ chối
                    </button>
            
                    <button (click)="exportExcel()" class="btn btn-success mb-2 mr-2" *ngIf="data?.batch?.type != batchType.RETRIEVE
                            && ![batchStatus.CANCEL_BY_OFFICE, batchStatus.CANCEL_BY_ACCOUNTANT, batchStatus.CANCEL_BY_USER].includes(data?.batch?.status)
                            ">
                        <i data-feather="file" class="text-white cursor-pointer"></i>
                        Xuất excel</button>
            
                    <!-- <button (click)="onViewAttachments()" class="btn btn-info mb-2 mr-2">
                                <i data-feather="eye" class="text-white cursor-pointer"></i>
                                Xem file đính kèm</button> -->
                </div>
            
                <!-- User tự duyệt -->
                <div class="col-12 text-center" *ngIf="data?.batch?.channel_level >= 2
                            && (checkAction('batch/export/user/approve') || checkAction('batch/export/user/reject') )
                            ">
                    <button *ngIf="data?.batch?.status == batchStatus.INIT && checkAction('batch/export/user/approve')
                                            " (click)="onApprove(data?.batch, batchStatus.APPROVED, 'user')"
                        class="btn btn-success mb-2 mr-2">
                        <i data-feather="check" class="text-white cursor-pointer"></i> Duyệt
                    </button>
                    <button *ngIf="data?.batch?.status == batchStatus.INIT && checkAction('batch/export/user/reject')
                                    " (click)="onApprove(data?.batch, batchStatus.CANCEL_BY_USER, 'user')"
                        class="btn btn-danger  mb-2 mr-2">
                        <i data-feather="cancel" class="text-white cursor-pointer"></i> Từ chối
                    </button>
                </div>
            </ng-container>
            <ng-container *ngIf="data?.batch?.type == batchType.RETRIEVE">
                <div class="col-12 text-center" *ngIf="data?.batch?.channel_level < 2">
                    <button *ngIf="data?.batch?.status == batchStatus.INIT
                                            && checkAction('batch/retrieve/ke-toan/approve')
                                            " (click)="onViewModalApprove(modalApprove)" class="btn btn-info  mb-2 mr-2">
                        <i data-feather="check" class="text-white cursor-pointer"></i> Duyệt
                    </button>
            
                    <button *ngIf="data?.batch?.status == batchStatus.INIT && checkAction('batch/retrieve/ke-toan/reject')
                                            " (click)="onApproveRetrieve(data?.batch, batchStatus.CANCEL_BY_ACCOUNTANT, 'ketoan')"
                        class="btn btn-danger  mb-2 mr-2">
                        <i data-feather="cancel" class="text-white cursor-pointer"></i> Từ chối
                    </button>
            
                    <button *ngIf="data?.batch?.status == batchStatus.APPROVED_BY_ACCOUNTANT
                                            && checkAction('batch/retrieve/van-phong/approve')
                                            " (click)="onViewModalApprove(modalApprove)" class="btn btn-info  mb-2 mr-2">
                        <i data-feather="check" class="text-white cursor-pointer"></i> Duyệt
                    </button>
            
                    <button *ngIf="data?.batch?.status == batchStatus.APPROVED_BY_ACCOUNTANT && checkAction('batch/retrieve/van-phong/reject')
                                    " (click)="onApproveRetrieve(data?.batch, batchStatus.CANCEL_BY_OFFICE, 'vanphong')"
                        class="btn btn-danger  mb-2 mr-2">
                        <i data-feather="cancel" class="text-white cursor-pointer"></i> Từ chối
                    </button>        
                </div>

                <div class="col-12 text-center" *ngIf="data?.batch?.channel_level >= 2
                                    && (checkAction('batch/retrieve/user/approve') || checkAction('batch/retrieve/user/reject') )
                                    ">
                    <button *ngIf="data?.batch?.status == batchStatus.INIT && checkAction('batch/retrieve/user/approve')
                                                    " (click)="onApproveRetrieve(data?.batch, batchStatus.APPROVED, 'user')"
                        class="btn btn-success mb-2 mr-2">
                        <i data-feather="check" class="text-white cursor-pointer"></i> Duyệt
                    </button>
                    <button *ngIf="data?.batch?.status == batchStatus.INIT && checkAction('batch/retrieve/user/reject')
                                            " (click)="onApproveRetrieve(data?.batch, batchStatus.CANCEL_BY_USER, 'user')"
                        class="btn btn-danger  mb-2 mr-2">
                        <i data-feather="cancel" class="text-white cursor-pointer"></i> Từ chối
                    </button>
                </div>
            </ng-container>
            
            
        </div>
    </div>
</div>


<ng-template #modalApprove let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel160">Bạn có đồng ý duyệt?</h5>
        <button type="button" class="close" (click)="modalClose()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" >
        <div class="form-group" *ngIf="checkAction('batch/export/van-phong/approve')">
            <label for="">Đính kèm</label>
            <input type="file" class="form-control"
            (change)="onSelectFileFront($event)"
            multiple
            accept="image/png, image/gif, image/jpeg, image/jpg, application/pdf"
            >
        </div>
    </div>

    <div class="modal-footer">
        <ng-container *ngIf="data?.batch?.status == batchStatus.INIT">
            <button *ngIf="checkAction('batch/export/ke-toan/approve')
            && data?.batch?.type == batchType.OUTPUT
                                            " (click)="onApprove(data?.batch, batchStatus.APPROVED_BY_ACCOUNTANT, 'ketoan')"
                class="btn btn-info  mb-2">
                <i data-feather="check" class="text-white cursor-pointer"></i> Duyệt
            </button>
            
            <button *ngIf="checkAction('batch/retrieve/ke-toan/approve') && data?.batch?.type == batchType.RETRIEVE
                                            " (click)="onApproveRetrieve(data?.batch, batchStatus.APPROVED_BY_ACCOUNTANT, 'ketoan')"
                class="btn btn-info  mb-2">
                <i data-feather="check" class="text-white cursor-pointer"></i> Duyệt
            </button>

        </ng-container>

        <ng-container *ngIf="data?.batch?.status == batchStatus.APPROVED_BY_ACCOUNTANT">
            <button *ngIf="checkAction('batch/export/van-phong/approve') && data?.batch?.type == batchType.OUTPUT"
                (click)="onApprove(data?.batch, batchStatus.APPROVED, 'vanphong')" class="btn btn-info  mb-2">
                <i data-feather="check" class="text-white cursor-pointer"></i> Duyệt
            </button>

            <button *ngIf="checkAction('batch/retrieve/van-phong/approve') && data?.batch?.type == batchType.RETRIEVE"
                (click)="onApproveRetrieve(data?.batch, batchStatus.APPROVED, 'vanphong')" class="btn btn-info  mb-2">
                <i data-feather="check" class="text-white cursor-pointer"></i> Duyệt
            </button>
                    
        </ng-container>
    </div>
</ng-template>

<ng-template #modalAttachments let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel160">Tệp đính kèm</h5>
      <button type="button" class="close" (click)="modalClose()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" tabindex="0" *blockUI="'item-block'">
        <div class="row" *ngIf="listFiles && listFiles.length > 0">
            <div class="col-12 mb-1" *ngFor="let item of listFiles">
                <img *ngIf="item.ext.includes('png') || item.ext.includes('jpg') || item.ext.includes('jpeg')" src="data:image/png;base64,{{ item.base64 }}" alt="" class="img-fluid" />
                <div *ngIf="item.ext.includes('pdf') && item.base64">
                  <pdf-viewer [src]="'data:application/pdf;base64,'+item.base64"
                      [render-text]="true"
                      [original-size]="false"
                      [external-link-target]="'blank'"
                      style="height: 450px"
                    ></pdf-viewer>
                </div>
              </div>
            </div>
            
            <div class="row" *ngIf="!listFiles || listFiles.length < 1">
              <p>Không có tệp đính kèm</p>
            </div>
    </div>
  </ng-template>