<div class="content-wrapper container-xxl p-0">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{ contentHeader.headerTitle }}</h4>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="onSubmitSearch()" class="mb-2">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" placeholder="Thời gian" [ngModelOptions]="{standalone: true}"
                                        ngxDaterangepickerMd [(ngModel)]="dateRange" [ranges]="ranges"
                                        [locale]="{applyLabel: 'Chọn',format: 'DD/MM/YYYY'}"
                                        [showCustomRangeLabel]="true" [alwaysShowCalendars]="true" name="daterange"
                                        class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" name="id" [(ngModel)]="actionlogs.id" class="form-control"
                                        placeholder="ID">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" name="user" [(ngModel)]="actionlogs.user" class="form-control"
                                        placeholder="User">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-block btn-info">Lọc kết quả <span
                                            [data-feather]="'search'"></span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" *blockUI="'section-block'">
                        <table class="table table-striped text-nowrap" *ngIf="list">
                            <thead>
                                <tr>
                                    <!-- <th></th> -->
                                    <th>Thời gian</th>
                                    <th>Đối tượng</th>
                                    <th>ID</th>
                                    <th>Hành động</th>
                                    <th>User</th>
                                    <th>Trạng thái</th>
                                    <th>Nội dung</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of list;index as i">
                                    <!-- <td>
                                        <input type="checkbox" (change)="onSubmitSearch($list, total)">
                                    </td> -->
                                    <td>{{item?.created_at}}</td>
                                    <td>{{ item?.object_type}}</td>
                                    <td>{{ item?.object_id}}</td>
                                    <td> {{item?.action}}</td>
                                    <td>{{ item?.user_id}}</td>
                                    <td>{{ item?.object_status}}</td>
                                    <td> {{item?.detail}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>