<div class="pl-3 pr-3">
    <div class="row mb-4" *ngIf="data">
        <div class="border">
            <div class="row mb-2  p-2">
                <div class="col-md-12">
                    <h4>Thông tin thuê bao - {{data.msisdn}}</h4>
                </div>
                <div class="col-md-6 col-sm-12 mb-1">
                    <span><u>Loại giấy tờ</u>: <span class="text-info">{{ data?.type }}</span></span>
                </div>
                <div class="col-md-6 col-sm-12 mb-1">
                    <span><u>Số giấy tờ</u>: <a placement="right" ngbTooltip="'Bấm để copy'"
                            *ngIf="data?.id"
                            (click)="copyTextClipboard(data?.id)">
                            <span class="text-info">{{ data?.id }}</span>
                        </a></span>
                </div>
                <div class="col-md-6 col-sm-12 mb-1">
                    <span><u>Ngày cấp</u>: <a placement="right" ngbTooltip="'Bấm để copy'"
                            *ngIf="data?.issue_date"
                            (click)="copyTextClipboard(data?.issue_date)">
                            <span class="text-info">{{ data?.issue_date }}</span>
                        </a></span>
                </div>
                <div class="col-md-6 col-sm-12 mb-1">
                    <span><u>Nơi cấp</u>: <a placement="right" ngbTooltip="'Bấm để copy'"
                            *ngIf="data?.issue_loc"
                            (click)="copyTextClipboard(data?.issue_loc)">
                            <span class="text-info">{{ data?.issue_loc }}</span>
                        </a></span>
                </div>

                <div class="col-md-6 col-sm-12 mb-1">
                    <span><u>Họ và tên</u>: <a placement="right" ngbTooltip="'Bấm để copy'" *ngIf="data?.name"
                            (click)="copyTextClipboard(data?.name)">
                            <span class="text-info">{{ data?.name }}</span>
                        </a></span>
                </div>
                <div class="col-md-6 col-sm-12 mb-1">
                    <span><u>Ngày sinh</u>: <a placement="right" ngbTooltip="'Bấm để copy'" *ngIf="data?.dob"
                            (click)="copyTextClipboard(data?.dob)">
                            <span class="text-info">{{ data?.dob}}</span>
                        </a></span>
                </div>
                <!-- <div class="col-md-6 col-sm-12 mb-1">
                    <span><u>Số điện thoại liên hệ</u>: <a placement="right" ngbTooltip="'Bấm để copy'"
                            *ngIf="data?.people?.mobile" (click)="copyTextClipboard(data?.people?.mobile)">
                            <span class="text-info">{{ data?.people?.mobile }}</span>

                        </a></span>
                </div> -->
                <div class="col-md-12 col-sm-12 mt-1">
                    <h6>Địa chỉ thường trú:</h6>
                    <a placement="right" ngbTooltip="'Bấm để copy'" *ngIf="data?.address"
                        (click)="copyTextClipboard(data?.address)">
                        <span class="text-info">{{ data?.address }}</span></a>
                </div>
                <div class="col-md-6 col-sm-12 mb-1">
                    <span><u>Thôn, số nhà</u>:
                        <a placement="right" ngbTooltip="'Bấm để copy'" *ngIf="data?.address_entities?.street"
                            (click)="copyTextClipboard(data?.address_entities?.street)">
                            <span class="text-info">{{ data?.address_entities?.street }}</span></a></span>
                </div>
                <div class="col-md-6 col-sm-12 mb-1">
                    <span><u>Xã/phường</u>: <a placement="right" ngbTooltip="'Bấm để copy'"
                            *ngIf="data?.address_entities?.ward" (click)="copyTextClipboard(data?.address_entities?.ward)">
                            <span class="text-info">{{ data?.address_entities?.ward }}</span>
                        </a></span>
                </div>
                <div class="col-md-6 col-sm-12 mb-1">
                    <span><u>Quận/huyện</u>: <a placement="right" ngbTooltip="'Bấm để copy'"
                            *ngIf="data?.address_entities?.district" (click)="copyTextClipboard(data?.address_entities?.district)">
                            <span class="text-info">{{ data?.address_entities?.district }}</span>
                        </a></span>
                </div>
                <div class="col-md-6 col-sm-12 mb-1">
                    <span><u>Tỉnh/thành</u>: <a placement="right" ngbTooltip="'Bấm để copy'"
                            *ngIf="data?.address_entities?.province" (click)="copyTextClipboard(data?.address_entities?.province)">
                            <span class="text-info">{{ data?.address_entities?.province }}</span>
                        </a></span>
                </div>
                <button class="btn btn-block btn-primary btn-next" (click)="submit()">Nộp</button>
            </div>
        </div>
    </div>
</div>