<div class="pl-1 pr-1">
  <div class="row" *ngIf="data">
    <form [formGroup]="formOgzOcr">
      <div class="border">
        <div class="row p-2">
          <div class="col-md-12">
            <h4>Thông tin thuê bao - {{ data.msisdn }}</h4>
          </div>
          <div class="col-md-6 mb-1 d-flex">
            <label>Loại giấy tờ:</label>
            <select
              formControlName="identificationType"
              id="identification_type"
              class="form-control"
            >
              <option value="CAN_CUOC">CĂN CƯỚC</option>
              <option value="CCCD_CHIP">CCCD CHIP</option>
              <option value="CMND">CCCD mã vạch</option>
            </select>
          </div>
          <div class="col-md-6 mb-1">
            <label>Số giấy tờ:</label>
            <input
              type="text"
              formControlName="identificationNo"
              placeholder="Vui lòng nhập số giấy tờ"
            />
          </div>
          <div class="col-md-6 mb-1">
            <label>Ngày cấp:</label>
            <input
              type="text"
              formControlName="identificationDate"
              placeholder="Vui lòng nhập ngày cấp định dạng dd-MM-yyyy"
            />
          </div>
          <div class="col-md-6 mb-1">
            <label>Ngày hết hạn:</label>
            <input
              type="text"
              formControlName="doe"
              placeholder="Vui lòng nhập ngày hết hạn định dạng dd-MM-yyyy"
            />
          </div>
          <div class="col-md-6 mb-1">
            <label>Nơi cấp:</label>
            <input
              type="text"
              formControlName="identificationPlace"
              placeholder="Vui lòng nhập nơi cấp"
            />
          </div>
          <div class="col-md-6 mb-1">
            <label>Họ và tên:</label>
            <input
              type="text"
              formControlName="name"
              placeholder="Vui lòng nhập họ và tên"
            />
          </div>
          <div class="col-md-6 mb-1">
            <label>Ngày sinh:</label>
            <input
              type="text"
              formControlName="birth"
              placeholder="Vui lòng nhập ngày sinh định dạng dd-MM-yyyy"
            />
          </div>
          <div class="col-md-6 mb-1">
            <label>Thôn, số nhà:</label>
            <input
              type="text"
              formControlName="street"
              placeholder="Vui lòng nhập địa chỉ thôn, số nhà"
            />
          </div>
          <div class="col-md-6 mb-1 d-flex">
            <label>Tỉnh/thành:</label>
            <select
              name=""
              id="home_province"
              class="form-control"
              formControlName="province_code"
              (change)="onChangeResidenceProvince($event)"
            >
              <option selected value="">-- Chọn Tỉnh/Thành phố --</option>
              <option *ngFor="let p of provinces" [value]="p.id">
                {{ p.title }}
              </option>
            </select>
          </div>
          <div class="col-md-6 mb-1 d-flex">
            <label>Quận/huyện:</label>
            <select
              formControlName="district_code"
              id="home_district"
              class="form-control"
              (change)="onChangeResidenceDistrict($event)"
            >
              <option selected value="">--Chọn Quận/Huyện--</option>
              <option *ngFor="let p of districts" [value]="p.id">
                {{ p.title }}
              </option>
            </select>
          </div>
          <div class="col-md-6 mb-1 d-flex">
            <label>Xã/phường:</label>
            <select name="" formControlName="ward_code" class="form-control"  (change)="onChangeResidenceCommune($event)">
              <option selected value="">--Chọn Phường/xã --</option>
              <option *ngFor="let p of wards" [value]="p.id">
                {{ p.title }}
              </option>
            </select>
          </div>
          <button class="btn btn-block btn-primary btn-next" (click)="submit()">
            Nộp
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
