<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="row" id="table-striped">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Tra cứu sim/số</h4>
          </div>

          <div class="card-body">
            <form (ngSubmit)="onSubmitSearch()">
              <div class="row">
                <div class="col-md-10">
                  <div class="form-group">
                    <input type="text" name="keysearch" [(ngModel)]="searchSim.keysearch" class="form-control"
                      placeholder="Tìm kiếm" />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <button type="submit" class="btn btn-block btn-info">
                      Lọc kết quả <span [data-feather]="'search'"></span>
                    </button>
                  </div>
                </div>
              </div>
            </form>

            <div class="table-responsive" *blockUI="'section-block'">
              <table class="table table-striped text-nowrap" *ngIf="item">
                <thead>
                  <tr>
                    <th>Số / Serial SIM</th>
                    <th>Nhà mạng</th>
                    <th>Kho số</th>
                    <th>Trạng thái</th>
                    <!-- <th *ngIf="currChannel[0].code == 'THUHOI'">Kho trước đó</th> -->
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>{{ item?.name }}</td>
                    <td>{{ item?.brand }} - {{item?.category_id == 2 ? "Serial": item?.category_id == 3 ? "SĐT" :
                      item?.category_id}}</td>
                    <td>{{ currChannel.channel.name }}</td>
                    <td>
                      <div [innerHTML]="item.status | showStatusProduct"></div>
                    </td>
                    <!-- <td *ngIf="currChannel[0].code == 'THUHOI'"> {{item.nearest_channel.name}}</td> -->
                  </tr>
                </tbody>
              </table>

              <div *ngIf="showMessage">
                <h6 style="text-align: center">
                  Không tìm thấy thông tin sim/số. Vui lòng nhập lại!
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalTransWh let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Chi tiết thông tin Sim/Số</h5>
    <button type="button" class="close" (click)="modalClose()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <div>
      <!-- <h4>Thông tin Sim/Số</h4> -->
      <div class="column">
        <div class="col-md-6">MÃ LÔ: {{ item?.batch_id }}</div>
        <div class="col-md-6">TÊN LÔ: {{ item?.batch?.title }}</div>
        <div class="col-md-6">KHO: {{ item?.sell_channels[0]?.channel.name}}</div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button (click)="modalClose()" type="submit" class="btn btn-primary" rippleEffect>
      Đóng
    </button>
  </div>
</ng-template>