<div class="content-wrapper container-xxl p-0">
  <div class="content-body">

    <div class="row" id="table-striped">
      <div class="col-12">

        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Tra cứu số 2G</h4>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmitSearch()">
              <div class="row">
                <div class="col-md-10">
                  <div class="form-group">
                    <input type="text" name="mobile" class="form-control" placeholder="Nhập số điện thoại" [(ngModel)]="searchForm.mobile">
                  </div>
                </div>                
                <div class="col-md-2">
                  <div class="form-group">
                    <button type="submit" class="btn btn-block btn-info">Lọc kết quả <span></span></button>
                  </div>
                </div>
              </div>
            </form>
            <!-- <div class="table-responsive" *blockUI="'section-block'">
            <table class="table table-striped text-nowrap" *ngIf="list">
                <thead>
                  <tr>
                    <th></th>
                    <th>Số</th>
                    <th>Nhà mạng</th>
                    <th>Trạng thái</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of list;index as i">
                    <td>
                      <input type="checkbox" (change)="onSubmitSearch($list, total)" >                    
                    </td>
                    <!<td>
                      {{(searchSim.take)*(page-1)+(i +1)}}
                    </td> -->
            <!-- <td>{{ item?.name }}</td>
                    <td>{{ item?.brand}}</td>
                    <td>
                    <div [innerHTML]="item.status | showStatusSim"></div> 
                    </td>
                    <td>
                      <div>
                        <a class="ml-2 btn btn-info" (click)="modalOpen(modalItem, item)">
                            <i data-feather="arrow-right-circle" class="text-white cursor-pointer"></i>
                            Xem chi tiết
                        </a>
                    </div>
                    </td>
                  </tr>
                </tbody>
              </table> -->
            <!-- </div>  -->
            <table class="table" *blockUI="'section-block'">
              <thead>
                <tr>
                  <th scope="col">Số thuê bao</th>
                  <th>Loại thuê bao</th>
                  <th scope="col">Note</th>
                  <th>Nợ cước</th>
                  <th scope="col">Họ và tên KH</th>
                  <th scope="col">Số giấy tờ KH</th>
                  <th scope="col">Ngày sinh KH</th>
                  <th scope="col">Ngày cấp giấy tờ</th>
                  <th scope="col">Địa chỉ</th>
                  <th></th>
                  <!-- <th></th> -->
                  <!-- <th scope="col">Thao tác</th> -->
                </tr>
              </thead>
              <tbody *ngIf="list">
                <tr *ngFor="let item of list;index as i">
                  <td>{{ item.msisdn.msisdn }}</td>
                  <td> {{ showLoaiThuebao(item.msisdn) }} </td>
                  <td>{{ item.msisdn.note }}</td>
                  <td> {{ item.msisdn.amount | number }} </td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.identification_no }}</td>                 
                  <td>{{ item.birth_string }}</td>
                  <td>{{ item.identification_date_string }}</td>
                  <td>{{ item.residence_full_address }}</td>
                  <td>
                    <button *ngIf="item.msisdn.amount" type="submit"
                    (click)="onSubmitThanhToanNoCuoc(item, modalViewQr)"
                     class="btn btn-block btn-info btn-sm">Thanh toán nợ cước <span></span></button>
                  </td>
                  <!-- <td>
                    <div>
                      <a class="ml-2 btn btn-info" (click)="modalOpen(modalItem)">
                        <i data-feather="arrow-right-circle" class="text-white cursor-pointer"></i>
                        Xem chi tiết
                      </a>
                    </div>

                  </td> -->
                </tr>
              </tbody>
            </table>
            <div class="row">
              <h6>Thông tin doanh nghiệp</h6>
            </div>
            <div class="row">
              
            </div>
            <!-- <ngb-pagination class="d-flex justify-content-end pr-3 pt-2" [collectionSize]="totalItems"
              [(page)]="searchForm.page" [pageSize]="searchForm.page_size" [boundaryLinks]="true"
              (pageChange)="loadPage($event)">
              <ng-template ngbPaginationPages let-page let-pages="pages">
                <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
                  <div class="mb-3 d-flex flex-nowrap px-2">
                    <label id="paginationInputLabel" for="paginationInput"
                      class="col-form-label me-2 ms-1">Trang</label>
                    <input #i type="text" inputmode="numeric" pattern="[0-9]*" class="form-control custom-pages-input"
                      id="paginationInput" [value]="searchForm.page" (keyup.enter)="loadPage(i.value)"
                      (blur)="loadPage(i.value)" (input)="formatInput($any($event).target)"
                      aria-labelledby="paginationInputLabel paginationDescription" style="width: 2.5rem" />
                    <span id="paginationDescription" class="col-form-label text-nowrap px-2">
                      của {{pages.length}}</span>
                  </div>
                </li>
              </ng-template>
            </ngb-pagination> -->
          </div>
        </div>
        <ng-template #modalItem let-modal>
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel160">Thôn tin thuê bao</h5>
            <button type="button" class="close" (click)="modalClose()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" tabindex="0" >
            <div class="pl-3 pr-3"  >
              <div class="row mb-4">
                  <div class="col-md-6 border">
                      <div class="row mb-2  p-2">
                          <div class="col-md-12">
                              <h4>Thông tin thuê bao - {{msisdn.msisdn}}</h4>
                          </div>
                          <div class="col-md-6 col-sm-12 mb-1">
                              <span><u>Loại giấy tờ</u>: <span class="text-info">{{ data?.people?.identification_type
                                      }}</span></span>
                          </div>
                          <div class="col-md-6 col-sm-12 mb-1">
                              <span><u>Số giấy tờ</u>: <a placement="right" ngbTooltip="'Bấm để copy'"
                                      *ngIf="data?.people?.identification_no"
                                      (click)="copyTextClipboard(data?.people?.identification_no)">
                                      <span class="text-info">{{ data?.people?.identification_no }}</span>
                                  </a></span>
                          </div>
                          <div class="col-md-6 col-sm-12 mb-1">
                              <span><u>Ngày cấp</u>: <a placement="right" ngbTooltip="'Bấm để copy'"
                                      *ngIf="data?.people?.identification_date"
                                      (click)="copyTextClipboard(data?.people?.identification_date)">
                                      <span class="text-info">{{ data?.people?.identification_date }}</span>
                                  </a></span>
                          </div>
                          <div class="col-md-6 col-sm-12 mb-1">
                              <span><u>Nơi cấp</u>: <a placement="right" ngbTooltip="'Bấm để copy'"
                                      *ngIf="data?.people?.identification_place"
                                      (click)="copyTextClipboard(data?.people?.identification_place)">
                                      <span class="text-info">{{ data?.people?.identification_place }}</span>
                                  </a></span>
                          </div>
          
                          <div class="col-md-6 col-sm-12 mb-1">
                              <span><u>Họ và tên</u>: <a placement="right" ngbTooltip="'Bấm để copy'" *ngIf="data?.people?.name"
                                      (click)="copyTextClipboard(data?.people?.name)">
                                      <span class="text-info">{{ data?.people?.name }}</span>
                                  </a></span>
                          </div>
                          <div class="col-md-6 col-sm-12 mb-1">
                              <span><u>Ngày sinh</u>: <a placement="right" ngbTooltip="'Bấm để copy'" *ngIf="data?.people?.birth"
                                      (click)="copyTextClipboard(data?.people?.birth)">
                                      <span class="text-info">{{ data?.people?.birth }}</span>
                                  </a></span>
                          </div>
                          <div class="col-md-6 col-sm-12 mb-1">
                              <span><u>Số điện thoại liên hệ</u>: <a placement="right" ngbTooltip="'Bấm để copy'"
                                      *ngIf="data?.people?.mobile" (click)="copyTextClipboard(data?.people?.mobile)">
                                      <span class="text-info">{{ data?.people?.mobile }}</span>
          
                                  </a></span>
                          </div>
                          <div class="col-md-12 col-sm-12 mt-1">
                              <h6>Địa chỉ thường trú:</h6>
                              <a placement="right" ngbTooltip="'Bấm để copy'" *ngIf="data?.people?.full_address"
                                  (click)="copyTextClipboard(data?.people?.full_address)">
                                  <span class="text-info">{{ data?.people?.full_address }}</span></a>
                          </div>
                          <div class="col-md-6 col-sm-12 mb-1">
                              <span><u>Thôn, số nhà</u>:
                                  <a placement="right" ngbTooltip="'Bấm để copy'" *ngIf="data?.people?.address"
                                      (click)="copyTextClipboard(data?.people?.address)">
                                      <span class="text-info">{{ data?.people?.address }}</span></a></span>
                          </div>
                          <div class="col-md-6 col-sm-12 mb-1">
                              <span><u>Xã/phường</u>: <a placement="right" ngbTooltip="'Bấm để copy'"
                                      *ngIf="data?.people?.communue" (click)="copyTextClipboard(data?.people?.communue)">
                                      <span class="text-info">{{ data?.people?.communue }}</span>
                                  </a></span>
                          </div>
                          <div class="col-md-6 col-sm-12 mb-1">
                              <span><u>Quận/huyện</u>: <a placement="right" ngbTooltip="'Bấm để copy'"
                                      *ngIf="data?.people?.district" (click)="copyTextClipboard(data?.people?.district)">
                                      <span class="text-info">{{ data?.people?.district }}</span>
                                  </a></span>
                          </div>
                          <div class="col-md-6 col-sm-12 mb-1">
                              <span><u>Tỉnh/thành</u>: <a placement="right" ngbTooltip="'Bấm để copy'"
                                      *ngIf="data?.people?.province" (click)="copyTextClipboard(data?.people?.province)">
                                      <span class="text-info">{{ data?.people?.province }}</span>
          
                                  </a></span>
                          </div>
                          <div class="col-md-6 mt-1">
                              <label for="">Ảnh giấy tờ mặt trước</label>
                              <img (click)="onViewImage(modalImage, 'cccd_front') " class="img-fluid rounded mb-75"
                                  src="data:image/png;base64,{{ data?.people?.identification_front_file }}" alt="avatar img" />
                          </div>
          
                          <div class="col-md-6 mt-1">
                              <label for="">Ảnh chân dung</label>
                              <img (click)="onViewImage(modalImage, 'selfie') " class="img-fluid rounded mb-75"
                                  src="data:image/png;base64,{{ data?.people?.identification_selfie_file }}" alt="avatar img" />
                          </div>
                          <div class="col-md-6">
                              <label for="">Ảnh giấy tờ mặt sau</label>
                              <img (click)="onViewImage(modalImage, 'cccd_back') " class="img-fluid rounded mb-75"
                                  src="data:image/png;base64,{{ data?.people?.identification_back_file }}" alt="avatar img" />
                          </div>
                          <div class="col-md-6">
                              <label for="">Ảnh chữ ký</label>
                              <img (click)="onViewImage(modalImage, 'signature') " class="img-fluid rounded mb-75"
                                  src="data:image/png;base64,{{ data?.people?.identification_signature_file }}" alt="avatar img" />
                          </div>
                      </div>
          
                  </div>
                 
              </div>
          </div>
          </div>
        </ng-template>

        <ng-template #modalViewQr let-modal>
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel160">Thông tin chuyển khoản</h5>
            <button type="button" class="close" (click)="modalClose()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" tabindex="0" ngbAutofocus>
            <div class="row">
              <div class="col-12 text-center">
                <qrcode [qrdata]="qrInfoPayment?.qrcode" [width]="300" [errorCorrectionLevel]="'M'"></qrcode>
              </div>
              <div class="col-12 text-center">
                Tên tài khoản: <b>{{ qrInfoPayment?.account_holder }}</b>
              </div>
              <div class="col-12 text-center">
                Số tài khoản: <b>{{ qrInfoPayment?.account_number }}</b>
              </div>
              <div class="col-12 text-center">
                Số tiền: <b class="text-success">{{ qrInfoPayment?.amount | number }}</b>
              </div>
            </div>
          </div>

        </ng-template>
      </div>
    </div>
  </div>
</div>