.form-container {
    box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
    transition: all 0.3s ease-in-out, background 0s, color 0s, border-color 0s;
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.428rem;
}

.img-margin-bottom {
    margin-bottom: 10px;
}

.input-display-none {
    display: none;
}