<div class="content-wrapper container-xxl p-0" *blockUI="'section-block'">
    <div class="content-body">
        <div class="row" id="table-striped">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Tra cứu số thuê bao để phục hồi</h4>
                    </div>

                    <div class="card-body">
                        <form (ngSubmit)="onSubmitSearch()">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <input type="text" name="searchSim" [(ngModel)]="searchSim" class="form-control"
                                            placeholder="Tìm kiếm số thuê bao để phục hồi" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-info">
                                            Lọc kết quả <span [data-feather]="'search'"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <form [formGroup]="formOgzOcr" *ngIf="showInformation">
            <div class="form-container">
                <div class="row">
                    <div class="col-12">
                        <h4 style="padding-left: 5px;">Thông tin người phục hồi</h4>
                        <br>
                    </div>
                    <div class="col-md-4">
                        <div class="image-upload" *ngIf="!imageFront" style="text-align:center">
                            <label for="identification_front_file">
                                <img src="/assets/images/icons/cccd_front.png" class="img-fluid img-margin-bottom"
                                    alt="">
                                <h6 class="text-center">Ảnh CCCD/CMND mặt trước</h6>
                            </label>
                            <input class="input-display-none" id="identification_front_file" type="file"
                                (change)="onSelectFileFront($event)" fromControlName="identification_front_file" />
                            <!-- <div *ngIf="submitted && f.identification_front_file.errors" class="invalid-feedback">
                                <div *ngIf="f.identification_front_file.errors.required">Vui lòng nhập trường này</div>
                            </div> -->
                        </div>

                        <div class="image-preview" *ngIf="imageFront">
                            <img [src]="imageFront" alt="" class="img-fluid img-margin-bottom">

                            <button (click)="onReUpload('front')" type="button" class="btn btn-outline-primary btn-next"
                                rippleEffect>
                                <span class="align-middle ">Tải lại</span>

                            </button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="image-upload" *ngIf="!imageBack" style="text-align:center">
                            <label for="identification_back_file">
                                <img src="/assets/images/icons/cccd_back.png" class="img-fluid img-margin-bottom"
                                    alt="">
                                <h6 class="text-center">Ảnh CCCD/CMND mặt sau</h6>
                            </label>
                            <input id="identification_back_file" class="input-display-none" type="file"
                                (change)="onSelectFileBack($event)" fromControlName="identification_back_file" />
                            <!-- <div *ngIf="submitted && f.identification_back_file.errors" class="invalid-feedback">
                                <div *ngIf="f.identification_back_file.errors.required">Vui lòng nhập trường này</div>
                            </div> -->
                        </div>

                        <div class="image-preview" *ngIf="imageBack">
                            <img [src]="imageBack" alt="" class="img-fluid img-margin-bottom">
                            <button (click)="onReUpload('back')" type="button" class="btn btn-outline-primary btn-next"
                                rippleEffect>
                                <span class="align-middle ">Tải lại</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="image-upload" style="text-align:center;">
                            <label for="identification_selfie_file">
                                <img *ngIf="!imageSelfie" src="/assets/images/icons/selfie.png"
                                    class="img-fluid img-margin-bottom" style="width:200px" alt="">
                                <img *ngIf="imageSelfie" [src]="imageSelfie" alt="" class="img-fluid img-margin-bottom">
                                <h6 *ngIf="!imageSelfie" class="text-center">Tải ảnh chân dung</h6>
                            </label>
                            <input type="file" class="form-control input-display-none" id="identification_selfie_file"
                                (change)="onSelectFileSelfie($event)" fromControlName="identification_selife_file" />
                            <!-- <div *ngIf="submitted && f.identification_selfie_file.errors" class="invalid-feedback">
                                <div *ngIf="f.identification_selfie_file.errors.required">Vui lòng nhập trường này</div>
                            </div> -->
                        </div>

                        <!-- <div class="image-preview" *ngIf="imageSelfie">
                            <img [src]="imageSelfie" alt="" class="img-fluid">
                            <button (click)="onReUpload('selfie')" type="button" class="btn btn-outline-primary btn-next"
                                rippleEffect>
                                <span class="align-middle ">Tải lại</span>
        
                            </button>
                        </div> -->
                    </div>
                    <div class="col-12" style="margin-top: 20px;">
                        <button (click)="updateInformation()" type="button" class="btn btn-block btn-primary btn-next"
                            rippleEffect>
                            <span class="align-middle ">Cập nhật</span>
                            <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<ng-template #modalItem let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel160">Thông tin thuê bao mới nộp</h5>
        <button type="button" class="close" (click)="modalClose()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" *blockUI="'item-block'">
        <app-view-restorer-information [data]="dataRestorerInformation"
            (closePopup)="modalClose()"></app-view-restorer-information>
    </div>
</ng-template>