<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="row" id="table-striped">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">{{ contentHeader.headerTitle }}</h4>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmitSearch()">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <select
                      name=""
                      id="province"
                      class="form-control"
                      (change)="onChangeProvince($event)"
                    >
                      <option value="">-- Chọn Tỉnh/Thành phố --</option>
                      <option *ngFor="let p of provinces" [value]="p.id">
                        {{ p.title }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <select
                      id="home_district"
                      class="form-control"
                      (change)="onChangeDistrict($event)"
                    >
                      <option value="">--Chọn Quận/Huyện--</option>
                      <option *ngFor="let p of districts" [value]="p.id">
                        {{ p.title }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <select name="" class="form-control">
                      <option value="">--Chọn Phường/xã --</option>
                      <option *ngFor="let p of commues" [value]="p.id">
                        {{ p.title }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <select
                      class="form-control"
                      name="sell_status"
                      [(ngModel)]="searchForm.status"
                    >
                      <option value="0">Khởi tạo</option>
                      <option value="1">Đã duyệt</option>
                      <option value="-2">Khóa</option>
                      <option value="-1">Hủy</option>
                      <option value="">Chọn trạng thái</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <input
                      type="text"
                      name="codeSell"
                      [(ngModel)]="searchForm.codeSell"
                      class="form-control"
                      placeholder="Mã kho"
                    />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <input
                      type="text"
                      name="nameSell"
                      [(ngModel)]="searchForm.nameSell"
                      class="form-control"
                      placeholder="Tên kho"
                    />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <input
                      type="text"
                      name="nameChanel"
                      [(ngModel)]="searchForm.nameChanel"
                      class="form-control"
                      placeholder="Tên đại lý"
                    />
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <button type="submit" class="btn btn-block btn-info">
                      Lọc kết quả <span [data-feather]="'search'"></span>
                    </button>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <button
                      type="button"
                      (click)="onSubmitExportExcelReport()"
                      class="btn btn-block btn-success"
                    >
                      Xuất báo cáo excel <span [data-feather]="'file'"></span>
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <div class="mt-3 mb-3 overflow-hidden">
              <div class="pull-left">
                Tổng: <b>{{ totalPage }}</b>
              </div>
              <div class="pull-right">
                <button
                  type="button"
                  (click)="modalOpen(modalCreateSell)"
                  class="btn btn-success mr-25"
                >
                  Thêm kho
                </button>
              </div>
            </div>
            <div class="table-responsive" *blockUI="'section-block'">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Mã</th>
                    <th>Tên</th>
                    <th>Nội dung</th>
                    <th>Đại lý</th>
                    <th>Kênh</th>
                    <th>Địa điểm</th>
                    <th>Trạng thái</th>
                    <th>Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of list">
                    <td>
                      {{ item.id }}
                    </td>
                    <td>{{ item.name }}</td>
                    <td>
                      {{ item.desc }}
                    </td>
                    <td>
                      {{ item.name }}
                    </td>
                    <td>
                      {{ item.type }}
                    </td>
                    <td>
                      {{ item.address }}
                    </td>

                    <td>
                      <div [innerHTML]="item.status | showStatus"></div>
                    </td>

                    <td class="overflow-auto">
                      <a
                        class="ml-1"
                        (click)="modalOpen(modalCreateSell, item)"
                        title="Chỉnh sửa kho"
                      >
                        <i
                          data-feather="edit-3"
                          class="text-primary cursor-pointer"
                        ></i>
                      </a>

                      <a
                        class="ml-1"
                        (click)="onSubmitLock(item.id, 0)"
                        *ngIf="item.status"
                        title="Khóa kho"
                      >
                        <i
                          data-feather="lock"
                          class="text-primary cursor-pointer"
                        ></i>
                      </a>

                      <a
                        class="ml-1"
                        (click)="onSubmitLock(item.id, 1)"
                        *ngIf="!item.status"
                        title="Mở kho"
                      >
                        <i
                          data-feather="unlock"
                          class="text-primary cursor-pointer"
                        ></i>
                      </a>

                      <a
                        class="ml-1"
                        (click)="onAcivteSell(item.id, 1)"
                        *ngIf="!item.status"
                        title="Kích hoạt kho"
                      >
                        <i
                          data-feather="check"
                          class="text-primary cursor-pointer"
                        ></i>
                      </a>

                      <a
                        class="ml-1"
                        (click)="onAcivteSell(item.id, 0)"
                        *ngIf="item.status"
                        title="Dừng kích hoạt kho"
                      >
                        <i
                          data-feather="check-circle"
                          class="text-primary cursor-pointer"
                        ></i>
                      </a>

                      <a
                        class="ml-1"
                        [routerLink]="['/inventory/list-batch']"
                        [queryParams]="{ channel_id: item.id }"
                        title="Xem chi tiết"
                      >
                        <i
                          data-feather="eye"
                          class="text-primary cursor-pointer"
                        ></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>

              <ngb-pagination
                class="d-flex justify-content-end pr-3 pt-2"
                [collectionSize]="totalPage"
                [(page)]="page"
                [pageSize]="pageSize"
                [directionLinks]="false"
                (pageChange)="loadPage($event)"
              ></ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalUploadAccount let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">
      Gán số và CCCD theo file excel có sẵn
    </h5>
    <button
      type="button"
      class="close"
      (click)="modalClose()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0">
    <div class="form-group">
      <i class="fa fa-upload" aria-hidden="true"></i>
      <input type="file" (change)="onSelectFileAccount($event)" />
      <label>Tải lên file excel</label>

      <a href="/assets/data_upload_account.xls" class="ml-2"
        >File mẫu tại đây</a
      >
    </div>
  </div>
  <div class="modal-footer">
    <button
      (click)="onSubmitUploadCCCD()"
      type="submit"
      class="btn btn-primary"
      rippleEffect
    >
      <span
        class="spinner-border spinner-border-sm"
        role="ekyc_status"
        aria-hidden="true"
        *ngIf="submittedUpload"
      ></span>
      Submit
    </button>
  </div>
</ng-template>

<ng-template #modalCreateSell let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Thêm Kho</h5>
    <button
      type="button"
      class="close"
      (click)="modalClose()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0">
    <div class="form-group">
      <label>Mã kho</label>
      <input
        class="form-control"
        type="number"
        placeholder="100"
        mask="separator"
        thousandSeparator=","
        [(ngModel)]="dataSell.code"
      />
    </div>

    <div class="form-group">
      <label for="">Tên kho</label>
      <input type="text" class="form-control" [(ngModel)]="dataSell.name" />
    </div>

    <!-- <div class="form-group">
      <label for="">Kênh bán</label>
      <select [(ngModel)]="dataLo.channel_id" id="" class="form-control">
        <option [value]="item.id" *ngFor="let item of listChannel">
          {{ item.name }}
        </option>
      </select>
    </div> -->

    <div class="form-group">
      <label for="">Ghi chú</label>
      <input type="text" class="form-control" [(ngModel)]="dataSell.desc" />
    </div>

    <div class="form-group">
      <i class="fa fa-upload" aria-hidden="true"></i>
      <input
        type="file"
        (change)="onFileChangeAttach($event)"
        accept="image/png, image/gif, image/jpeg, image/jpg, application/pdf"
      />
      <label>Tải lên file chứng từ</label>

      <!-- <a href="/assets/data_upload_account.xls" class="ml-2"
        >File mẫu tại đây</a
      > -->

      <div class="form-group row mt-1">
        <label for="province" class="col-md-3 col-form-label"
          >Tỉnh/TP Tổ chức</label
        >
        <div class="col-md-9">
          <select
            name=""
            id="province"
            class="form-control"
            (change)="onChangeProvince($event)"
          >
            <option value="">-- Chọn Tỉnh/Thành phố --</option>
            <option *ngFor="let p of provinces" [value]="p.id">
              {{ p.title }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row mt-1">
        <label for="district" class="col-md-3 col-form-label"
          >Quận/Huyện Tổ chức
        </label>
        <div class="col-md-9">
          <select
            id="home_district"
            class="form-control"
            (change)="onChangeDistrict($event)"
          >
            <option value="">--Chọn Quận/Huyện--</option>
            <option *ngFor="let p of districts" [value]="p.id">
              {{ p.title }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row mt-1">
        <label for="commune" class="col-md-3 col-form-label"
          >Phường/Xã Tổ chức</label
        >
        <div class="col-md-9">
          <select name="" class="form-control">
            <option value="">--Chọn Phường/xã --</option>
            <option *ngFor="let p of commues" [value]="p.id">
              {{ p.title }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="residence_full_address" class="col-md-3 col-form-label"
          >Địa chỉ cụ thể</label
        >
        <div class="col-md-9">
          <input
            type="text"
            class="form-control"
            formControlName="residence_full_address"
            placeholder="Địa chỉ cụ thể"
          />
          <div
            *ngIf="submitted && f.residence_full_address.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.residence_full_address.errors.required">
              Vui lòng nhập trường này
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      (click)="onSubmitUploadSell()"
      type="submit"
      class="btn btn-primary"
      rippleEffect
    >
      <span
        class="spinner-border spinner-border-sm"
        aria-hidden="true"
        *ngIf="submittedUpload"
      ></span>
      Submit
    </button>
  </div>
</ng-template>
