<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="row" id="table-striped">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">{{ contentHeader.headerTitle }}</h4>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmitSearch()" class="mb-2">
            <!-- Hàng 1: 3 ô -->
            <div class="row">
                <div class="col-md-4">
                <div class="form-group">
                    <input
                    type="text"
                    name="search"
                    [(ngModel)]="searchForm.search"
                    class="form-control"
                    placeholder="Nhập số/serial"
                    />
                </div>
                </div>

                <div class="col-md-4">
                <div class="form-group">
                  <input
                    class="form-control"
                    [(ngModel)]="searchForm.channelName"
                    name="channelName"
                    placeholder="Nhập tên kho"
                  />
                </div>
                </div>

                <div class="col-md-4">
                <div class="form-group">
                    <input class="form-control" [(ngModel)]="searchForm.assignedUser" name="assignedUser" placeholder="Tên người được giao" />
                </div>
                </div>
            </div>

            <!-- Hàng 2: Thời gian -->
            <div class="row">
                <div class="col-md-4">
                <div class="form-group">
                    <input
                    type="text"
                    placeholder="Chọn khoảng thời gian"
                    [ngModelOptions]="{ standalone: true }"
                    ngxDaterangepickerMd
                    [(ngModel)]="dateRange"
                    [ranges]="ranges"
                    [locale]="{ applyLabel: 'Chọn', format: 'DD/MM/YYYY' }"
                    [showCustomRangeLabel]="true"
                    [alwaysShowCalendars]="true"
                    name="date_range"
                    class="form-control"
                    />
                </div>
                </div>
            </div>

            <!-- Nút hành động -->
            <div class="row mt-1">
                <div class="col-md-6 d-flex">
                <button type="submit" class="btn btn-info mr-1">
                    <i data-feather="search" class="mr-50"></i> Lọc kết quả
                </button>
                <button type="button" class="btn btn-success" (click)="exportExcel()">
                    <i data-feather="file" class="mr-50"></i> Xuất excel
                </button>
                </div>
            </div>
            </form>

            <div class="table-responsive" *blockUI="'section-block'">
              <div class="mb-1">
                <span>Tổng số: </span> <b>{{ totalItems }}</b>
              </div>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>STT</th>
                    <th>Kho</th>
                    <th>Số điện thoại</th>
                    <th>Serial Sim</th>
                    <th>Ngày giao</th>
                    <th>Người được giao</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of list; let i = index">
                    <td>
                      <td>{{ (searchForm.page - 1) * searchForm.take + (i + 1) }}</td>
                      <td>{{ item.channel_name }}</td>
                      <td>{{ item.name }}</td>
                      <td>{{ item.serial || '-' }}</td>
                      <td>{{ item.updated_at | date: 'dd/MM/yyyy HH:mm' }}</td>
                      <td>{{ item.full_name }}</td>
                      <td>
                  </tr>
                </tbody>
              </table>

              <ngb-pagination
                class="d-flex justify-content-end pr-3 pt-2"
                [collectionSize]="totalItems"
                [(page)]="searchForm.page"
                [pageSize]="searchForm.page_size"
                [boundaryLinks]="true"
                (pageChange)="loadPage($event)"
              >
                <ng-template ngbPaginationPages let-page let-pages="pages">
                  <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
                    <div class="mb-3 d-flex flex-nowrap px-2">
                      <label
                        id="paginationInputLabel"
                        for="paginationInput"
                        class="col-form-label me-2 ms-1"
                        >Trang</label
                      >
                      <input
                        #i
                        type="text"
                        inputmode="numeric"
                        pattern="[0-9]*"
                        class="form-control custom-pages-input"
                        id="paginationInput"
                        [value]="searchForm.page"
                        (keyup.enter)="loadPage(i.value)"
                        (blur)="loadPage(i.value)"
                        (input)="formatInput($any($event).target)"
                        aria-labelledby="paginationInputLabel paginationDescription"
                        style="width: 2.5rem"
                      />
                      <span
                        id="paginationDescription"
                        class="col-form-label text-nowrap px-2"
                      >
                        của {{ pages.length }}</span
                      >
                    </div>
                  </li>
                </ng-template>
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
