<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="row" id="table-striped">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">{{ contentHeader.headerTitle }}</h4>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmitSearch()" class="mb-2">
            <!-- Hàng 1: 3 ô -->
            <div class="row">
                <div class="col-md-4">
                <div class="form-group">
                    <input
                    type="text"
                    name="search"
                    [(ngModel)]="searchForm.search"
                    class="form-control"
                    placeholder="Nhập số/serial"
                    />
                </div>
                </div>

                <div class="col-md-4">
            <ng-select
              class="custom-ng-select w-100"
              [items]="listSellChannel"
              bindLabel="name"
              bindValue="id"
              name="channel_name"
              [(ngModel)]="searchForm.channelId"
              placeholder="Chọn kho"
              [searchable]="true"
              [clearable]="false"
              [dropdownPosition]="'auto'"
              >
              <ng-template ng-header-tmp>
                <div style="padding: 8px; color: #6c757d; font-size: 0.875rem;">
                  🔍 Gõ để tìm kiếm kho...
                </div>
              </ng-template>
            </ng-select>
                </div>

                <div class="col-md-4">
                <div class="form-group">
                    <input class="form-control" [(ngModel)]="searchForm.assignedUser" name="assignedUser" placeholder="Tên người được giao" />
                </div>
                </div>
            </div>

            <!-- Hàng 2: Thời gian -->
            <div class="row">
                <div class="col-md-4">
                <div class="form-group">
                    <input
                    type="text"
                    placeholder="Chọn khoảng thời gian"
                    [ngModelOptions]="{ standalone: true }"
                    ngxDaterangepickerMd
                    [(ngModel)]="dateRange"
                    [ranges]="ranges"
                    [locale]="{ applyLabel: 'Chọn', format: 'DD/MM/YYYY' }"
                    [showCustomRangeLabel]="true"
                    [alwaysShowCalendars]="true"
                    name="date_range"
                    class="form-control"
                    />
                </div>
                </div>
            </div>

            <!-- Nút hành động -->
            <div class="row mt-1">
                <div class="col-md-6 d-flex">
                <button type="submit" class="btn btn-info mr-1">
                    <i data-feather="search" class="mr-50"></i> Lọc kết quả
                </button>
                <button type="button" class="btn btn-success" (click)="exportExcel()">
                    <i data-feather="file" class="mr-50"></i> Xuất excel
                </button>
                </div>
            </div>
            </form>

            <div class="table-responsive" *blockUI="'section-block'">
              <div class="mb-1">
                <span>Tổng số: </span> <b>{{ totalItems }}</b>
              </div>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>STT</th>
                    <th>Kho</th>
                    <th>Số điện thoại</th>
                    <th>Serial Sim</th>
                    <th>Thời gian giao</th>
                    <th>Người được giao</th>
                    <th>Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of list; let i = index">
                      <td>{{ (searchForm.page - 1) * searchForm.take + (i + 1) }}</td>
                      <td>{{ item.channel_name }}</td>
                      <td>{{ item.name }}</td>
                      <td>{{ item.serial || '-' }}</td>
                      <td>{{ item.updated_at | date: 'dd/MM/yyyy HH:mm' }}</td>
                      <td>{{ item.full_name }}</td>
                      <td>
                        <div class="col-md-2">
                            <button class="tooltip-wrapper btn p-0 border-0 bg-transparent" (click)="openViewSimModal(viewSimModal, item)" >
                              <i data-feather="eye" class="text-primary cursor-pointer"></i>
                              <span class="custom-tooltip">Xem chi tiết người nhận SIM</span>
                            </button>
                        </div>
                      </td>
                      <td>
                  </tr>
                </tbody>
              </table>

            <ng-template #viewSimModal let-modal>

              <div class="modal-header text-center d-block">
              <h3 class="modal-title font-weight-bold text-center w-100 mb-0">
                Xem chi tiết người sử dụng SIM
              </h3>
                  <p class="text-muted mt-1">[{{ selectedSim?.name }}]</p>
              <button type="button" class="close position-absolute btn btn-danger" style="top: 10px; right: 25px" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" *ngIf="selectedSim">
              <div class="form-row row">
                <div class="form-group col-md-6">
                  <label>Mã CBNV:</label>
                  <input class="form-control" [value]="selectedSim.user_code" readonly />
                </div>
                <div class="form-group col-md-6">
                  <label>Họ tên CBNV:</label>
                  <input class="form-control" [value]="selectedSim.full_name" readonly />
                </div>
              </div>

              <div class="form-row row">
                <div class="form-group col-md-6">
                  <label>Số điện thoại liên hệ:</label>
                  <input class="form-control" [value]="selectedSim.mobile" readonly />
                </div>
                <div class="form-group col-md-6">
                  <label>Email:</label>
                  <input class="form-control" [value]="selectedSim.email" readonly />
                </div>
              </div>

              <div class="form-row row">
                <div class="form-group col-md-6">
                  <label>Đơn vị:</label>
              <input class="form-control" [value]="getUnitName(selectedSim.unit_id)" readonly />
                </div>
                <div class="form-group col-md-6">
                  <label>Ghi chú:</label>
                  <input class="form-control" [value]="selectedSim.note" readonly />
                </div>
              </div>
            </div>

              <div class="modal-footer text-center d-block justify-content-between">
              <button type="button" class="btn btn-secondary" (click)="modal.close()">Đóng</button>
            </div>
          </ng-template>
              <ngb-pagination
                class="d-flex justify-content-end pr-3 pt-2"
                [collectionSize]="totalItems"
                [(page)]="searchForm.page"
                [pageSize]="searchForm.page_size"
                [boundaryLinks]="true"
                (pageChange)="loadPage($event)"
              >
                <ng-template ngbPaginationPages let-page let-pages="pages">
                  <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
                    <div class="mb-3 d-flex flex-nowrap px-2">
                      <label
                        id="paginationInputLabel"
                        for="paginationInput"
                        class="col-form-label me-2 ms-1"
                        >Trang</label
                      >
                      <input
                        #i
                        type="text"
                        inputmode="numeric"
                        pattern="[0-9]*"
                        class="form-control custom-pages-input"
                        id="paginationInput"
                        [value]="searchForm.page"
                        (keyup.enter)="loadPage(i.value)"
                        (blur)="loadPage(i.value)"
                        (input)="formatInput($any($event).target)"
                        aria-labelledby="paginationInputLabel paginationDescription"
                        style="width: 2.5rem"
                      />
                      <span
                        id="paginationDescription"
                        class="col-form-label text-nowrap px-2"
                      >
                        của {{ pages.length }}</span
                      >
                    </div>
                  </li>
                </ng-template>
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
