<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Brand logo--><a class="brand-logo" href="javascript:void(0);">
      <img
        src="{{ coreConfig.app.appLogoImage }}"
        alt="brand-logo"
        height="28"
      />
      <h2 class="brand-text text-primary ml-1">A05</h2></a
    >
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div
      class="d-none d-lg-flex col-lg-8 align-items-center p-5"
      style="background-color: #fbe9a1"
    >
      <div
        class="w-100 d-lg-flex align-items-center justify-content-center px-5"
      >
        <img
          src="/assets/images/backgrounds/background-a05.svg"
          style="height: 80vh"
          alt=""
        />
      </div>
    </div>
    <!-- /Left Text-->
    <!-- Forgot password-->
    <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
      <div
        class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto"
        *ngIf="!showReset"
      >
        <h2 class="card-title font-weight-bold mb-1">Quên mật khẩu? 🔒</h2>
        <p class="card-text mb-2">
          Nhập email của bạn và chúng tôi sẽ gửi cho bạn hướng dẫn để đặt lại
          mật khẩu
        </p>
        <form
          class="auth-forgot-password-form mt-2"
          [formGroup]="forgotPasswordForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="form-group">
            <label class="form-label" for="forgot-password-email">Email</label>
            <input
              class="form-control"
              type="text"
              formControlName="email"
              placeholder="john@example.com"
              aria-describedby="forgot-password-email"
              autofocus=""
              tabindex="1"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email là bắt buộc</div>
              <div *ngIf="f.email.errors.email">
                Email phải là địa chỉ email hợp lệ
              </div>
            </div>
          </div>
          <button class="btn btn-primary btn-block" tabindex="2" rippleEffect>
            Gửi liên kết đặt lại
          </button>
        </form>
        <p class="text-center mt-2">
          <a routerLink="/auth/login"
            ><i data-feather="chevron-left" class="mb-25"></i>Quay lại đăng
            nhập</a
          >
        </p>
      </div>
      <div
        class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto"
        *ngIf="showReset"
      >
        <h2 class="card-title font-weight-bold mb-1">Đặt lại mật khẩu</h2>
        <form
          class="auth-forgot-password-form mt-2"
          [formGroup]="forgotPasswordForm"
          (ngSubmit)="onReset()"
        >
          <div class="form-group">
            <label class="form-label" for="forgot-password-email">Email</label>
            <input
              class="form-control disabled"
              type="text"
              formControlName="email"
              placeholder="john@example.com"
              aria-describedby="forgot-password-email"
              autofocus=""
              tabindex="1"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email là bắt buộc</div>
              <div *ngIf="f.email.errors.email">
                Email phải là địa chỉ email hợp lệ
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="form-label" for="">Nhập OTP</label>
            <code-input
              [isCodeHidden]="false"
              [isCharsCode]="false"
              [codeLength]="6"
              (codeCompleted)="onCompletedInputOtp($event)"
            ></code-input>
          </div>
          <div>
            <label class="form-label" for="">Mật khẩu mới</label>
          </div>
          <div class="input-group input-group-merge form-password-toggle mb-1">
            <input
              [type]="passwordTextType ? 'text' : 'password'"
              formControlName="passwordNew"
              class="form-control form-control-merge"
              [ngClass]="{
                'is-invalid error': submitted && f.passwordNew.errors
              }"
              placeholder="············"
              aria-describedby="new-password"
              autofocus=""
              (focus)="onFocusInput()"
              tabindex="2"
              autocomplete="new-password"
            />
            <div class="input-group-append">
              <span class="input-group-text cursor-pointer"
                ><i
                  class="feather font-small-4"
                  [ngClass]="{
                    'icon-eye-off': passwordTextType,
                    'icon-eye': !passwordTextType
                  }"
                  (click)="togglePasswordTextType()"
                ></i
              ></span>
            </div>
          </div>
          <div class="form-group" style="text-align: center; color: #ff5050;">Mã OTP hết hạn sau: {{ timeCountdownExpired }}</div>
          <div
            *ngIf="submitted && f.passwordNew.errors"
            class="invalid-feedback"
            [ngClass]="{ 'd-block': submitted && f.passwordNew.errors }"
          >
            <div *ngIf="f.passwordNew.errors.required">
              VUi lòng nhập mật khẩu
            </div>
          </div>
          <button class="btn btn-primary btn-block" tabindex="3" rippleEffect>
            Đặt mật khẩu
          </button>
        </form>
        <button
          class="btn btn-primary btn-block mt-1 d-flex justify-content-center align-items-center" style="gap: 5px;"
          [class.disabled]="!noneShowSubmitOtp"
          (click)="onSubmit()"
        >
          Gửi lại mã OTP
          <div style="text-align: center; color: #ff5050">
            ({{ timeCountdown }})
          </div>
        </button>
      </div>
    </div>
    <!-- /Forgot password-->
  </div>
</div>
