<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form (ngSubmit)="getData()">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Từ ngày</label>
                                        <input type="date" name="start_date" [(ngModel)]="searchForm.start_date"
                                            class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Tới ngày</label>
                                        <input type="date" name="end_date" [(ngModel)]="searchForm.end_date"
                                            min="{{ searchForm.start_date }}" max="{{ maxDate }}"
                                            class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                      <label for="">Đơn vị</label>
                                      <ng-select name="sell_channel_id" [(ngModel)]="searchForm.channel_id">
                                        <ng-option *ngFor="let p of listChannel" [value]="p.id">{{
                                          p.name
                                          }}</ng-option>
                                      </ng-select>
                                    </div>
                                </div> 
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="">Quận, Huyện</label>
                                        <ng-select name="g59_district_name" [(ngModel)]="searchForm.g59_district_name"
                                            (change)="onChangeHomeDistrict($event)">
                                            <ng-option *ngFor="let p of listDistrict" [value]="p.id">{{
                                                p.title
                                                }}</ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="">Phường, Xã</label>
                                        <ng-select name="g59_commune_name" [(ngModel)]="searchForm.g59_commune_name">
                                            <ng-option *ngFor="let p of listCommunes" [value]="p.id">{{
                                                p.title
                                                }}</ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                              
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="">Số thuê bao</label>
                                        <input type="text" name="msisdn" [(ngModel)]="searchForm.msisdn"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="">Trạng thái</label>
                                        <select [(ngModel)]="searchForm.status" name="status" class="form-control">
                                            <option value="">-- Chọn trạng thái --</option>
                                            <option value="A">Active</option>
                                            <option value="OC">Khóa 1C</option>
                                            <option value="IC">Khóa 2C</option>
                                            <option value="HUY">Thu hồi</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for=""></label>
                                        <button [disabled]="submitted" type="submit" class="btn btn-block btn-info">
                                            Lọc kết quả <span [data-feather]="'search'"></span>
                                        </button>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for=""></label>
                                        <a [ngClass]="submitted ? 'btn btn-block btn-success disabled' : 'btn btn-block btn-success'"
                                            (click)="exportExcel()">
                                            Xuất Excel <span [data-feather]="'file'"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive" *blockUI="'section-block'">
                            <div class="mb-1">
                                <span>Tổng số: </span> <b>{{ totalItems | number }}</b>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Quận, Huyện</th>
                                        <th>Phường, Xã</th>
                                        <th>Số thuê bao</th>
                                        <th>Ngày kích hoạt</th>
                                        <th>Ngày phát sinh cước đầu tiên</th>
                                        <th>Gói cước đang sử dụng</th>
                                        <th>Trạng thái</th>
                                        <th>Doanh thu topup</th>
                                        <th>Doanh thu tiêu dùng</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of list;let i = index">
                                        <td>
                                            {{ i+1 }}
                                        </td>
                                        <td>
                                            {{item.district}}
                                        </td>
                                        <td>
                                            {{item.commune}}
                                        </td>
                                        <td>
                                            {{item.msisdn}}
                                        </td>
                                        <!-- <td>
                                            {{item.customer_name}}
                                        </td> -->
                                        <td>
                                            {{item.sync_time | formatDate}}
                                        </td>
                                        <td>
                                            {{item.first_psc_date | formatDate}}
                                        </td>
                                        <td>
                                            {{item.package}}
                                        </td>
                                        <td>
                                            {{ showStatus(item.status) }}
                                        </td>
                                        <td>
                                            {{item.sum_topup | formatPrice}}
                                        </td>
                                        <td>
                                            {{item.sum_cost | formatPrice}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <ngb-pagination class="d-flex justify-content-end pr-3 pt-2" [collectionSize]="totalItems"
                                [(page)]="searchForm.page" [pageSize]="searchForm.page_size" [boundaryLinks]="true"
                                (pageChange)="loadPage($event)">
                                <ng-template ngbPaginationPages let-page let-pages="pages">
                                    <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
                                        <div class="mb-3 d-flex flex-nowrap px-2">
                                            <label id="paginationInputLabel" for="paginationInput"
                                                class="col-form-label me-2 ms-1">Trang</label>
                                            <input #i type="text" inputmode="numeric" pattern="[0-9]*"
                                                class="form-control custom-pages-input" id="paginationInput"
                                                [value]="searchForm.page" (keyup.enter)="loadPage(i.value)"
                                                (blur)="loadPage(i.value)" (input)="formatInput($any($event).target)"
                                                aria-labelledby="paginationInputLabel paginationDescription"
                                                style="width: 2.5rem" />
                                            <span id="paginationDescription" class="col-form-label text-nowrap px-2">
                                                của {{ pages.length }}</span>
                                        </div>
                                    </li>
                                </ng-template>
                            </ngb-pagination>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>