<div class="row mb-1">
  <span>Liên hệ: </span>
  <a (click)="copyTextClipboard(detail?.title)"
    ><span class="text-info ml-2">{{ detail?.title }}</span></a
  >
</div>
<div class="row mb-1">
  <span>SĐT liên hệ: </span>
  <a (click)="copyTextClipboard(detail?.contact_mobile)"
    ><span class="text-info ml-2">{{ detail?.contact_mobile }}</span></a
  >
</div>
<div class="row mb-1">
  <span>Địa chỉ chi tiết: </span>
  <a (click)="copyTextClipboard(detail?.ship_address)"
    ><span class="text-info ml-2">{{ detail?.ship_address }}</span></a
  >
</div>
<div
  class="row mb-1"
  *ngIf="detail?.province && detail?.district && detail?.commune"
>
  <span>Địa chỉ: </span>
  <a
    (click)="
      copyTextClipboard(
        nameCommunes + ', ' + nameDistricts + ', ' + nameProvinces
      )
    "
    ><span class="text-info ml-2">{{
      nameCommunes + ", " + nameDistricts + ", " + nameProvinces
    }}</span></a
  >
</div>
<div class="row">
  <span>Link tra cứu đơn hàng: </span>
  <input type="text" class="form-control" [(ngModel)]="ship_tracking" />
</div>
<div class="row">
  <span>Mã đơn hàng: </span>
  <input type="text" class="form-control" [(ngModel)]="ship_code" />
</div>
<div class="row mt-1">
  <a class="btn btn-success" (click)="onSubmitShipTracking()">
    <i data-feather="save" class="text-white cursor-pointer"></i>
    <span> Lưu </span>
  </a>
</div>
