<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <div class="row" id="table-striped">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">

                        <div class="row">
                            <div *ngIf="data" class="col-4">
                                <h4>{{ contentHeader.headerTitle }}</h4>
                                <div class="col border-primary rounded bg-resolution">
                                    <div class="mt-1">
                                        <p>
                                            <b>Số thuê bao : </b>
                                            {{ data.task.msisdn }}
                                        </p>
                                    </div>
                                    <div>
                                        <b>Nhà mạng : </b>
                                        <span [innerHTML]="data.msisdn?.msisdns[0]?.mno | showIconMno"></span>
                                    </div>

                                    <div>
                                        <p>
                                            <b>Giá gói cam kết: </b>
                                            {{ data.msisdn.msisdns[0].commit_price  | number }}
                                        </p>
                                    </div>
                                    <div>
                                        <p>
                                            <b>Mã gói viễn thông : </b>
                                            {{ data.msisdn.msisdns[0].commit_package }}
                                        </p>
                                    </div>
                                    <div>
                                        <p>
                                            <b>Thời hạn cam kết : </b>
                                            {{ data.msisdn.msisdns[0].commit_turn }}
                                        </p>
                                    </div>
                                    <div>
                                        <p>
                                            <b>Số kỳ chưa thanh toán : </b>
                                            {{ data.msisdn.msisdns[0].commit_extant }}
                                        </p>
                                    </div>
                                    <div>
                                        <p>
                                            <b>Thời gian kích hoạt : </b>
                                            {{ data.task.sync_time | date: 'dd/MM/yyyy H:mm':'GMT'}}
                                        </p>
                                    </div>
                                    <div class="mb-1">
                                        <b>Trạng thái :
                                            <span [innerHTML]="data.task.status | showStatusTelecom"></span>
                                        </b>
                                    </div>

                                </div>
                            </div>

                            <div class="col-8">
                                <h4>Lịch sử thanh toán</h4>
                                <div class="">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Mã</th>
                                                <th>Số thuê bao</th>
                                                <th>Ngày thanh toán</th>
                                                <th>Số tiền </th>
                                                <th>Kỳ hạn</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of dataPayment.items;let i = index">

                                                <td>
                                                    {{ item.id }}
                                                <td>
                                                    {{ item.msisdn }}
                                                </td>
                                                <td>
                                                    {{ item.completed_at | date: 'dd/MM/yyyy H:mm':'GMT'}}
                                                </td>
                                                <td>
                                                    {{ item.amount | number }}
                                                </td>
                                                <td>
                                                    <!-- <div [innerHTML]="dataPayment.items[0].status | showStatusTelecom"
                                                        class="mb-1">
                                                    </div> -->
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="col-4 mt-1">
                            <div class="d-flex justify-content-center">
                                <button type="button" (click)="onSubmitExportExcelReport()" class="btn btn-success">Xuất
                                    báo cáo excel <span [data-feather]="'file'"></span></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>