<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="row" id="table-striped">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel160">Tạo Kho</h4>
            </div>
            <div class="modal-body" tabindex="0">
              <div class="form-group">
                <label>Mã kho</label>
                <input
                  class="form-control"
                  type="text"
                  (keydown.space)="$event.preventDefault()"
                  [(ngModel)]="dataSell.code"
                  mask="A{45}"
                />
              </div>

              <div class="form-group">
                <label for="">Tên kho</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="dataSell.name"
                />
              </div>

              <div class="form-group">
                <label for="">Số lượng</label>
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="dataSell.quantity"
                />
              </div>

              <div class="form-group">
                <label for="">Ghi chú</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="dataSell.desc"
                />
              </div>

              <div class="form-group">
                <i class="fa fa-upload" aria-hidden="true"></i>
                <input
                  type="file"
                  (change)="onFileChangeAttach($event)"
                  [(ngModel)]="dataSell.attached_file_name"
                  accept="image/png, image/gif, image/jpeg, image/jpg, application/pdf"
                />
                <label>Tải lên file chứng từ</label>

                <div class="form-group row mt-1">
                  <label for="commune" class="col-md-3 col-form-label"
                    >Kho cha
                  </label>
                  <div class="col-md-9">
                    <select
                      name=""
                      class="form-control"
                      [(ngModel)]="dataSell.parent_id"
                    >
                      <option value="">-- Chọn kho nguồn --</option>
                      <option *ngFor="let p of listMyChanel" [value]="p.id">
                        {{ p.name }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group row mt-1">
                  <label for="province" class="col-md-3 col-form-label"
                    >Tỉnh/TP Tổ chức</label
                  >
                  <div class="col-md-9">
                    <select
                      name=""
                      id="province"
                      class="form-control"
                      (change)="onChangeProvince($event)"
                      [(ngModel)]="dataSell.province_id"
                    >
                      <option value="">-- Chọn Tỉnh/Thành phố --</option>
                      <option *ngFor="let p of provinces" [value]="p.id">
                        {{ p.title }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group row mt-1">
                  <label for="district" class="col-md-3 col-form-label"
                    >Quận/Huyện Tổ chức
                  </label>
                  <div class="col-md-9">
                    <select
                      id="home_district"
                      class="form-control"
                      (change)="onChangeDistrict($event)"
                      [(ngModel)]="dataSell.district_id"
                    >
                      <option value="">-- Chọn Quận/Huyện --</option>
                      <option *ngFor="let p of districts" [value]="p.id">
                        {{ p.title }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group row mt-1">
                  <label for="commune" class="col-md-3 col-form-label"
                    >Phường/Xã Tổ chức</label
                  >
                  <div class="col-md-9">
                    <select
                      name=""
                      class="form-control"
                      [(ngModel)]="dataSell.commune_id"
                    >
                      <option value="">-- Chọn Phường/xã --</option>
                      <option *ngFor="let p of commues" [value]="p.id">
                        {{ p.title }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label
                    for="residence_full_address"
                    class="col-md-3 col-form-label"
                    >Địa chỉ cụ thể</label
                  >
                  <div class="col-md-9">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Địa chỉ cụ thể"
                      [(ngModel)]="dataSell.address"
                    />
                  </div>
                </div>

                <div class="form-group row mt-1">
                  <label for="commune" class="col-md-3 col-form-label"
                    >Đại lý</label
                  >
                  <div class="col-md-9">
                    <ng-select name="" [(ngModel)]="dataSell.customer_id">
                      <ng-option value="">-- Chọn đại lý --</ng-option>
                      <ng-option *ngFor="let p of listCustomer" [value]="p.id">
                        {{ p.name }}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>

                <div class="form-group row mt-1">
                  <label for="commune" class="col-md-3 col-form-label"
                    >Người quản lý kho</label
                  >
                  <div class="col-md-9">
                    <ng-select name="" [(ngModel)]="dataSell.admin_id">
                      <ng-option value="">-- Chọn quản lý kho --</ng-option>
                      <ng-option *ngFor="let p of listAdmin" [value]="p.id">
                        {{ p.username }}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>

                <div class="form-group row mt-1">
                  <label for="commune" class="col-md-3 col-form-label"
                    >Người tạo xuất/thu hồi</label
                  >
                  <div class="col-md-9">
                    <ng-select name="" [(ngModel)]="dataSell.create_export">
                      <ng-option value="">-- Chọn tài khoản --</ng-option>
                      <ng-option *ngFor="let p of listAdmin" [value]="p.id">
                        {{ p.username }}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>

                <div class="form-group row mt-1">
                  <label for="commune" class="col-md-3 col-form-label"
                    >Kế toán</label
                  >
                  <div class="col-md-9">
                    <ng-select name="" [(ngModel)]="dataSell.approval_1" (clear)="onClearApproval1()">
                      <ng-option value="">-- Chọn tài khoản --</ng-option>
                      <ng-option *ngFor="let p of listAdmin" [value]="p.id">
                        {{ p.username }}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>

                <div class="form-group row mt-1">
                  <label for="commune" class="col-md-3 col-form-label"
                    >Người duyệt xuất kho/thu hồi</label
                  >
                  <div class="col-md-9">
                    <ng-select name="" [(ngModel)]="dataSell.approval_2">
                      <ng-option value="">-- Chọn tài khoản --</ng-option>
                      <ng-option *ngFor="let p of listAdmin" [value]="p.id">
                        {{ p.username }}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                (click)="onSubmitUploadSell()"
                type="submit"
                class="btn btn-primary"
                rippleEffect
              >
                <span
                  class="spinner-border spinner-border-sm"
                  aria-hidden="true"
                  *ngIf="submittedUpload"
                ></span>
                Xác nhận
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
