<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <div class="row" id="table-striped">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Lịch sử TOPUP</h4>
            </div>
  
            <div class="card-body">
              <form (ngSubmit)="onSubmitSearch()">
                <div class="row">
                  <div class="col-md-10">
                    <div class="form-group">
                      <input type="text" name="mobile" [(ngModel)]="searchForm.mobile" class="form-control"
                        placeholder="Tìm kiếm" />
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <button type="submit" class="btn btn-block btn-info">
                        Lọc kết quả <span [data-feather]="'search'"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
  
              <div class="table-responsive" *blockUI="'section-block'">
                <table class="table table-striped text-nowrap" *ngIf="list">
                  <thead>
                    <tr>
                      <th>Thời gian</th>
                      <th>Số tiền</th>
                      <th>Trạng thái</th>
                    </tr>
                  </thead>
  
                  <tbody>
                    <tr *ngFor="let item of list">
                        <td>{{ item.completed_at | date: 'dd/MM/yyyy H:mm':'GMT' }}</td>
                        <td>{{ item.amount | number }}</td>
                        <td>{{ item.ocs_status }}</td>
                    </tr>
                  </tbody>
                </table>
  
                <div *ngIf="showMessage">
                  <h6 style="text-align: center">
                    Không tìm thấy thông tin. Vui lòng nhập lại!
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  