<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="row" id="table-striped">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Tra cứu chi tiết TTTB</h4>
          </div>

          <div class="card-body">
            <form (ngSubmit)="onSubmitSearch()">
              <div class="row">
                <div class="col-md-10">
                  <div class="form-group">
                    <input type="text" name="keyword" [(ngModel)]="searchSim.keyword" class="form-control"
                      placeholder="Tìm kiếm" />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <button type="submit" class="btn btn-block btn-info">
                      Lọc kết quả <span [data-feather]="'search'"></span>
                    </button>
                  </div>
                </div>
              </div>
            </form>

            <div>

              <div class="table-responsive mt-1" *blockUI="'section-block'">
                <table class="table table-striped text-nowrap" *ngIf="item">

                  <thead>
                    <tr>
                      <th></th>
                      <th>GMOBILE</th>
                      <th>OTHER</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- <tr style="background-color: bisque;">
                      <td>
                      </td>
                      <td>
                      </td>
                      <td>
                      </td>
                    </tr> -->
                    <tr>
                      <td>
                        <b>Số thuê bao</b>
                      </td>
                      <td>
                        {{item?.gmobile?.msisdn ?? "_" }}
                      </td>
                      <td>
                        {{item?.other?.msisdn ?? "_" }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Số serial</b>
                      </td>
                      <td>
                        {{item?.gmobile?.serial ?? "_" }}
                      </td>
                      <td>
                        {{item?.other?.serial ?? "_" }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Trạng thái của đối tác</b>
                      </td>
                      <td>
                        {{ item?.gmobile?.balance?.currentState ?? "_" | showStatusTrans }}
                      </td>
                      <td>
                        {{ item?.other?.balance?.currentState ?? "_" }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Thời gian kích hoạt</b>
                      </td>
                      <td>
                        {{ item?.gmobile?.balance?.activeDate ?? "_" }}
                      </td>
                      <td>
                        {{ item?.other?.balance?.activeDate ?? "_" }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Tài khoản chính</b>
                      </td>
                      <td>
                        {{ item?.gmobile?.balance?.coreBalance  ?? "_" | number}}
                      </td>
                      <td>
                        {{ item?.other?.balance?.coreBalance  ?? "_" | number}}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Ngày hết hạn</b>
                      </td>
                      <td>
                        {{ item?.gmobile?.balance?.coreBalanceExp ?? "_" }}
                      </td>
                      <td>
                        {{ item?.other?.balance?.coreBalanceExp ?? "_" }}
                      </td>
                    </tr>
                    <tr style="background-color: bisque;">
                      <td>
                      </td>
                      <td>
                      </td>
                      <td>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Gói cước</b>
                      </td>
                      <td>
                        {{ item.gmobile?.packages[0]?.package ?? "_" }}
                      </td>
                      <td>
                        {{ item?.other?.packages[0]?.package ?? "_" }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Thời gian đăng ký</b>
                      </td>
                      <td>
                        {{ item.gmobile?.packages[0]?.timeStart ?? "_" }}
                      </td>
                      <td>
                        {{ item?.other?.packages[0]?.timeStart ?? "_" }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Thời gian hết hạn</b>
                      </td>
                      <td>
                        {{ item.gmobile?.packages[0]?.timeEnd ?? "_" }}
                      </td>
                      <td>
                        {{ item?.other?.packages[0]?.timeEnd ?? "_" }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Gia hạn</b>
                      </td>
                      <td>
                        {{ item.gmobile?.packages[0]?.extension ?? "_" }}
                      </td>
                      <td>
                        {{ item?.other?.packages[0]?.extension ?? "_" }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Tổng Data</b>
                      </td>
                      <td>
                        {{ item.gmobile?.packages[0]?.dataTotal ?? "_" }}
                      </td>
                      <td>
                        {{ item?.other?.packages[0]?.dataTotal ?? "_" }} MB
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Data còn lại</b>
                      </td>
                      <td>
                        {{ item.gmobile?.packages[0]?.dataRemain ?? "_" }}
                      </td>
                      <td>
                        {{ item?.other?.packages[0]?.dataRemain ?? "_" }} MB
                      </td>
                    </tr>
                    <tr style="background-color: bisque;">
                      <td>
                      </td>
                      <td>
                      </td>
                      <td>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Thời gian đồng bộ</b>
                      </td>
                      <td>
                        {{ item?.gmobile?.info?.sync_time ?? "_" }}
                      </td>
                      <td>
                        {{ item?.other?.info?.sync_time ?? "_" }}
                      </td>
                    </tr>
                  
                    <tr>
                      <td>
                        <b>Nhà mạng</b>
                      </td>
                      <td>
                        <span [innerHTML]="item?.gmobile?.info?.mno | showIconMno"></span>
                      </td>
                      <td>
                        <span [innerHTML]="item?.other?.info?.mno | showIconMno"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Họ và tên</b>
                      </td>
                      <td>
                        {{ item?.gmobile?.info?.people?.name ?? "_" }}
                      </td>
                      <td>
                        {{ item?.other?.info?.people?.name ?? "_" }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Mã số CCCD</b>
                      </td>
                      <td>
                        {{ item?.gmobile?.info?.people?.identification_no ?? "_" }}
                      </td>
                      <td>
                        {{ item?.other?.info?.people?.identification_no ?? "_" }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Thời gian đăng ký</b>
                      </td>
                      <td>
                        {{ item?.gmobile?.info?.people?.identification_date ?? "_" }}
                      </td>
                      <td>
                        {{ item?.other?.info?.people?.identification_date ?? "_" }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Địa chỉ đăng ký</b>
                      </td>
                      <td>
                        {{ item?.gmobile?.info?.people?.identification_place ?? "_" }}
                      </td>
                      <td>
                        {{ item?.other?.info?.people?.identification_place ?? "_" }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Loại định danh</b>
                      </td>
                      <td>
                        {{ item?.gmobile?.info?.people?.identification_type ?? "_" }}
                      </td>
                      <td>
                        {{ item?.other?.info?.people?.identification_type ?? "_" }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Ngày sinh</b>
                      </td>
                      <td>
                        {{ item?.gmobile?.info?.people?.birth ?? "_" }}
                      </td>
                      <td>
                        {{ item?.other?.info?.people?.birth ?? "_" }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Phường/Xã</b>
                      </td>
                      <td>
                        {{ item?.gmobile?.info?.people?.communue ?? "_" }}
                      </td>
                      <td>
                        {{ item?.other?.info?.people?.communue ?? "_" }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Tỉnh/Thành phố</b>
                      </td>
                      <td>
                        {{ item?.gmobile?.info?.people?.province ?? "_" }}
                      </td>
                      <td>
                        {{ item?.other?.info?.people?.province ?? "_" }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Quận/Huyện</b>
                      </td>
                      <td>
                        {{ item?.gmobile?.info?.people?.district ?? "_" }}
                      </td>
                      <td>
                        {{ item?.other?.info?.people?.district ?? "_" }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Quê quán</b>
                      </td>
                      <td>
                        {{ item?.gmobile?.info?.people?.address ?? "_" }}
                      </td>
                      <td>
                        {{ item?.other?.info?.people?.address ?? "_" }}
                      </td>
                    </tr>
                    
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>