<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="row" id="table-striped">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Tra cứu chi tiết TTTB</h4>
          </div>

          <div class="card-body">
            <form (ngSubmit)="onSubmitSearch()">
              <div class="row">
                <div class="col-md-10">
                  <div class="form-group">
                    <input type="text" name="keyword" [(ngModel)]="searchSim.keyword" class="form-control"
                      placeholder="Tìm kiếm" />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <button type="submit" class="btn btn-block btn-info">
                      Lọc kết quả <span [data-feather]="'search'"></span>
                    </button>
                  </div>
                </div>
              </div>
            </form>

            <div>

              <div class="table-responsive mt-1" *blockUI="'section-block'">
                <table class="table table-striped text-nowrap" *ngIf="item">
                  <thead>
                    <tr>
                      <th></th>
                      <th>GMOBILE</th>
                      <th>VNP</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="mt-1">
                          <p>
                            <b>Kích hoạt</b>
                          </p>
                        </div>
                        <div>
                          <p>
                            <b>Trạng thái</b>
                          </p>
                        </div>
                        <div>
                          <p>
                            <b>Số thuê bao</b>
                          </p>
                        </div>
                        <div>
                          <p>
                            <b>Số serial</b>
                          </p>
                        </div>  
                                            
                        <div>
                          <p>
                            <b>Trạng thái của đối tác</b>
                          </p>
                        </div>

                        <div>
                          <p>
                            <b>Thời gian kích hoạt</b>
                          </p>
                        </div>

                        <div>
                          <p>
                            <b>Tài khoản chính</b>
                          </p>
                        </div>

                        <div>
                          <p>
                            <b>Data còn lại</b>
                          </p>
                        </div>

                        <div>
                          <p>
                            <b>Tổng Data</b>
                          </p>
                        </div>

                        <div>
                          <p>
                            <b>Thời gian hết hạn sử dụng</b>
                          </p>
                        </div>

                        <div>
                          <p>
                            <b>Gói cước</b>
                          </p>
                        </div>

                        <div>
                          <p>
                            <b>Thời gian đăng ký</b>
                          </p>
                        </div>

                        <div>
                          <p>
                            <b>Thời gian hết hạn</b>
                          </p>
                        </div>

                        <div>
                          <p>
                            <b>Gia hạn</b>
                          </p>
                        </div>

                        <div>
                          <p>
                            <b>Tổng Data</b>
                          </p>
                        </div>

                        <div class="mb-1">
                          <b>Data còn lại</b>
                        </div>

                        <div class="mt-1">
                          <p>
                            <b>Thời gian đồng bộ</b>
                          </p>
                        </div>

                        <div>
                          <p>
                            <b>Trạng thái</b>
                          </p>
                        </div>

                        <div class="mb-1">
                          <b>Nhà mạng</b>
                        </div>

                        <div>
                          <p>
                            <b>Họ và tên</b>
                          </p>
                        </div>

                        <div>
                          <p>
                            <b>Mã số CCCD</b>
                          </p>
                        </div>

                        <div>
                          <p>
                            <b>Thời gian đăng ký</b>
                          </p>
                        </div>

                        <div>
                          <p>
                            <b>Địa chỉ đăng ký</b>
                          </p>
                        </div>

                        <div>
                          <p>
                            <b>Loại định danh</b>
                          </p>
                        </div>

                        <div>
                          <p>
                            <b>Ngày sinh</b>
                          </p>
                        </div>

                        <div>
                          <p>
                            <b>Phường/Xã</b>
                          </p>
                        </div>

                        <div>
                          <p>
                            <b>Tỉnh/Thành phố</b>
                          </p>
                        </div>

                        <div>
                          <p>
                            <b>Quận/Huyện</b>
                          </p>
                        </div>

                        <div class="mb-1">
                          <b>Quê quán</b>
                        </div>

                      </td>

                      <td>
                        <div class="mt-1">
                          <p>
                            {{item?.is_kit ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{item?.state ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{item?.msisdn ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{item?.serial ?? "_" }}
                          </p>
                        </div>
                                                                         
                        <div>
                          <p>
                            {{ item.balance?.currentState ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item.balance?.activeDate ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item.balance?.coreBalance ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item.balance?.dataRemain ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item.balance?.dataTotal ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item.balance?.coreBalanceExp ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item.packages[0]?.package ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item.packages[0]?.timeStart ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>

                            {{ item.packages[0]?.timeEnd ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item.packages[0]?.extension ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item.packages[0]?.dataTotal ?? "_" }}
                          </p>
                        </div>

                        <div class="mb-1">
                          {{ item.packages[0]?.dataRemain ?? "_" }}
                        </div>

                        <div class="mt-1">
                          <p>
                            {{ item?.info?.sync_time ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item?.info?.state ?? "_" }}
                          </p>
                        </div>

                        <div class="mb-1">
                          <span [innerHTML]="item?.info?.mno | showIconMno"></span>
                        </div>

                        <div>
                          <p>
                            {{ item?.info?.people?.name ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item?.info?.people?.identification_no ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item?.info?.people?.identification_date ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item?.info?.people?.identification_place ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item?.info?.people?.identification_type ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item?.info?.people?.birth ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item?.info?.people?.communue ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item?.info?.people?.province ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item?.info?.people?.district ?? "_" }}
                          </p>
                        </div>

                        <div class="mb-1">
                          {{ item?.info?.people?.address ?? "_" }}
                        </div>

                      </td>

                      <td>
                        <div class="mt-1">
                          <p>
                            {{item?.is_kit ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{item?.state ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{item?.msisdn ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{item?.serial ?? "_" }}
                          </p>
                        </div>
                                                                         
                        <div>
                          <p>
                            {{ item.balance?.currentState ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item.balance?.activeDate ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item.balance?.coreBalance ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item.balance?.dataRemain ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item.balance?.dataTotal ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item.balance?.coreBalanceExp ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item.packages[0]?.package ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item.packages[0]?.timeStart ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>

                            {{ item.packages[0]?.timeEnd ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item.packages[0]?.extension ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item.packages[0]?.dataTotal ?? "_" }}
                          </p>
                        </div>

                        <div class="mb-1">
                          {{ item.packages[0]?.dataRemain ?? "_" }}
                        </div>

                        <div class="mt-1">
                          <p>
                            {{ item?.info?.sync_time ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item?.info?.state ?? "_" }}
                          </p>
                        </div>

                        <div class="mb-1">
                          <span [innerHTML]="item?.info?.mno | showIconMno"></span>
                        </div>

                        <div>
                          <p>
                            {{ item?.info?.people?.name ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item?.info?.people?.identification_no ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item?.info?.people?.identification_date ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item?.info?.people?.identification_place ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item?.info?.people?.identification_type ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item?.info?.people?.birth ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item?.info?.people?.communue ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item?.info?.people?.province ?? "_" }}
                          </p>
                        </div>

                        <div>
                          <p>
                            {{ item?.info?.people?.district ?? "_" }}
                          </p>
                        </div>

                        <div class="mb-1">
                          {{ item?.info?.people?.address ?? "_" }}
                        </div>

                      </td>
                   
                    </tr>

                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>