<!-- Statistics Card -->
<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
  
      <div class="row" id="table-striped">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">{{ contentHeader.headerTitle }}</h4>
            </div>
          </div>
        </div>
      </div>
  


      <section id="Donut-and-scatter-charts">
        <div class="row">
          <!-- Donut Chart Starts -->
          <div class="col-lg-4 col-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Tra cứu giao dịch</h4>
              </div>
              <div class="card-body">
                <canvas
                  class="doughnut-chart-ex chartjs mx-auto"
                  baseChart
                  [datasets]="doughnutChart.datasets"
                  [options]="doughnutChart.options"
                  [type]="doughnutChart.chartType"
                >
                </canvas>
                <div class="d-flex justify-content-between mt-3 mb-1">
                  <div class="d-flex align-items-center">
                    <i data-feather="monitor" class="font-medium-2 text-primary"></i>
                    <span class="font-weight-bold ml-75 mr-25">Chuyển tiền đi</span>
                    <span>- 80%</span>
                  </div>
                  <div>
                    <span>2%</span>
                    <i data-feather="arrow-up" class="text-success"></i>
                  </div>
                </div>
                <div class="d-flex justify-content-between mb-1">
                  <div class="d-flex align-items-center">
                    <i data-feather="tablet" class="font-medium-2 text-warning"></i>
                    <span class="font-weight-bold ml-75 mr-25">Nhận tiền đến</span>
                    <span>- 10%</span>
                  </div>
                  <div>
                    <span>8%</span>
                    <i data-feather="arrow-up" class="text-success"></i>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="d-flex align-items-center">
                    <i data-feather="tablet" class="font-medium-2 text-success"></i>
                    <span class="font-weight-bold ml-75 mr-25">Khác</span>
                    <span>- 10%</span>
                  </div>
                  <div>
                    <span>-5%</span>
                    <i data-feather="arrow-down" class="text-danger"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--/ Donut Chart Starts -->

        </div>
      </section>
      
    </div>
  </div>
  
  