<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="row" id="table-striped">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">{{ contentHeader.headerTitle }}</h4>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmitSearch()" class="mb-2">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input
                      type="text"
                      name="keysearch"
                      [(ngModel)]="searchForm.keysearch"
                      class="form-control"
                      placeholder="Nhập số/serial"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <select
                      class="form-control"
                      name="status"
                      [(ngModel)]="searchForm.status"
                    >
                      <option value="">Chọn trạng thái</option>
                      <option
                        *ngFor="let item of taskTelecomStatus | keyvalue"
                        [value]="item.value"
                        [id]="item.key"
                      >
                        <span [innerHTML]="item.value | showStatusSim"></span>
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <input
                      type="text"
                      placeholder="Khoảng thời gian"
                      [ngModelOptions]="{ standalone: true }"
                      ngxDaterangepickerMd
                      [(ngModel)]="dateRange"
                      [ranges]="ranges"
                      [locale]="{ applyLabel: 'Chọn', format: 'DD/MM/YYYY' }"
                      [showCustomRangeLabel]="true"
                      [alwaysShowCalendars]="true"
                      name="daterange"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>

              <div class="mt-1 overflow-hidden">
                <div class="pull-left">
                  <button type="submit" class="btn btn-block btn-info">
                    Lọc kết quả <span [data-feather]="'search'"></span>
                  </button>
                </div>
                <div class="pull-right">
                  <button
                    type="button"
                    class="btn btn-success mr-25"
                    (click)="modalOpen(modalAddUser)"
                  >
                    Chọn tài khoản bán hàng
                  </button>
                </div>
              </div>
            </form>

            <div class="table-responsive" *blockUI="'section-block'">
              <div class="mb-1">
                <span>Tổng số: </span> <b>{{ totalItems }}</b>
              </div>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>STT</th>
                    <th>Số thuê bao</th>
                    <th>Nhà mạng</th>
                    <th>Hạng số</th>
                    <th>Trạng thái</th>
                    <th>Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of list; let i = index">
                    <td>
                      {{ (searchForm.page - 1) * searchForm.take + (i + 1) }}
                    </td>

                    <td>
                      {{ item.name }}
                    </td>
                    <td>
                      {{ item.brand }}
                    </td>
                    <td>
                      {{ item.level }}
                    </td>

                    <td>
                      <div [innerHTML]="item.status | showStatusSim"></div>
                    </td>
                    <td></td>
                  </tr>
                </tbody>
              </table>

              <ngb-pagination
                class="d-flex justify-content-end pr-3 pt-2"
                [collectionSize]="totalItems"
                [(page)]="searchForm.page"
                [pageSize]="searchForm.take"
                [boundaryLinks]="true"
                (pageChange)="loadPage($event)"
              >
                <ng-template ngbPaginationPages let-page let-pages="pages">
                  <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
                    <div class="mb-3 d-flex flex-nowrap px-2">
                      <label
                        id="paginationInputLabel"
                        for="paginationInput"
                        class="col-form-label me-2 ms-1"
                        >Trang</label
                      >
                      <input
                        #i
                        type="text"
                        inputmode="numeric"
                        pattern="[0-9]*"
                        class="form-control custom-pages-input"
                        id="paginationInput"
                        [value]="searchForm.page"
                        (keyup.enter)="loadPage(i.value)"
                        (blur)="loadPage(i.value)"
                        (input)="formatInput($any($event).target)"
                        aria-labelledby="paginationInputLabel paginationDescription"
                        style="width: 2.5rem"
                      />
                      <span
                        id="paginationDescription"
                        class="col-form-label text-nowrap px-2"
                      >
                        của {{ pages.length }}</span
                      >
                    </div>
                  </li>
                </ng-template>
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalCreate let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Thêm tài khoản bán hàng</h5>
    <button
      type="button"
      class="close"
      (click)="modalClose()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form class="mt-2" [formGroup]="formGroup" (ngSubmit)="onSubmitCreate()">
    <div class="modal-body" tabindex="0">
      <div class="form-group" *ngIf="isCreate">
        <label for="basicInput">Số điện thoại</label>
        <input
          type="tel"
          class="form-control"
          placeholder=""
          (focusout)="onCheckExits()"
          (focus)="onFocusMobile()"
          mask="0000000000"
          name="mobile"
          formControlName="mobile"
          [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"
        />
        <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
          <div *ngIf="f.mobile.errors.required">Vui lòng số điện thoại</div>
        </div>
      </div>

      <div class="form-group" *ngIf="isCreate">
        <label for="basicInput">Họ và tên</label>
        <input
          type="text"
          class="form-control"
          placeholder=""
          name="mobile"
          formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Vui lòng nhập họ và tên</div>
        </div>
      </div>

      <div class="form-group" *ngIf="!exitsUser && isCreate">
        <label for="basicInput">Mật khẩu đăng nhập</label>
        <code-input
          style="width: 350px"
          [isCodeHidden]="true"
          [isCharsCode]="false"
          [codeLength]="6"
          (codeCompleted)="onCompletedInputPassword($event)"
        ></code-input>

        <!-- <input type="password" class="form-control" placeholder="" name="password" formControlName="password"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" /> -->
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Vui lòng nhập mật khẩu</div>
        </div>
      </div>
      <div class="" *ngIf="exitsUser">
        <i
          >Đã tồn tại user với số điện thoại trên hệ thống, bạn có đồng ý đặt
          user làm đại lý?</i
        >
      </div>

      <ng-template *ngIf="isCreate">
        <div class="form-group">
          <label for="">Partner code</label>
          <input
            type="text"
            class="form-control"
            formControlName="partner_user_code"
          />
        </div>

        <div class="form-group">
          <label for="">Kênh bán</label>
          <select formControlName="channel_id" id="" class="form-control">
            <option [value]="item.id" *ngFor="let item of listSellChannel">
              {{ item.code }}
            </option>
          </select>
        </div>
      </ng-template>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" rippleEffect>Lưu</button>
    </div>
  </form>
</ng-template>

<ng-template #modalAddUser let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Chọn tài khoản bán hàng</h5>
    <button
      type="button"
      class="close"
      (click)="modalClose()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form class="mt-2" [formGroup]="formGroup" (ngSubmit)="onSubmitCreate()">
    <div class="modal-body" tabindex="0">
      <div class="pull-right">
        <button
          type="button"
          class="btn btn-primary mb-1"
          (click)="modalOpen(modalCreate)"
          title="Thêm người bán khách hàng"
        >
          <span [data-feather]="'plus'"></span>
        </button>
      </div>
      <div>
        <select class="form-control" (change)="onChangeUser($event)">
          <option value="">Chọn tài khoản bán hàng</option>
          <option *ngFor="let p of listSellUser" [value]="p.id">
            {{ p.full_name }} - {{ p.mobile }}
          </option>
        </select>
        <div class="mt-1" *ngFor="let item of listSelectedUser">
          Thông tin khách hàng : {{ item.full_name }} - {{ item.mobile }}
          <span class="pull-right" (click)="onRemoveElement(item)"
            ><b>X</b></span
          >
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" rippleEffect>Lưu</button>
    </div>
  </form>
</ng-template>
