<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="row" id="table-striped">
      <div class="col-12">
        <div class="card">
          <!-- <div class="card-header">
              <h4 class="card-title">{{ contentHeader.headerTitle }}</h4>
            </div> -->
          <div class="card-body">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel160">Sửa Kho</h4>
            </div>
            <div class="modal-body" tabindex="0">
              <div class="form-group">
                <label>Mã kho</label>
                <input
                  class="form-control"
                  type="number"
                  placeholder="100"
                  mask="separator"
                  name="code"
                  thousandSeparator=","
                  [(ngModel)]="dataSell.code"
                />
              </div>

              <div class="form-group">
                <label for="">Tên kho</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="dataSell.name"
                />
              </div>

              <div class="form-group">
                <label for="">Ghi chú</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="dataSell.desc"
                />
              </div>

              <div class="form-group">
                <i class="fa fa-upload" aria-hidden="true"></i>
                <input
                  type="file"
                  [(ngModel)]="dataSell.attached_file_name"
                  (change)="onFileChangeAttach($event)"
                  accept="image/png, image/gif, image/jpeg, image/jpg, application/pdf"
                />
                <label>Tải lên file chứng từ</label>

                <div class="form-group row mt-1">
                  <label for="province" class="col-md-3 col-form-label"
                    >Tỉnh/TP Tổ chức</label
                  >
                  <div class="col-md-9">
                    <select
                      name=""
                      id="province"
                      class="form-control"
                      (change)="onChangeProvince($event)"
                      [(ngModel)]="dataSell.province_id"
                    >
                      <option value="">-- Chọn Tỉnh/Thành phố --</option>
                      <option *ngFor="let p of provinces" [value]="p.id">
                        {{ p.title }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group row mt-1">
                  <label for="district" class="col-md-3 col-form-label"
                    >Quận/Huyện Tổ chức
                  </label>
                  <div class="col-md-9">
                    <select
                      id="home_district"
                      class="form-control"
                      (change)="onChangeDistrict($event)"
                      [(ngModel)]="dataSell.district_id"
                    >
                      <option value="">--Chọn Quận/Huyện--</option>
                      <option *ngFor="let p of districts" [value]="p.id">
                        {{ p.title }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group row mt-1">
                  <label for="commune" class="col-md-3 col-form-label"
                    >Phường/Xã Tổ chức</label
                  >
                  <div class="col-md-9">
                    <select
                      name=""
                      class="form-control"
                      [(ngModel)]="dataSell.commune_id"
                    >
                      <option value="">--Chọn Phường/xã --</option>
                      <option *ngFor="let p of commues" [value]="p.id">
                        {{ p.title }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label
                    for="residence_full_address"
                    class="col-md-3 col-form-label"
                    >Địa chỉ cụ thể</label
                  >
                  <div class="col-md-9">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Địa chỉ cụ thể"
                      [(ngModel)]="dataSell.address"
                    />
                  </div>
                </div>

                <div class="form-group row mt-1">
                  <label
                    for="commune"
                    class="col-md-3 col-form-label"
                    [(ngModel)]="dataSell.admin_id"
                    >Đại lý</label
                  >
                  <div class="col-md-9">
                    <select name="" class="form-control">
                      <option value="">--Chọn đại lý --</option>
                      <option *ngFor="let p of listCustomer" [value]="p.id">
                        {{ p.name }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group row mt-1">
                  <label
                    for="commune"
                    class="col-md-3 col-form-label"
                    [(ngModel)]="dataSell.parent_id"
                    >Quản lý kho</label
                  >
                  <div class="col-md-9">
                    <select name="" class="form-control">
                      <option value="">--Chọn quản lý kho --</option>
                      <option *ngFor="let p of listAdmin" [value]="p.id">
                        {{ p.username }}
                      </option>
                    </select>
                  </div>
                </div>
                <!-- <div class="form-group row mt-1">
                    <label for="commune" class="col-md-3 col-form-label"
                      >Chọn người bán hàng</label
                    >
                    <div class="col-md-9">
                      <select name="" class="form-control">
                        <option value="">--Chọn người bán hàng --</option>
                        <option *ngFor="let p of listSellUser" [value]="p.id">
                          {{ p.full_name }}
                        </option>
                      </select>
                    </div>
  
                  </div> -->
              </div>
            </div>
            <div class="modal-footer">
              <button
                (click)="onSubmitUploadSell()"
                type="submit"
                class="btn btn-primary"
                rippleEffect
              >
                <span
                  class="spinner-border spinner-border-sm"
                  aria-hidden="true"
                  *ngIf="submittedUpload"
                ></span>
                Xác nhận
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalCreate let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">{{ titleModal }}</h5>
    <button
      type="button"
      class="close"
      (click)="modalClose()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form class="mt-2" [formGroup]="formGroup" (ngSubmit)="onSubmitCreate()">
    <div class="modal-body" tabindex="0">
      <div class="form-group" *ngIf="isCreate">
        <label for="basicInput">Số điện thoại</label>
        <input
          type="tel"
          class="form-control"
          placeholder=""
          (focusout)="onCheckExits()"
          (focus)="onFocusMobile()"
          mask="0000000000"
          name="mobile"
          formControlName="mobile"
          [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"
        />
        <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
          <div *ngIf="f.mobile.errors.required">Vui lòng số điện thoại</div>
        </div>
      </div>

      <div class="form-group" *ngIf="isCreate">
        <label for="basicInput">Họ và tên</label>
        <input
          type="text"
          class="form-control"
          placeholder=""
          name="mobile"
          formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Vui lòng nhập họ và tên</div>
        </div>
      </div>

      <div class="form-group" *ngIf="!exitsUser && isCreate">
        <label for="basicInput">Mật khẩu đăng nhập</label>
        <code-input
          style="width: 350px"
          [isCodeHidden]="true"
          [isCharsCode]="false"
          [codeLength]="6"
          (codeCompleted)="onCompletedInputPassword($event)"
        ></code-input>

        <!-- <input type="password" class="form-control" placeholder="" name="password" formControlName="password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" /> -->
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Vui lòng nhập mật khẩu</div>
        </div>
      </div>
      <div class="" *ngIf="exitsUser">
        <i
          >Đã tồn tại user với số điện thoại trên hệ thống, bạn có đồng ý đặt
          user làm đại lý?</i
        >
      </div>
      <!-- <div class="form-group" >
        <label for="basicInput">Mã giới thiệu</label>
          <input type="text" class="form-control"  placeholder=""
          name="ref_code"
          formControlName="ref_code"
          [ngClass]="{ 'is-invalid': submitted && f.ref_code.errors }"
          />
      </div>  -->
      <div class="form-group mt-2">
        <label>Chọn dịch vụ</label>
        <div class="" formArrayName="agents_service">
          <div
            *ngFor="
              let control of formGroup.controls['agents_service'].controls;
              let i = index
            "
            class="row"
          >
            <div class="col-8">
              <div [formGroup]="formGroup.controls.agents_service.controls[i]">
                <div class="form-group">
                  <select
                    class="form-control"
                    formControlName="service_code"
                    (change)="onSelectService($event.target.value)"
                  >
                    <option
                      id="{{ item.code }}"
                      *ngFor="let item of listServiceFilter"
                      [value]="item.code"
                    >
                      {{ item.desc }}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="">Mã giới thiệu</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="ref_code"
                  />
                </div>
              </div>
            </div>
            <div class="col-4">
              <button
                *ngIf="
                  !isCreate &&
                  formGroup.controls['agents_service'].value[i]['status'] == 1
                "
                type="button"
                class="btn btn-warning btn-sm"
                (click)="updateStatusAgentService(i, 0)"
              >
                Khóa <span [data-feather]="'lock'"></span>
              </button>
              <button
                *ngIf="
                  !isCreate &&
                  formGroup.controls['agents_service'].value[i]['status'] == 0
                "
                type="button"
                class="btn btn-warning btn-sm"
                (click)="updateStatusAgentService(i, 1)"
              >
                Mở <span [data-feather]="'unlock'"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="" formArrayName="new_agents_service">
          <div
            *ngFor="
              let control of formGroup.controls['new_agents_service'].controls;
              let i = index
            "
            class="row"
          >
            <div class="col-8">
              <div
                [formGroup]="formGroup.controls.new_agents_service.controls[i]"
              >
                <div class="form-group">
                  <select
                    class="form-control"
                    formControlName="service_code"
                    (change)="onSelectService($event.target.value)"
                  >
                    <option
                      [disabled]="item.disabled"
                      id="{{ item.code }}"
                      *ngFor="let item of listServiceFilter"
                      [value]="item.code"
                    >
                      {{ item.desc }}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="">Mã giới thiệu</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="ref_code"
                  />
                </div>
              </div>
            </div>
            <div class="col-4">
              <button
                type="button"
                class="btn btn-danger btn-sm"
                (click)="removeInput(i)"
              >
                Xóa <span [data-feather]="'trash'"></span>
              </button>
            </div>
          </div>
        </div>
        <button
          *ngIf="isShowAddInput"
          type="button"
          class="btn btn-success btn-sm"
          (click)="addInput()"
        >
          Thêm <span [data-feather]="'plus'"></span>
        </button>
      </div>

      <ng-template *ngIf="isCreate">
        <div class="form-group">
          <label for="">Partner code</label>
          <input
            type="text"
            class="form-control"
            formControlName="partner_user_code"
          />
        </div>

        <div class="form-group">
          <label for="">Kênh bán</label>
          <select formControlName="channel_id" id="" class="form-control">
            <option [value]="item.id" *ngFor="let item of listSellChannel">
              {{ item.code }}
            </option>
          </select>
        </div>
      </ng-template>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" rippleEffect>Lưu</button>
    </div>
  </form>
</ng-template>
