<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="row" id="table-striped">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel160">Sửa Kho</h4>
            </div>
            <form
              class="mt-2"
              [formGroup]="formGroup"
              (ngSubmit)="onSubmitCreate()"
            >
              <div class="modal-body" tabindex="0">
                <div class="form-group">
                  <label for="basicInput">Mã kho</label>
                  <input
                    type="text"
                    disabled="true"
                    class="form-control"
                    name="code"
                    placeholder=""
                    formControlName="code"
                    [ngClass]="{
                      'is-invalid': submitted && f.code.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && f.code.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.code.errors.required">
                      Vui lòng điền mã kho
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="basicInput">Tên kho</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    name="name"
                    formControlName="name"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                  />
                  <div
                    *ngIf="submitted && f.name.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.name.errors.required">
                      Vui lòng nhập tên kho
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="basicInput">Ghi chú</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    name="desc"
                    formControlName="desc"
                    [ngClass]="{ 'is-invalid': submitted && f.desc.errors }"
                  />
                </div>

            <div class="form-group mt-2" *ngIf="formGroup.get('attach_file_base64')?.value">
              <label class="mb-2">Văn bản phê duyệt của Lãnh đạo</label>

              <!-- Nút để mở xem -->
            <button
                  type="button"
                  class="btn btn-outline-primary btn-sm ms-2"
                  (click)="togglePreview()"
                >  {{ showPreview ? 'Ẩn văn bản' : 'Xem văn bản' }}
            </button>

              <!-- Hiển thị nội dung khi showPreview = true -->
              <div *ngIf="showPreview" style="padding-left: 16px;">
                <!-- Nếu là ảnh -->
                <img
                  *ngIf="formGroup.get('attach_file_base64')?.value.startsWith('data:image/')"
                  [src]="formGroup.get('attach_file_base64')?.value"
                  alt="Ảnh đính kèm"
                  style="max-width: 500px; max-height: 1000px;"
                />

                <!-- Nếu là PDF -->
                <div *ngIf="formGroup.get('attach_file_base64')?.value.startsWith('data:application/pdf')">
                  <pdf-viewer
                    [src]="formGroup.get('attach_file_base64')?.value"
                    [render-text]="true"
                    [original-size]="false"
                    [external-link-target]="'blank'"
                    style="max-width: 500px; max-height: 1000px"
                  ></pdf-viewer>
                </div>
              </div>
            </div>

                <div class="form-group">
                <label for="fileUpload">Tải lên Văn bản phê duyệt của Lãnh đạo</label>
                <div class="d-flex align-items-center mb-2">
                  <i class="fa fa-upload mr-2" aria-hidden="true"></i>
                  <input
                    id="fileUpload"
                    type="file"
                    (change)="onFileChangeAttach($event)"
                    [ngClass]="{
                      'is-invalid': submitted && f.attached_file_name.errors
                    }"
                    accept="image/png, image/gif, image/jpeg, image/jpg, application/pdf"
                  />
                </div>

                <p *ngIf="fileExt">
                  <img *ngIf="fileExt.length < 6" width="25px" src="/assets/images/icons/file/{{fileExt}}.png" />
                  <a (click)="onViewAttachments()"><u>Xem file đính kèm</u></a>
                </p>
              </div>
              <div class="form-group">
                <label for="parent_id">Kho tổng</label>
                <ng-select
                  id="parent_id"
                  formControlName="parent_id"
                  [items]="listMyChanel"
                  bindLabel="name"
                  bindValue="id"
                  placeholder="-- Chọn kho tổng --"
                >
                </ng-select>
                <div
                  *ngIf="submitted && f.parent_id.errors"
                  class="invalid-feedback d-block"
                >
                  <div *ngIf="f.parent_id.errors.required">Vui lòng chọn kho tổng</div>
                </div>
              </div>
                <div class="form-group">
                  <label for="province_id">Tỉnh/Thành Phố</label>

                  <ng-select
                    formControlName="province_id"
                    (clear)="onClearHomeProvince()"
                    (change)="onChangeHomeProvince($event)"
                  >
                    <ng-option *ngFor="let p of provinces" [value]="p.id">{{
                      p.title
                    }}</ng-option>
                  </ng-select>

                  <div
                    *ngIf="submitted && f.province_id.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.province_id.errors.required">
                      Vui lòng nhập trường này
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="district_id">Quận/Huyện</label>

                  <ng-select
                    formControlName="district_id"
                    (clear)="onClearHomeDistrict()"
                    (change)="onChangeHomeDistrict($event)"
                  >
                    <ng-option *ngFor="let p of districts" [value]="p.id">{{
                      p.title
                    }}</ng-option>
                  </ng-select>

                  <div
                    *ngIf="submitted && f.district_id.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.district_id.errors.required">
                      Vui lòng nhập trường này
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="commune_id">Phường/Xã</label>

                  <ng-select formControlName="commune_id">
                    <ng-option *ngFor="let p of commues" [value]="p.id">{{
                      p.title
                    }}</ng-option>
                  </ng-select>
                  <div
                    *ngIf="submitted && f.commune_id.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.commune_id.errors.required">
                      Vui lòng nhập trường này
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="address">Địa chỉ cụ thể</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    name="address"
                    formControlName="address"
                    [ngClass]="{
                      'is-invalid': submitted && f.address.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && f.address.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.address.errors.required">
                      Vui lòng nhập số nhà tên đường
                    </div>
                  </div>
                </div>

                <!-- <div class="form-group row mt-1">
                  <label for="customer_id" class="col-md-3 col-form-label"
                    >Đại lý</label
                  >
                  <div class="col-md-9">
                    <ng-select
                      name=""
                      formControlName="customer_id"
                    >
                      <ng-option value="">-- Chọn đại lý --</ng-option>
                      <ng-option *ngFor="let p of listCustomer" [value]="p.id">
                        {{ p.name }}
                      </ng-option>
                    </ng-select>
                    <div
                      *ngIf="submitted && f.customer_id.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.customer_id.required">
                        Vui lòng nhập tên đại lý
                      </div>
                    </div>
                  </div>
                </div> -->

                <div class="form-group row mt-1">
                  <label for="admin_id" class="col-md-3 col-form-label"
                    >Tài khoản quản lý kho</label
                  >
                  <div class="col-md-9">
                    <ng-select
                      name=""
                      formControlName="admin_id"
                    >
                      <ng-option value="">-- Chọn tài khoản quản lý kho --</ng-option>
                      <ng-option *ngFor="let p of listAdmin" [value]="p.id">
                        {{ p.username }}
                      </ng-option>
                    </ng-select>
                    <div
                      *ngIf="submitted && f.admin_id.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.admin_id.required">
                        Vui lòng nhập người quản lý kho
                      </div>
                    </div>
                  </div>
                </div>

                <ng-container >
                <div class="form-group row mt-1">
                  <label for="approval_1" class="col-md-3 col-form-label"
                    >Người tạo xuất/thu hồi</label
                  >
                  <div class="col-md-9">
                    <ng-select
                      name=""
                      formControlName="create_export"
                    >
                      <ng-option value="">-- Chọn tài khoản --</ng-option>
                      <ng-option *ngFor="let p of listAdmin" [value]="p.id">
                        {{ p.username }}
                      </ng-option>
                    </ng-select>
                    <div
                      *ngIf="submitted && f.create_export.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.create_export.required">
                        Vui lòng nhập
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="form-group row mt-1">
                  <label for="approval_1" class="col-md-3 col-form-label"
                    >Kế toán</label
                  >
                  <div class="col-md-9">
                    <ng-select
                      name=""
                      formControlName="approval_1"
                      (clear)="onClearApproval1()"
                    >
                      <ng-option value="">-- Chọn tài khoản --</ng-option>
                      <ng-option *ngFor="let p of listAdmin" [value]="p.id">
                        {{ p.username }}
                      </ng-option>
                    </ng-select>
                    <div
                      *ngIf="submitted && f.approval_1.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.approval_1.required">
                        Vui lòng nhập
                      </div>
                    </div>
                  </div>
                </div> -->

                <div class="form-group row mt-1">
                  <label for="approval_2" class="col-md-3 col-form-label"
                    >Người duyệt</label
                  >
                  <div class="col-md-9">
                    <ng-select
                      name=""
                      formControlName="approval_2"
                    >
                      <ng-option value="">-- Chọn tài khoản --</ng-option>
                      <ng-option *ngFor="let p of listAdmin" [value]="p.id">
                        {{ p.username }}
                      </ng-option>
                    </ng-select>
                    <div
                      *ngIf="submitted && f.approval_2.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.approval_2.required">
                        Vui lòng nhập
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              </div>

              <div class="modal-footer">
                <button
                  (click)="onSubmitCreate()"
                  type="submit"
                  class="btn btn-primary"
                  rippleEffect
                >
                  Lưu
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
