<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <div class="row" id="table-striped">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{ contentHeader.headerTitle }}</h4>
                    </div>
                    <div class="card-body">
                      <form (ngSubmit)="onSubmitSearch()" class="mb-2">
                        <div class="row">
                          <div class="col-md-2">
                            <div class="form-group">
                              <select class="form-control" name="type" [(ngModel)]="searchForm.type">
                                <option value="{{ batchType.OUTPUT }}">Xuất kho</option>
                                <option value="{{ batchType.INPUT }}">Nhập kho</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <select class="form-control" name="category_id" [(ngModel)]="searchForm.category_id">
                                <option value="2">SIM</option>
                                <option value="3">Số</option>
                              </select>
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <input type="text" placeholder="Khoảng thời gian" [ngModelOptions]="{standalone: true}"
                                ngxDaterangepickerMd [(ngModel)]="dateRange" [ranges]="ranges"
                                [locale]="{applyLabel: 'Chọn',format: 'DD/MM/YYYY'}" [showCustomRangeLabel]="true"
                                [alwaysShowCalendars]="true" name="daterange" class="form-control" />
                            </div>
                          </div>
                          
                          <div class="col-md-3">
                            <div class="form-group">
                              <input
                                type="text"
                                name="keysearch"
                                [(ngModel)]="searchForm.keysearch"
                                class="form-control"
                                placeholder="Nhập số/serial"
                              />
                            </div>
                          </div>

                          <div class="col-md-2">
                            <div class="form-group">
                              <select
                                class="form-control"
                                name="status"
                                [(ngModel)]="searchForm.status"
                              >
                                <option value="">-- Chọn trạng thái --</option>
                                <option
                                  *ngFor="let item of productStatus | keyvalue"
                                  [value]="item.value"
                                  [id]="item.key"
                                >
                                  <span
                                    [innerHTML]="item.value | showStatusProduct"
                                  ></span>
                                </option>
                              </select>
                            </div>
                          </div>                                    
          
                        </div>
          
                        <div class="mt-1 overflow-hidden">
                          <div class="pull-left">
                            <button type="submit" class="btn btn-block btn-info" [disabled]="submitted">
                              Lọc kết quả <span [data-feather]="'search'"></span>
                            </button>
                          </div>
                          <div class="pull-right">
                            
                          </div>
                        </div>
                      </form>

                      <div class="overflow-hidden">
                        <div class="pull-right">
                          <button
                          [disabled]="submitted"
                          type="button"
                          class="btn btn-success mr-2"
                          (click)="exportExcelByLocal()"
                        >
                        <span class="spinner-border spinner-border-sm" role="ekyc_status" aria-hidden="true" *ngIf="submitted"></span>
                          Xuất file excel
                        </button>
                                    
                        </div>
                      </div>

                        <div class="table-responsive" *blockUI="'section-block'">
                            <div class="mb-1">
                              <span>Tổng số: </span> <b>{{ totalItems | number }}</b>
                            </div>
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th>STT</th>
                                  <th>Số thuê bao/Serial SIM</th>
                                  <th>Nhà mạng</th>
                                  <th>Hạng số</th>
                                  <!-- <th>Giá vốn</th>
                                  <th>Giá bán</th> -->
                                  <th>Thời gian</th>
                                  <th>Trạng thái</th>
                                  <th>Xuất cho kho</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of list; let i = index">
                                  <td>
                                    {{
                                      (searchForm.page - 1) * searchForm.page_size +
                                        (i + 1)
                                    }}
                                    <!-- {{ item.id }} -->
                                  </td>
              
                                  <td>
                                    {{ item.name }}
                                    <br/>
                                    <small class="text-info" *ngIf="item.is_kit"><i>KIT: {{ item.short_desc }}</i></small>
                                  </td>
                                  <td>
                                    {{ item.brand }}
                                  </td>
              
                                  <td>
                                    {{ item.level }}
                                  </td>
                                    <!-- 
                                  <td>
                                    {{ item.price || number }}
                                  </td>
              
                                  <td>
                                    {{ item.export_price || number }}
                                  </td> -->

                                  <td>
                                    {{ 
                                    (item.created_at ? item.created_at : '') | formatDate }}
                                  </td>
              
                                  <td>
                                    <div [innerHTML]="item.status | showStatusProduct"></div>
                                  </td>
              
                                  <td>
                                    <a (click)="modalChannelOpen(modalChannelInfo, item)" ><u>{{ item.sub_channel_id  }}</u></a>
                                    </td>
              
                                </tr>
                              </tbody>
                            </table>
              
                            <ngb-pagination
                              class="d-flex justify-content-end pr-3 pt-2"
                              [collectionSize]="totalItems"
                              [(page)]="searchForm.page"
                              [pageSize]="searchForm.page_size"
                              [boundaryLinks]="true"
                              (pageChange)="loadPage($event)"
                            >
                              <ng-template ngbPaginationPages let-page let-pages="pages">
                                <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
                                  <div class="mb-3 d-flex flex-nowrap px-2">
                                    <label
                                      id="paginationInputLabel"
                                      for="paginationInput"
                                      class="col-form-label me-2 ms-1"
                                      >Trang</label
                                    >
                                    <input
                                      #i
                                      type="text"
                                      inputmode="numeric"
                                      pattern="[0-9]*"
                                      class="form-control custom-pages-input"
                                      id="paginationInput"
                                      [value]="searchForm.page"
                                      (keyup.enter)="loadPage(i.value)"
                                      (blur)="loadPage(i.value)"
                                      (input)="formatInput($any($event).target)"
                                      aria-labelledby="paginationInputLabel paginationDescription"
                                      style="width: 2.5rem"
                                    />
                                    <span
                                      id="paginationDescription"
                                      class="col-form-label text-nowrap px-2"
                                    >
                                      của {{ pages.length }}</span
                                    >
                                  </div>
                                </li>
                              </ng-template>
                            </ngb-pagination>
                          </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalChannelInfo let-modal>
  <div class="modal-header">
    <h5 class="modal-title text-info" id="myModalLabel160">Thông tin kho</h5>
    <button
      type="button"
      class="close"
      (click)="modalClose()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0">
    <p>Tên kho: {{ showChannel?.name }}</p>
    <p>Mã kho: {{ showChannel?.code }}</p>
  </div>
</ng-template>