<div class="pl-3 pr-3">
    <div>
        <h3>{{ titleModal }}</h3>
    </div>
    <div class="row" *ngIf="item">
        <div class="col-md-6 ">
            <div>
                ID của yêu cầu: {{ item.id }}
            </div>
            <div>
                <span>Trạng thái: </span><span [innerHTML]="item.status | showStatusTelecom"></span>
            </div>
            <div>
                <span>Admin thao tác: </span>{{ item.user_sync }}
            </div>
        </div>
        <div class="col-md-6 ">
            <div>
                Trạng thái OCS: <span [innerHTML]="item.ocs_status"></span>
            </div>
            <div>
                <span>Ocs: </span>{{ item.ocs_response }}
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-12 mb-2">
            <span>Thời gian tạo: </span> {{ item.request_time | date: 'dd/MM/yyyy H:mm':'UTC' }}<br>
            <span>Thời gian cập nhật: </span> {{ item.updated_time | date: 'dd/MM/yyyy H:mm':'UTC' }}<br>
        </div>
        <div class="col-md-12 mb-2" *ngIf="item.note">
            <span>Note: </span> {{ item.note }}
        </div>
    </div>

    <!-- Duyệt/không duyệt thuê bao 2G chuyển sang Gsim -->
    <div class="row" >
        <div class="col-6">
            <label for="">Ảnh giấy tờ mặt trước</label>
                    <img (click)="onViewImage(modalImage, 'cccd_front') " class="img-fluid rounded mb-75"
                        src="data:image/png;base64,{{ detailTask?.people?.base64Front }}" alt="avatar img" />
        </div>
        <div class="col-6">
            <label for="">Ảnh giấy tờ mặt sau</label>
                    <img (click)="onViewImage(modalImage, 'cccd_front') " class="img-fluid rounded mb-75"
                        src="data:image/png;base64,{{ detailTask?.people?.base64Back }}" alt="avatar img" />
        </div>
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Dữ liệu cũ</th>
                        <th>Dữ liệu mới</th>
                        </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{ detailTask.old_people.name }}
                        </td>
                        <td>
                            {{ detailTask.people.name }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ detailTask.old_people.identification_no }}
                        </td>
                        <td>
                            {{ detailTask.people.identification_no }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ detailTask.old_people.birth }}
                        </td>
                        <td>
                            {{ detailTask.people.birth }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12" *ngIf="item.status == 20" >
            <a class="ml-2 btn btn-success" (click)="onUpdateStatus(item.id, 1)">
                <i data-feather="check-circle" class="text-white cursor-pointer"></i>
                Duyệt
            </a>
    
            <a class="ml-2 btn btn-warning" (click)="onUpdateStatus(item.id, 0)">
                <i data-feather="cancel" class="text-white cursor-pointer"></i>
                    Không duyệt
            </a>
        </div>
       
    </div>
</div>

<ng-template #modalImage let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel160"></h4>
        <button type="button" class="close" (click)="onCloseModalImage()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0">
        <app-poup-view-image [srcImage]="viewImage"></app-poup-view-image>
    </div>
</ng-template>