<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="row">
      <div>
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">{{ contentHeader.headerTitle }}</h4>
          </div>
          <div class="card-body">
            <div>
              <ul ngbNav #navWithIcons="ngbNav" class="nav-tabs" [(activeId)]="currentType">
                <li [ngbNavItem]="customerType.PERSONAL" class="col" 
                *ngIf="(dataInput && dataInput.customer_type == customerType.PERSONAL) || !id || id == undefined"
                >
                  <a ngbNavLink
                    ><span [data-feather]="'user'"></span> Cá nhân</a
                  >
                  <ng-template ngbNavContent>
                    <ng-container>
                      <app-form-personal #formPeopleComponent
                      [countries]="countries"
                      [provinces]="provinces"
                      [submitted]="submitted"
                      [dataInput]="dataInput && dataInput.customer_type == customerType.PERSONAL ? dataInput : null"

                      ></app-form-personal>
                    </ng-container>
                  </ng-template>
                </li>

                <li [ngbNavItem]="customerType.ORGANIZATION" class="col" 
                *ngIf="(dataInput && dataInput.customer_type == customerType.ORGANIZATION) || !id || id == undefined"
                >
                  <a ngbNavLink
                    ><span [data-feather]="'users'"></span> Doanh nghiệp</a
                  >
                  <ng-template ngbNavContent>
                    <ng-container>
                      <app-organization-doc #formOrganDoc>
                      </app-organization-doc>
                      <app-form-organiration
                        [countries]="countries"
                        [provinces]="provinces"
                        [submitted]="submitted"
                        [dataInput]="dataInput && dataInput.customer_type == customerType.ORGANIZATION ? dataInput : null"
                        #formOrganization
                      ></app-form-organiration>

                      <div class="row">
                        <div class="col-12">
                          <h4>Thông tin người đại diện</h4>
                          <br />
                        </div>
                      </div>
                      <app-form-personal #formOrganPeopleComponent [countries]="countries" [provinces]="provinces" [submitted]="submitted"
                        [dataInput]="dataInput && dataInput.customer_type == customerType.ORGANIZATION ? dataInput : null"></app-form-personal>
                    </ng-container>
                  </ng-template>
                </li>                 
              </ul>
            </div>

            <div [ngbNavOutlet]="navWithIcons" class="mt-2"></div>

            <div class="row pull-right">
              <div class="col-12">
                <a (click)="onSubmit()" class="btn btn-success">Submit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
