<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="row">
      <div>
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">{{ contentHeader.headerTitle }}</h4>
          </div>
          <div class="card-body">
            <div>
              <ul ngbNav #navWithIcons="ngbNav" class="nav-tabs">
                <li ngbNavItem class="col">
                  <a ngbNavLink
                    ><span [data-feather]="'user'"></span> Cá nhân</a
                  >
                  <ng-template ngbNavContent>
                    <ng-container>
                      <app-form-personal #formPeopleComponent
                      [countries]="countries"
                      [provinces]="provinces"
                      [submitted]="submitted"
                      [dataInput]="dataInput"

                      ></app-form-personal>
                    </ng-container>
                  </ng-template>
                </li>

                <li ngbNavItem class="col">
                  <a ngbNavLink
                    ><span [data-feather]="'users'"></span> Doanh nghiệp</a
                  >
                  <ng-template ngbNavContent>
                    <ng-container>
                      <app-organization-doc #formOrganDoc>
                      </app-organization-doc>
                      <app-form-organiration
                        #formOrganization
                      ></app-form-organiration>
                    </ng-container>
                  </ng-template>
                </li>                
              </ul>
            </div>

            <div [ngbNavOutlet]="navWithIcons" class="mt-2"></div>

            <div class="row pull-right">
              <div class="col-12">
                <a (click)="onSubmit()" class="btn btn-success">Submit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
