<div class="pl-3 pr-3" *ngIf="data">
    <div class="row">
        <div class="col-md-6 ">
            <div>
                <h3>{{ titleModal }}</h3>
            </div>
            <div>
                ID của yêu cầu: {{ data.task.id }}
            </div>
            <div>
                <span>Trạng thái: </span><span [innerHTML]="data.task.status | showStatusTelecom"></span>
            </div>
            <div>
                <span>Admin thao tác: </span>{{ data.user_sync }}
            </div>
        </div>
        <div class="mb-2 col-md-6 " *ngIf="data.task.status == taskTelecomStatus.STATUS_PROCESSING">
            <div>Thời gian thao tác</div>
            <app-task-countdown [endDate]="data.task.sync_lock"></app-task-countdown>
        </div>
        <div class="col-md-12 mb-2">
            <span>Thời gian tạo: </span> {{ data.task.request_time | date: 'dd/MM/yyyy H:mm':'UTC' }}<br>
            <span>Thời gian mua : </span> {{ data.task.buy_time | date: 'dd/MM/yyyy H:mm':'UTC' }}<br>
            <span>Thời gian cập nhật: </span> {{ data.task.updated_time | date: 'dd/MM/yyyy H:mm':'UTC' }}<br>
            <span>Thời gian hoàn thành: </span> {{ data.task.sync_time | date: 'dd/MM/yyyy H:mm':'UTC' }}
            <!-- <span
                *ngIf="data.task.status == taskTelecomStatus.STATUS_SUCCESS_PART || data.task.status == taskTelecomStatus.STATUS_SUCCESS || data.task.status == taskTelecomStatus.STATUS_CANCEL">
                Thời gian hoàn thành: </span> {{ data.task.sync_time | date: 'dd/MM/yyyy H:mm':'UTC' }} -->
        </div>
        <div class="col-md-12 mb-2" *ngIf="data.task.note">
            <span>Note: </span> {{ data.task.note }}
        </div>
    </div>

    <!-- <div class="row">
        <ul class="progressbar w-100">
            
            <li [ngClass]="{'active': [
            taskTelecomStatus.STATUS_NEW_ORDER,
            taskTelecomStatus.STATUS_PROCESSING,
            taskTelecomStatus.STATUS_PROCESS_TO_MNO, 
            taskTelecomStatus.STATUS_SUCCESS].includes(data.task.status) }">
                <span>Mới khởi tạo</span>
            </li>
            <li [ngClass]="{'active': [taskTelecomStatus.STATUS_PROCESSING, taskTelecomStatus.STATUS_PROCESS_TO_MNO, taskTelecomStatus.STATUS_SUCCESS].includes(data.task.status) }">
                <span>Đã tiếp nhận/đang xử lý</span>
            </li>
            <li [ngClass]="{'active': [
            taskTelecomStatus.STATUS_PROCESS_TO_MNO, 
            taskTelecomStatus.STATUS_SUCCESS].includes(data.task.status) }">
                <span>Đã đẩy sang nhà mạng</span>
            </li>
            <li [ngClass]="{'active': data.task.status == taskTelecomStatus.STATUS_SUCCESS}">
                <span>Thành công</span>
            </li>
        </ul>
    </div> -->


    <div class="row mb-4">
        <div class="col-md-6 border">
            <div class="row mb-2  p-2">
                <div class="col-md-12" *ngIf="data.task.action == listTaskAction['change_info']['value']">
                    <h4>Thông tin KH đã đăng ký</h4>
                </div>
                <div class="col-md-6 col-sm-12 mb-1">
                    <span><u>Loại giấy tờ</u>: <span class="text-info">{{ data?.people?.identification_type
                            }}</span></span>
                </div>
                <div class="col-md-6 col-sm-12 mb-1">
                    <span><u>Số giấy tờ</u>: <a placement="right" ngbTooltip="'Bấm để copy'"
                            *ngIf="data?.people?.identification_no"
                            (click)="copyTextClipboard(data?.people?.identification_no)">
                            <span class="text-info">{{ data?.people?.identification_no }}</span>
                        </a></span>
                </div>
                <div class="col-md-6 col-sm-12 mb-1">
                    <span><u>Ngày cấp</u>: <a placement="right" ngbTooltip="'Bấm để copy'"
                            *ngIf="data?.people?.identification_date"
                            (click)="copyTextClipboard(data?.people?.identification_date)">
                            <span class="text-info">{{ data?.people?.identification_date }}</span>
                        </a></span>
                </div>
                <div class="col-md-6 col-sm-12 mb-1">
                    <span><u>Nơi cấp</u>: <a placement="right" ngbTooltip="'Bấm để copy'"
                            *ngIf="data?.people?.identification_place"
                            (click)="copyTextClipboard(data?.people?.identification_place)">
                            <span class="text-info">{{ data?.people?.identification_place }}</span>
                        </a></span>
                </div>

                <div class="col-md-6 col-sm-12 mb-1">
                    <span><u>Họ và tên</u>: <a placement="right" ngbTooltip="'Bấm để copy'" *ngIf="data?.people?.name"
                            (click)="copyTextClipboard(data?.people?.name)">
                            <span class="text-info">{{ data?.people?.name }}</span>
                        </a></span>
                </div>
                <div class="col-md-6 col-sm-12 mb-1">
                    <span><u>Ngày sinh</u>: <a placement="right" ngbTooltip="'Bấm để copy'" *ngIf="data?.people?.birth"
                            (click)="copyTextClipboard(data?.people?.birth)">
                            <span class="text-info">{{ data?.people?.birth }}</span>
                        </a></span>
                </div>
                <div class="col-md-6 col-sm-12 mb-1">
                    <span><u>Số điện thoại liên hệ</u>: <a placement="right" ngbTooltip="'Bấm để copy'"
                            *ngIf="data?.people?.mobile" (click)="copyTextClipboard(data?.people?.mobile)">
                            <span class="text-info">{{ data?.people?.mobile }}</span>

                        </a></span>
                </div>
                <div class="col-md-12 col-sm-12 mt-1">
                    <h6>Địa chỉ thường trú:</h6>
                    <a placement="right" ngbTooltip="'Bấm để copy'" *ngIf="data?.people?.full_address"
                        (click)="copyTextClipboard(data?.people?.full_address)">
                        <span class="text-info">{{ data?.people?.full_address }}</span></a>
                </div>
                <div class="col-md-6 col-sm-12 mb-1">
                    <span><u>Thôn, số nhà</u>:
                        <a placement="right" ngbTooltip="'Bấm để copy'" *ngIf="data?.people?.address"
                            (click)="copyTextClipboard(data?.people?.address)">
                            <span class="text-info">{{ data?.people?.address }}</span></a></span>
                </div>
                <div class="col-md-6 col-sm-12 mb-1">
                    <span><u>Xã/phường</u>: <a placement="right" ngbTooltip="'Bấm để copy'"
                            *ngIf="data?.people?.communue" (click)="copyTextClipboard(data?.people?.communue)">
                            <span class="text-info">{{ data?.people?.communue }}</span>
                        </a></span>
                </div>
                <div class="col-md-6 col-sm-12 mb-1">
                    <span><u>Quận/huyện</u>: <a placement="right" ngbTooltip="'Bấm để copy'"
                            *ngIf="data?.people?.district" (click)="copyTextClipboard(data?.people?.district)">
                            <span class="text-info">{{ data?.people?.district }}</span>
                        </a></span>
                </div>
                <div class="col-md-6 col-sm-12 mb-1">
                    <span><u>Tỉnh/thành</u>: <a placement="right" ngbTooltip="'Bấm để copy'"
                            *ngIf="data?.people?.province" (click)="copyTextClipboard(data?.people?.province)">
                            <span class="text-info">{{ data?.people?.province }}</span>

                        </a></span>
                </div>
                <div class="col-md-6 mt-1">
                    <label for="">Ảnh giấy tờ mặt trước</label>
                    <img (click)="onViewImage(modalImage, 'cccd_front') " class="img-fluid rounded mb-75"
                        src="data:image/png;base64,{{ data?.people?.base64Front }}" alt="avatar img" />
                </div>

                <div class="col-md-6 mt-1">
                    <label for="">Ảnh chân dung</label>
                    <img (click)="onViewImage(modalImage, 'selfie') " class="img-fluid rounded mb-75"
                        src="data:image/png;base64,{{ data?.people?.base64Selfie }}" alt="avatar img" />
                </div>
                <div class="col-md-6">
                    <label for="">Ảnh giấy tờ mặt sau</label>
                    <img (click)="onViewImage(modalImage, 'cccd_back') " class="img-fluid rounded mb-75"
                        src="data:image/png;base64,{{ data?.people?.base64Back }}" alt="avatar img" />
                </div>
                <div class="col-md-6">
                    <label for="">Ảnh chữ ký</label>
                    <img (click)="onViewImage(modalImage, 'signature') " class="img-fluid rounded mb-75"
                        src="data:image/png;base64,{{ data?.people?.base64Signature }}" alt="avatar img" />
                </div>
                <div class="col-md-6" style="height: 250px;
            overflow: hidden;">
                    <label for="">{{ titleDocumentImage }}</label>
                    <img class="img-fluid rounded mb-75" src="data:image/png;base64,{{ data?.task?.document_image }}"
                        alt="avatar img" />
                    <p class="hide_content"></p>
                </div>


            </div>

        </div>
        <div class="col-md-6 border"
            [style]="data.task.action == listTaskAction['new_sim']['value'] ? 'height: 600px; overflow-y: auto' : ''">
            <div class="row mb-2  p-2" *ngIf="data.task.action == listTaskAction['change_info']['value']">
                <div class="col-md-12">
                    <h4>Thông tin KH để xác thực</h4>
                </div>
                <div class="col-md-6">
                    <label for="">Ảnh giấy tờ mặt trước</label>
                    <img (click)="onViewImage(modalImage, 'cccd_front_compare') " class="img-fluid rounded mb-75"
                        src="data:image/png;base64,{{ data?.people?.base64FrontCompare }}" alt="avatar img" />
                </div>
                <div class="col-md-6">
                    <label for="">Ảnh chân dung</label>
                    <img (click)="onViewImage(modalImage, 'selfie_compare') " class="img-fluid rounded mb-75"
                        src="data:image/png;base64,{{ data?.people?.base64SelfieCompare }}" alt="avatar img" />
                </div>
                <div class="col-md-6">
                    <label for="">Ảnh giấy tờ mặt sau</label>
                    <img (click)="onViewImage(modalImage, 'cccd_back_compare') " class="img-fluid rounded mb-75"
                        src="data:image/png;base64,{{ data?.people?.base64BackCompare }}" alt="avatar img" />
                </div>

                <div class="col-md-6">
                    <label for="">Ảnh chữ ký</label>
                    <img (click)="onViewImage(modalImage, 'signature_compare') " class="img-fluid rounded mb-75"
                        src="data:image/png;base64,{{ data?.people?.base64SignatureCompare }}" alt="avatar img" />
                </div>
            </div>
            <div class="row mb-2  p-2 border-bottom" *ngFor="let itemN of data?.msisdn?.msisdns">
                <div class="col-md-12" *ngIf="data.task.action == listTaskAction['change_info']['value']">
                    <h4>Thông tin đã đấu nối</h4>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
                    <span><u>Số thuê bao</u>:
                        <a placement="right" ngbTooltip="'Bấm để copy'" *ngIf="itemN?.msisdn"
                            (click)="copyTextClipboard(itemN?.msisdn)">
                            <span class="text-info">{{ itemN?.msisdn }}</span>

                        </a></span>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
                    <span><u>Serial</u>:
                        <a placement="right" ngbTooltip="'Bấm để copy'" *ngIf="itemN?.serial"
                            (click)="copyTextClipboard(itemN?.serial)">
                            <span class="text-info">{{ itemN?.serial }}</span></a></span>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
                    <span><u>Nhà mạng</u>: <span [innerHTML]="itemN?.mno | showIconMno"></span></span>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
                    <span><u>Gói cước</u>:
                        <span class="text-info">{{ itemN?.package }}</span>
                    </span>
                </div>
                <div class="col-md-3 mb-2"></div>
                <div class="col-md-6 mb-2" *ngIf="data.task.action == listTaskAction['new_sim']['value']">
                    <label for="">Ảnh sim</label>
                    <img (click)="onViewImage(modalImage, 'sim', itemN?.msisdn) " class="img-fluid rounded mb-75"
                        src="data:image/png;base64,{{ data?.msisdn?.base64SimFile[itemN?.msisdn] }}" alt="avatar img" />
                </div>
                <div class="col-md-3 mb-2"></div>

                <div class="col-md-6" *ngIf="data.task.action == listTaskAction['new_sim']['value']">
                    <span class="text-success" *ngIf="itemN.state == msisdnStatus.STATUS_PROCESSED_MNO_SUCCESS"><i
                            data-feather="check-circle" class="text-success cursor-pointer"></i>
                        Đã đấu nối thành công
                    </span>
                    <div *ngIf="itemN.state == msisdnStatus.STATUS_PROCESSED_MNO_FAIL">
                        <span class="text-danger"><i data-feather="slash" class="text-danger cursor-pointer"></i>
                            Đã từ chối
                        </span>
                        <br>
                        Lý do: {{ itemN.note }}
                    </div>
                </div>

                <div class="col-md-6"
                    *ngIf="currentUserId == data?.task?.sync_by && data.task.action == listTaskAction['new_sim']['value']">
                    <div class="row pull-right">
                        <a *ngIf="data?.msisdn?.msisdns.length > 1 
                        && ((itemN.state !=  msisdnStatus.STATUS_PROCESSED_MNO_SUCCESS
                        && data?.task?.status == taskTelecomStatus.STATUS_PROCESSING) || itemN.state === null )
                        " class="ml-2 btn btn-sm btn-outline-success"
                            (click)="onUpdateStatusMsisdn(itemN, msisdnStatus.STATUS_PROCESSED_MNO_SUCCESS)">
                            <i data-feather="check-circle" class="text-success cursor-pointer"></i>
                            Đấu nối thành công
                        </a>
                        <a class="ml-2 btn btn-sm btn-outline-danger" *ngIf="
                    data?.msisdn?.msisdns.length > 1 && (
                    (itemN.state !=  msisdnStatus.STATUS_PROCESSED_MNO_SUCCESS && itemN.state !=  msisdnStatus.STATUS_PROCESSED_MNO_FAIL
                    && data?.task?.status != taskTelecomStatus.STATUS_PROCESSING
                    )

                    || (itemN.state !=  msisdnStatus.STATUS_PROCESSED_MNO_SUCCESS && data?.task?.status == taskTelecomStatus.STATUS_PROCESSING)
                    || itemN.state === null
                    )" (click)="onUpdateStatusMsisdn(itemN, msisdnStatus.STATUS_PROCESSED_MNO_FAIL)">
                            <i data-feather="slash" class="text-danger cursor-pointer"></i>
                            Từ chối
                        </a>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="row" *ngIf="data.task.action == listTaskAction['change_info']['value']">
                        <div class="col-md-12">
                            <h4>Thông tin cập nhật</h4>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-2"></div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
                            <span><u>Serial</u>:
                                <a placement="right" ngbTooltip="'Bấm để copy'"
                                    *ngIf="data?.msisdn?.newInfo[itemN?.msisdn]['serial']"
                                    (click)="copyTextClipboard(data?.msisdn?.newInfo[itemN?.msisdn]['serial'])">
                                    <span class="text-info">{{ data?.msisdn?.newInfo[itemN?.msisdn]['serial'] }}
                                    </span>
                                </a></span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                            <label for="">Ảnh sim mới</label>
                            <img (click)="onViewImage(modalImage, 'sim_compare', itemN?.msisdn) "
                                class="img-fluid rounded mb-75"
                                src="data:image/png;base64,{{ data?.msisdn?.listBase64NewSim[itemN?.msisdn] }}"
                                alt="avatar img" />
                        </div>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row" *ngIf="data.task.action == listTaskAction['change_info']['value']">
                        <div class="col-md-12">
                            <h4>Các số thường xuyên liên lạc</h4>
                        </div>
                        <div class="col-md-4"
                            *ngFor="let itemDialed of data?.msisdn?.newInfo[itemN?.msisdn]['dialed_numbers'];let i = index">
                            <a placement="right" ngbTooltip="'Bấm để copy'" *ngIf="itemDialed"
                                (click)="copyTextClipboard(itemDialed)">
                                {{i+1}}. <span class="text-info">{{ itemDialed }}</span></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-12">
            <div class="col-md-12 text-center" *ngIf="data.task.status != taskTelecomStatus.STATUS_CANCEL">
                <a class="ml-2 btn btn-primary" (click)="onDownloadImages()">
                    <i data-feather="download" class="text-white cursor-pointer"></i>
                    <span *ngIf="data.task.action == listTaskAction['change_info']['value']">
                        Tải về hình ảnh cập nhật
                    </span>
                    <span *ngIf="data.task.action == listTaskAction['new_sim']['value']">
                        Tải tất cả hình ảnh về
                    </span>

                </a>
            </div>
        </div>
    </div>
    <div class="row mb-3"
        *ngIf="data?.task?.status == taskTelecomStatus.STATUS_SUCCESS_PART || data?.task?.status == taskTelecomStatus.STATUS_SUCCESS || data?.task?.status == taskTelecomStatus.STATUS_CANCEL">
        <span>Thời gian hoàn thành: </span> {{ data.task.sync_time | date: 'dd/MM/yyyy H:mm':'UTC' }}
    </div>
    <div class="row mb-3" *ngIf="data.task.note">
        <span>Note: </span> {{ data.task.note }}
    </div>
    <div class="row pull-right"
        *ngIf="currentUserId == data?.task?.sync_by && data.task.status != taskTelecomStatus.STATUS_SUCCESS">
        <!-- <a class="btn btn-info mr-3" (click)="onSendMessage(data.task)">
        <i data-feather="message-square" class="text-white cursor-pointer"></i>
        Phản hồi cho đại lý
    </a> -->
        <!-- <div *ngIf="data.task.status == taskTelecomStatus.STATUS_PROCESSING">
        <a class="ml-2 btn btn-info" (click)="onUpdateStatus(data.task, taskTelecomStatus.STATUS_PROCESS_TO_MNO)">
            <i data-feather="arrow-right-circle" class="text-white cursor-pointer"></i>
            Đẩy sang nhà mạng
        </a>
    </div> -->
        <div *ngIf="data?.task?.status == taskTelecomStatus.STATUS_PROCESSING">
            <a class="ml-2 btn btn-success" (click)="onUpdateStatus(data.task, taskTelecomStatus.STATUS_SUCCESS)">
                <i data-feather="check-circle" class="text-white cursor-pointer"></i>
                <span *ngIf="data.task.action == listTaskAction['change_info']['value']">
                    Cập nhật thành công
                </span>
                <span
                    *ngIf="data.task.action == listTaskAction['new_sim']['value'] && data?.msisdn?.msisdns.length < 2">
                    Đấu nối thành công
                </span>
                <span
                    *ngIf="data.task.action == listTaskAction['new_sim']['value'] && data?.msisdn?.msisdns.length > 1">
                    Đấu nối thành công tất cả
                </span>
            </a>
            <a class="ml-2 btn btn-success" *ngIf="mnos.includes('VNM')"
                (click)="asyncToMnoViaApi(data.task)">
                <i data-feather="check-circle" class="text-white cursor-pointer"></i>
                <span>
                    Đồng bộ thông tin thuê bao qua API VNM
                </span>
            </a>
            <a class="ml-2 btn btn-info" *ngIf="data?.msisdn?.msisdns.length > 1"
                (click)="onUpdateStatus(data.task, taskTelecomStatus.STATUS_SUCCESS_PART)">
                <i data-feather="check-circle" class="text-white cursor-pointer"></i>
                <span>
                    Đấu thành công 1 phần
                </span>

            </a>

        </div>
        <div
            *ngIf="data?.task?.status == taskTelecomStatus.STATUS_PROCESSING  || data?.task?.status == taskTelecomStatus.STATUS_PROCESS_TO_MNO">
            <a class="ml-2 btn btn-danger" (click)="onUpdateStatus(data.task, taskTelecomStatus.STATUS_REJECT)">
                <i data-feather="slash" class="text-white cursor-pointer"></i>
                <!-- <span *ngIf="data.task.action == listTaskAction['change_info']['value']">
                Cập nhật thất bại
            </span>
            <span *ngIf="data.task.action == listTaskAction['new_sim']['value']">
                Đấu nối thất bại
            </span> -->
                Từ chối yêu cầu

            </a>
        </div>
        <!-- <div *ngIf="data.task.status != taskTelecomStatus.STATUS_CANCEL && data.task.status != taskTelecomStatus.STATUS_SUCCESS">
        <a class="ml-2 btn btn-danger" (click)="onUpdateStatus(data.task, taskTelecomStatus.STATUS_CANCEL)">
            <i data-feather="slash" class="text-white cursor-pointer"></i>
            Hủy yêu cầu
        </a>
    </div> -->
    </div>
</div>

<ng-template #modalImage let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel160"></h4>
        <button type="button" class="close" (click)="onCloseModalImage()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0">
        <app-poup-view-image [srcImage]="viewImage"></app-poup-view-image>
    </div>
</ng-template>