<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="row" id="table-striped">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">{{ contentHeader.headerTitle }}</h4>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmitSearch()">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input
                      type="text"
                      name="mobile"
                      [(ngModel)]="searchForm.user"
                      class="form-control"
                      placeholder="Nhập số điện thoại"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <input
                      type="text"
                      name="cccd"
                      [(ngModel)]="searchForm.user"
                      class="form-control"
                      placeholder="Số CCCD của KH"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <input
                      type="text"
                      name="customer_name"
                      [(ngModel)]="searchForm.user"
                      class="form-control"
                      placeholder="Tên khách hàng"
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <button type="button" class="btn btn-block btn-info">
                      Lọc kết quả
                    </button>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <button type="button" class="btn btn-success mr-2">
                      Thêm khách hàng
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>ID khách hàng</th>
                    <th>Tên khách hàng</th>
                    <th>SĐT</th>
                    <th>Loại khách hàng</th>
                    <th>Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of list">
                    <td>{{ item?.id }}</td>
                    <td>{{ item?.user?.people?.name }}</td>
                    <td>
                      {{ item?.user?.people?.mobile }}
                    </td>
                    <td>
                      <div [innerHTML]="item.status | showStatusLoan"></div>
                    </td>

                    <td>
                      <a
                        ngbTooltip="Xem chi tiết"
                        (click)="modalOpen(modalItem, item)"
                      >
                        <i
                          data-feather="eye"
                          class="text-primary cursor-pointer"
                        ></i>
                      </a>
                      <a
                        class="ml-2"
                        ngbTooltip="Cập nhật thông tin"
                        [routerLink]="['/customer/view']"
                      >
                        <i
                          data-feather="credit-card"
                          class="text-primary cursor-pointer"
                        ></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>

              <ngb-pagination
                class="d-flex justify-content-end pr-3 pt-2"
                [collectionSize]="total"
                [(page)]="searchForm.page"
                [directionLinks]="false"
                (pageChange)="loadPage($event)"
              ></ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalItem let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160"></h5>
    <button
      type="button"
      class="close"
      (click)="modalClose()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" *blockUI="'item-block'">
    <app-thong-tin-thue-bao
      [msisdn]="selectedItem"
      [service]="'gtalk'"
    ></app-thong-tin-thue-bao>
  </div>
</ng-template>
