<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <div class="row" id="table-striped">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Lịch sử giao dịch</h4>
                    </div>

                    <div class="card-body">
                        <form (ngSubmit)="onSubmitSearch()">
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Từ ngày</label>
                                        <input type="date" name="from" [(ngModel)]="searchSim.from"
                                            class="form-control" />
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Tới ngày</label>
                                        <input type="date" name="to" [(ngModel)]="searchSim.to" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="">Số thuê bao</label>
                                        <input type="tel" name="msisdn" [(ngModel)]="searchSim.msisdn" mask="0000000000"
                                            class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="">Trạng thái</label>
                                        <select [(ngModel)]="searchSim.type" name="type" class="form-control">
                                            <option value="">Chọn trạng thái</option>
                                            <option value="all">All</option>
                                            <option value="sms">SMS</option>
                                            <option value="voice">Voice</option>
                                            <option value="data">Data</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for=""></label>
                                        <button [disabled]="" type="submit" class="btn btn-block btn-info">
                                            Lọc kết quả <span [data-feather]="'search'"></span>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </form>

                        <div class="table-responsive" *blockUI="'section-block'">
                            <table class="table table-striped text-nowrap" *ngIf="list">
                                <thead>
                                    <tr>
                                        <th>Số / Serial SIM</th>
                                        <th>Thời gian</th>
                                        <th>Số tiền phát sinh</th>
                                        <th>Số điện thoại nhận</th>
                                        <th>Số dư sau giao dịch</th>
                                        <th>Trạng thái</th>
                                        <th>Ghi chú</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let item of list;let i = index">
                                        <td>{{ item?.Account }}</td>
                                        <td>{{ item?.Time | date: 'dd/MM/yyyy H:mm':'GMT' }}</td>
                                        <td>{{ item?.BalanceChange | number }}</td>
                                        <td>{{ item?.Destination }}</td>
                                        <td>{{ item?.BalanceAfter | number }}</td>
                                        <td>{{ item?.Action }}</td>
                                        <td>{{ item?.Note }}</td>


                                    </tr>
                                </tbody>
                            </table>

                            <div *ngIf="showMessage">
                                <h6 style="text-align: center">
                                    Không tìm thấy thông tin sim/số. Vui lòng nhập lại!
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>